[2021-07-15 02:36] D4nte commented on #404
This was initially to track a single change done on eth-dm's behaviour (format use), now updated to track all changes. compressed JSON was dropped (see https://github.com/status-im/js-waku/issues/214#issuecomment-871093894)

[2021-07-15 05:38] oskarth commented on #404
Ok, feel free to move to backlog if you want

[2021-07-16 03:45] D4nte opened #428 "26/WAKU-PAYLOAD: Signing timestamps to avoid re-usage of messages"
For featured communities, we want users to be able to showcase their favorite community by voting for it.
Community are featured for one week. Votes cast in the last 4 weeks are cummulated towards a community count. It's all done over Waku.To ensure that

Votes are weighted by SNT tokens held by the voter. Hence, votes are signed with the Ethereum account of the holder.

We are using Waku Message

[2021-07-16 07:06] oskarth commented on #420
Thanks @staheri14 and @John-44 for the discussion! Some partial answers to things mentioned:

It might be possible to do dynamically, but the easiest way to do deal with this is to either 1) start with this capability 2) restart node when changing preference.

Indeed shouldn't be an issue if this is something we need. Also see SWAP protocol for a more economic solution, but this can be complementa

[2021-07-16 07:26] oskarth opened #429 "RFC: Capabilities advertising"
### Discussed in https://github.com/vacp2p/rfc/discussions/374

<div type='discussions-op-text'>

<sup>Originally posted by **oskarth** April 21, 2021</sup>

# Problem

Just knowing a peer is using STORE doesn't tell you much about what they are storing, if anything.

## Proposed solution

An alternative and perhaps a more efficient solution we may want to consider an approach where nodes periodic

[2021-07-16 07:29] oskarth opened #430 "Feature request: More robust timestamps"
### Discussed in https://github.com/vacp2p/rfc/discussions/397

<div type='discussions-op-text'>

<sup>Originally posted by **bgits** June 11, 2021</sup>
Having reliable timestamps would be valuable for a wide range of applications. Even accuracy within a range of minutes from time of origination covers a wide range of applications. What research or proof of concepts already exists into how this c

[2021-07-16 10:05] arnetheduck commented on #420
what I think is important to begin with  to unpack the problem into smaller components, and see what can be done with each component individually, with regards to decentralization:

* a torrent, or any DHT really, is able to store immutable content durably, if there are altruistic nodes around, as others have pointed out
* a history needs a way to establish (at least partial) ordering of messages

[2021-07-16 11:20] John-44 commented on #420
As promised, here is a link to some[ work in progress designs](https://www.figma.com/file/vyw2Y5K74EAj33APmcI0wL/%F0%9F%94%AE-Node%E2%8E%9CDesktop?node-id=572%3A4515 ) for the community history service management screens. A few things to note:
- We will probably get rid of the memory cap control because most likely it will not be needed.  So ignore this in the designs.
- These designs aren't final

[2021-07-16 11:41] John-44 commented on #420
To provide a bit more detail regarding some of the points discussed above:

- The only ways in which the message history can be mutated is via the 'edit message' and 'delete message' functions.  The majority of message editing and deleting takes place minutes after a message has been posted, with almost all edits taking place within 3 days of a message being posted (true on any group messaging pla

[2021-07-16 12:15] arnetheduck commented on #420
Just to be clear, neither of these functions are really "implementable" except as a smoke screen that hides the original message and the ui would do well to .. explain this to users - ie once you go into immutable datastores territory, you can't really remove things (an edit is a delete + add) - in general "N days" considerations are not really in scope, it's more of a paint job on top later _unle

[2021-07-16 12:23] John-44 commented on #420
1000% agree that every feature has a cost and that being decentralised usually means amplifying that cost!  With this in mind, here is a very rough sketch of a possible solution that I think could deliver on the requirements stated at the top of this thread and allow the implementation of the designs linked above with the least amount of effort:

1) Each community's 'owner node' (every community w

[2021-07-16 12:26] John-44 commented on #420
Right, yes fully agreed the current edit and delete functionality is just a 'smoke screen/paint job' as you described it.  Still useful, but not a function that can be relied on for privacy.

[2021-07-19 05:57] oskarth opened #434 "Ensure node identity is separate from PeerID"
# Problem

To the extent that we have "node identity", i.e. in the form of keypairs etc, this should be separate from PeerID. PeerID MAY be rotated, and tying it too close to a node identity has privacy concerns.

Also see eth2 design with validator id being separate from peer id.

[2021-07-19 10:25] oskarth commented on #430
FYI @D4nte if this is interesting to support from a DappConnect POV

[2021-07-19 10:29] oskarth commented on #428
Isn't this an application level concern? Why do we need to change the Waku payload for this use case?

If we think it is too complex for dapp devs to do, maybe we can have a separate dev doc guide/spec for it?

[2021-07-19 20:03] iurimatias commented on #420
hey @arnetheduck , I was thinking something similar along those lines. i.e to implement this as a torrent client of sorts, with the altruistic users functioning as seeders and the users requesting old history functioning as leeches. A specific community log time period (let's say each 24 hours) could be represented through a magnet link (or something similar) that is determined based on the commun

[2021-07-20 04:20] D4nte commented on #428
I agree that resolving this at an application level is fine. I just thought I'd articulate this problem see if there was an interest in making it part of the PAYLOAD. Seems not.

[2021-07-20 04:20] #428 closed, assigned to nobody

[2021-07-20 04:23] D4nte commented on #430
It could be interesting yes. Some notes:
- At this stage, as you mentioned, the exact requirement is not clear to me
- @Szymx95 is currently working on "Featured community gasless polling" that do involve some guarantees around the timestamp that may answer some this problems.

The way I see it is that it is mainly application level, except if we want the store nodes to do something special with t

[2021-07-21 10:15] jakubgs opened #436 "8/WAKU1: Incorrect information about v1 mailserver privacy"
This sentence indicates that the relationship between a light node and a mailserver is special:

https://rfc.vac.dev/spec/8/#security-considerations

It suggests that only mailservers can send "direct traffic" and receive information like IP, ID, and topic interests.

But this sentence indicates the opposite:

https://rfc.vac.dev/spec/6/#light-node-privacy

It instead suggests that normal relay no

[2021-07-21 23:34] staheri14 commented on #406
The waku store protocol is ready to be marked stable. cc: @oskarth
- Two items of the above checklist are completed.
- After some investigation, the second item is crossed out,  it turned out that the current choice of float64 is more precise than int64 because it accommodates sub-seconds in the fractional part (which contrasts with int64 that is usually used for seconds precision).
- We also deci

[2021-07-22 03:17] oskarth commented on #406
Thanks for the update @staheri14!

Question on timestamp: I see the rationale for float64, though it does strike me as a bit odd for some reason (maybe due to precision?). Did we consider the use of int64 nanosecond (or similar) considered? I believe the is this would accommodate sub-seconds. What is e.g. Nimbus using?

[2021-07-22 15:17] John-44 commented on #420
One other consideration for any potential solution to take into account - currently images posted in chats are hosted on IPFS, however we don't want to pin all images that are posted in all communities to IPFS forever, therefore IPFS is a bad long term storage solution for images posted in community chats.  So if possible it could be good if the community history service includes the images posted

[2021-07-28 03:27] oskarth commented on #420
This conversation has gotten quite long and touches many different concerns at the same time. @staheri14 did a great breakdown here https://github.com/vacp2p/research/issues/82

You can see all issues here https://github.com/vacp2p/research/milestone/8

I suggest we continue the discussion in the most specific issue possible. For example, talk about how to optionally offload archival data can be t

[2021-07-29 07:08] D4nte opened #438 "14/WAKU2-MESSAGE: Specify Waku Message timestamp format"
# Problem

The [spec](https://rfc.vac.dev/spec/14/) says:

So the timestamp is the _Unix epoch time_ and is a float double.

My interpretation is that it represent _seconds_ and it is up to the implementation to choose the fractional unit (milliseconds, nanoseconds, etc) as long as it can fit in a double.

# Solution

Clarifying the unit would remove possible ambiguity.

[2021-07-29 07:18] D4nte commented on #438
It seems that indeed, seconds are expected as nim-waku uses [`epochTimes`](https://nim-lang.org/docs/times.html#epochTime) which seems to return seconds:

https://github.com/status-im/nim-waku/blob/6b1e0c30791c9bd7614978f18c450564e794ca0f/tests/v2/test_message_store.nim#L19

[2021-07-30 17:12] staheri14 opened #439 "14-WAKU2-MESSAGE: Security issue related to unencrypted timestamp of WakuMessage"
# Problem
While currently, the `timestamp` is not part of the relay [`Message`](https://rfc.vac.dev/spec/11/#message-fields), it is always accessible in plaintext even when the `WakuMessage` is encrypted. This is because encryption only affects the `payload` of `WakuMessage` but not other fields like `timestamp`. As such, a relay node is able to extract the `timestamp` from a relayed `WakuMessage`

[2021-07-30 18:33] staheri14 opened #440 "14-WAKU2-MESSAGE: Validating WakuMessage sender timestamp"
# Problem
Waku messages carry a timestamp that is generated by the user. As mentioned by @jakubgs in https://github.com/status-im/nim-waku/pull/681/files#r676126058

**Context**: The `timestamp` is the unix epoch time but not a logical clock like Lamport. And the overall assumption in our design is that nodes in the system have synchronized clocks with +-20 sec margin.

# Acceptance criteria
- To

[2021-08-02 00:29] D4nte commented on #440
From an application point of view, `timestamp` must not be trusted and if the application needs to have verifiable timestamp then other logics needs to be put in place by the application to cater this need.

Once a number of applications implements such logics it would be interesting to review whether a common standard should be proposed to help with interoperability and new projects bootstraping.

[2021-08-02 02:27] oskarth commented on #436
Would you mind having a look at this and update specs accordingly @staheri14? Should be a simple fix

[2021-08-02 03:25] oskarth opened #441 "13/WAKU2-STORE / 14/WAKU2-MESSAGE: Allow messages to be marked as "don't store""
# Original problem

Sometimes the application might produce messages that don't need to be stored, an example would be a ping to show that you are online, or for example messages that are time sensitive (say a push notification, through our current push notification system, which would be ignored if retrieved at a later date).

In those cases it would be useful to mark them as "don't store", so th

[2021-08-02 03:28] oskarth commented on #441
Migrating from discussions (https://github.com/vacp2p/rfc/discussions/427 will be dead soon).

Assuming this https://github.com/vacp2p/rfc/discussions/427#discussioncomment-1010374 clears up the other issue. If not, let's open a separate issue for that problem.

For now I'd probably err on the side of having a simple ephemeral field, unless we have see a strong use case for TTL? Considering what h

[2021-08-02 04:37] oskarth commented on #439
Can we make this issue a bit more tight with a clear problem description, proposed solution and acceptance criteria? Right now it is a bit all over the place and a lot of text.

[2021-08-02 08:20] arnetheduck commented on #439
Like any metadata leak, the thing to consider is what the timestamp gives us in terms of features (casual ordering?), that cannot be solved in the encrypted part of the message.

Being set by the source, a timestamp leaks information about the origin of the message, as opposed to for example receipt time which is local - assuming you're querying messages from a single history node, it's fine - wha

[2021-08-03 03:54] oskarth opened #443 "10/WAKU2: General improvements"
The main Waku v2 spec hasn't been updated in a while, and it is outdated in quite a few areas. Our understanding of what Waku is has also improved, and there is general improvements to the copy that can be made.

Improve this spec so it is up to date and reads better.

[2021-08-03 04:40] oskarth opened #445 "Adaptive node spec"
# Problem

Currently it isn't clear to many people:

1) What an adaptive node is
2) What this means for protocol selection
3) What the network looks like
4) What impact using a certain set of protocols has

# Acceptance criteria

A spec that illustrates this and is linked to from the main spec.

# Notes

This has largely been done in a private Miro sketch https://miro.com/app/board/o9J_l5zncp0=/

[2021-08-03 04:47] oskarth commented on #406
Brief update: general Waku v2 main spec improvements https://github.com/vacp2p/rfc/pull/444

[2021-08-03 05:01] oskarth opened #446 "Protocol request: Direct group communication protocol for low-latency applications (<100ms)"
# Problem

Some applications have a requirement for lower-latency direct communication as a group. This can be due to (soft) real time comm requirement. For example, video chat.

This can either be for 1-1 or as a group of N participants.

## Relay/Gossip latency

From https://research.protocol.ai/publications/gossipsub-v1.1-evaluation-report/

This is what we are working with. More benchmarking e

[2021-08-03 18:31] staheri14 commented on #446
If nodes in the _limited context_ are supposed to be _trusted_ as well as with _no churn_, then, for a more advanced solution, you may want to consider the Kademlia routing overlay which features lower storage overhead (logarithmic instead of linear) and logarithmic routing complexity. @oskarth

Update: Had another look at the issue, I think Kademlia might not be very relevant.

[2021-08-05 05:07] #443 closed, assigned to oskarth

[2021-08-05 20:26] staheri14 commented on #436
You are right in the sense that they both have a direct connection to the light node and get to see its IP, ID and topic interests. However, there is a difference between the **amount of information disclosed** to a relay and mailservers as well as **how that information is disclosed**
A light node, in connection with a relay node, gives up its privacy when it attempts to **publish a message**. Th

[2021-08-05 21:30] staheri14 commented on #439
Absolutely, the issue is now revised! @oskarth Hope it is more clear now!

[2021-08-05 22:01] staheri14 commented on #440
Thanks a lot @D4nte  for your great insights!

Thanks for sharing the voting scenario, that captures the need for the integrity of the timestamp and the fact that no one should be able to tamper with the timestamp of a published message.
The integrity (and confidentiality, and authenticity) should indeed hold not only for the timestamp but also for all the other fields of a `wakumessage` e.g., `co

[2021-08-06 08:17] jakubgs commented on #436
Okay, I guess the function of the lightpush node is just to receive sent messages? Then which protocol is responsible for receiving not expired envelopes? Filter? Anyway, if it's filter then filter ALSO receives IP, ID, and topic interest. So the objection is the same, history nodes are not special, they see these three pieces of data, same as filter and lightpush nodes.

At the very least the cla

[2021-08-06 10:01] oskarth commented on #436
Let's not mix Waku v1 and Waku v2 terminology. Waku v1 shouldn't have any references to Waku v2, other than perhaps saying "here's the new version". Lightpush, filter protocol (not filters in Whisper/Waku) aod Store protocol are Waku v2 concepts and out of scope for this issue.

[2021-08-06 14:17] richard-ramos commented on #441
I can see having both ephemeral fields and TTL being useful for different situations:

1. The messages used for syncing channels/contacts can be considered ephemeral as it is assumed that all the devices being sync'd are online at the same time. It probably does not make sense to store these messages.

2. TTL might be useful with the Online/Offline Status, for example, with the current implementat

[2021-08-06 18:48] staheri14 commented on #441
Thanks, @richard-ramos for your comment! That makes perfect sense! Do you think that is a pressing need? I mean the support for TTL and ephemeral fields?

[2021-08-06 18:59] staheri14 opened #448 "14-WAKU2-MESSAGE: Data type and resolution of timestamp"
# Problem
The data type of timestamp in Waku2 (Wakumessage and in the store protocol) is set to float64, which represents seconds in the integer part and sub-seconds in the fractional part.  However, this is not certain whether float64 is an appropriate type or int64 shall be used instead. Another question is also about the desired resolution i.e., seconds only or sub-seconds.

Opened the issue to

[2021-08-06 19:00] staheri14 commented on #448
Update:
Based on what I have found so far in nim-eth and nimbus-eth1, the time is either:

- saved as uint32/64 with seconds resolution e.g., in RLPx whisper Envelope ([expiry](https://github.com/status-im/nim-eth/blob/9bc4fa366af2f75dd2c8608964dc6dc3614b3f81/eth/p2p/rlpx_protocols/whisper_protocol.nim#L357) field) and in discovery4 like in [here](https://github.com/status-im/nim-eth/blob/9bc4fa36

[2021-08-06 21:03] staheri14 commented on #448
Further Updates:

The Unix timestamp is commonly known and calculated as

The implementation of Twitter pagination and [Facebook time-based pagination](https://developers.facebook.com/docs/graph-api/results) also adheres to the seconds resolution.

From my point of view and based on the research I have done so far, it is up to us to decide on our preferred time resolution and also be clear about t

[2021-08-06 21:06] staheri14 commented on #448
@jm-clius @D4nte @richard-ramos thoughts/comments?

[2021-08-06 21:08] staheri14 commented on #406
sub-seconds. What is e.g. Nimbus using?

@oskarth
Opened this [issue](https://github.com/vacp2p/rfc/issues/448) to address your comment.

[2021-08-06 21:36] staheri14 opened #449 "14/WAKU2-MESSAGE: Lack of integrity for `contentTopic` and `timestamp` in waku messages"
# Problem
The problem is that currently there is no method to ensure the integrity of the `contentTopic`  and `timestamp` fields of waku messages. As such, an adversarial node can tamper with these fields without being caught. This can be exploited for censorship, e.g., the attacker can make the message unavailable by changing its `timestamp` to a time in the past. Similarly, the adversary may ame

[2021-08-06 21:42] staheri14 commented on #449
FYI: @oskarth, @jm-clius

[2021-08-06 22:13] richard-ramos commented on #448
For what is worth, in Go I do have access to the unix epoch in seconds and nanoseconds, althought both of them are int64.
[code]
In order to support the float64 timestamps that WakuMessage has, I need to perform this conversion:
[code]

[2021-08-06 22:20] richard-ramos commented on #441
I think these features are "Nice to have"s. The Status app can still work without the existence of these fields. We just need to be aware that messages that are supposed to be ephemeral, will be persisted on the DB which might not be ideal (due to wasted storage space allocated to these).

[2021-08-06 23:49] staheri14 commented on #448
I see! Then the use of `float64` for time is not conventional in Go.
I also agree that the data type of `float64` is not very common to capture time.

[2021-08-07 00:04] staheri14 commented on #448
Some other inputs from nimbus dev-helpdesk:

Thus int64/uint64 is a more meaningful and common choice for time (but not float values). We are getting to a consensus re the data type; which should be uint or int.

Also, re being unsigned or signed, signed is a safer choice and avoids arithmetic bugs.

[2021-08-09 04:32] oskarth commented on #448
@kdeme thoughts from Nim POV? Was there a specific rationale for:

[2021-08-10 12:13] jm-clius commented on #439
One way in which the sender-generated timestamp can be exploited is by using some form of timing/probability analysis to determine the identity of the originating peer (e.g. comparing the known latency to a peer with the time elapsed since the sender timestamp). Couldn't a possible solution be to just use a coarser timestamp resolution (say ticking only once per second, or ticking on 0.5s boundari

[2021-08-10 18:56] staheri14 commented on #439
Thanks for the comment @jm-clius!
Using a coarser timestamp resolution is one way to approach the problem, and is indeed one of the anonymization techniques for time-series data and is called generalization which yields k-anonymity. However, the issue, as you also mentioned, is about data utility.  I am going to add it as one of the potential solutions (please see the updated issue description). T

[2021-08-11 01:15] D4nte commented on #448
FYI JS uses milliseconds since epoch (integer): https://www.w3schools.com/jsref/jsref_gettime.asp

Howevever, I don't think it should have an influence on the decision.

No other thoughts/comments from my side.

[2021-08-12 09:03] kdeme commented on #448
The peer pool code linked is not discovery v5 code and much older and not the best example to look at nowadays.

In discoveryv5 (and probably in most more recent code in general) we use chronos `Moment` and the `now` proc, for example here: https://github.com/status-im/nim-eth/blob/a8d11dd30bf0b844e049702353addbbca803845c/eth/p2p/discoveryv5/protocol.nim#L131

I guess it depends on what the timest

[2021-08-20 20:03] #438 closed, assigned to staheri14

[2021-09-01 10:54] #445 closed, assigned to oskarth

[2021-09-06 01:28] #404 closed, assigned to nobody

[2021-09-06 13:30] kdeme commented on #439
FYI back in Whisper / Waku v1 times I pointed out similar issue with the ttl/expiry fields there, and gave some simple example how it probably could be abused. Never made a PoC though: https://github.com/status-im/nim-eth/issues/105

[2021-09-07 04:20] oskarth opened #458 "10/WAKU2: Define supported transports in spec"
# Problem

Currently it isn't well-specified which transport MUST or MAY be specified. While any transports may be used with libp2p, by defining a minimum baseline this helps for interop between clients, such as between js-waku and nim-waku.

# Acceptance criteria

Transports mentioned in main spec. Similar to: https://github.com/ethereum/consensus-specs/blob/dev/specs/phase0/p2p-interface.md#tran

[2021-09-07 20:21] staheri14 commented on #439
Thanks a lot for this comment @kdeme! for more visibility and ease of access, I am going to link this issue status-im/nim-eth#105 to the description of the current issue

[2021-10-01 05:47] D4nte opened #462 "25/LIBP2P-DNS-DISCOVERY: Leaf entry format to allow for multiple mutliaddrs and self signature"
# Problem

During the implementation of [EIP-1459 in nim-waku](https://github.com/status-im/nim-waku/issues/616), the ENR encoding format was preferred over encoding a multiaddr due to the fact that [multiaddr format cannot include a self signed signature](https://github.com/status-im/nim-waku/issues/616#issuecomment-867873420) and that multiaddresses bring little benefits over ENR.

During the im

[2021-10-01 07:22] D4nte commented on #462
Cc: @richard-ramos @jm-clius

[2021-10-01 07:41] jm-clius commented on #462
Thanks, @D4nte.

Roughly I think this is a sane approach and agree with the proposed changes to RFC 25. Size consideration is important, but so is it for EIP-778. As far as I can see, this should be relatively simple to implement using the existing EIP-1459 code as baseline.

In fact, the idea was always that after a standard EIP-1459 implementation we could implement our own deviated standard if

[2021-10-01 09:12] arnetheduck commented on #462
The main difference between multiaddr and enr is that enr are signed - ie they offer a higher degree of securiy - they're also containers for multiple formats, one of which could be multiaddr.

The discovery mechanism in ethereum is based on ENR - this means there's a large deployed fleet of nodes that provide lookup capabilities - these and other reasons have been enough to tilt our preference to

[2021-10-03 23:54] D4nte commented on #462
This is why we propose the use of [RFC 002 Signed Enveloppes](https://github.com/libp2p/specs/blob/master/RFC/0002-signed-envelopes.md?rgh-link-date=2021-10-01T05%3A47%3A20Z).

Are you saying we could use the Ethereum discovery fleet of nodes to lookup Waku v2 nodes?

Would it actually be practical? The Ethereum fleet only support UDP, which creates challenges for browser nodes to do any lookup.
P

[2021-10-04 23:04] D4nte commented on #462
Also note that RFC 002/003 are on the libp2p roadmap [[1]](https://discuss.libp2p.io/t/rfc-002-rfc-003-adoption/1077/2) [[2]](https://github.com/libp2p/specs/blob/master/ROADMAP.md#peer-routing-records).

Meaning it's not "abandoned" but in the works. The "too specific lookup" issue should be attenuate/moot if all libp2p traffic uses these format.

[2021-10-05 00:22] D4nte commented on #462
Are we not supporting UDP in nim-waku? https://github.com/status-im/nim-waku/pull/728

Which means that using ENR would be of no help if the only point is to generate traffic similar to eth2 (UDP only).

[2021-10-05 08:17] arnetheduck commented on #462
Well, ENR records are independent of how you obtain them - ENR is used in discv5 which indeed is an UDP-based discovery protocol, but they're also used in [DNS-based trees](https://eips.ethereum.org/EIPS/eip-1459), and could reasonably be used elsewhere - they're just a key-value store with some useful properties - for web client use, a web socket bridge for discoveryv5 is being built, which will

[2021-10-05 08:19] arnetheduck commented on #462
the libp2p roadmap may or may not get implemented - it usually requires an interested party with a concrete use case to drive it - ENR is there, it's been audited and released and is in use today.

[2021-10-05 08:21] arnetheduck commented on #462
also, it seems easier to extend ENR with a new key for multiaddrs or indeed websockets (the latter is likely generally interesting) than to build another dns-based discovery mechanism with a different format.

[2021-10-08 11:48] 0x-r4bbit commented on #462
@D4nte No UDP support, which is why the UDP config options is being removed from the CLI in status-im/nim-waku#728.
However, there's underlying libp2p APIs nim-waku depends on and those require UDP ports.

Getting rid off those seems to be a big refactor, probably also requires changes in libp2p, so the PR only removes the CLI option and sets a dummy UDP port (that isn't actually used for anything

[2021-10-10 23:16] D4nte opened #463 "13/WAKU2-STORE: Message order based on `Direction`"
## Problem

The `Direction` field in `HistoryQuery` for Waku Store allows the query to specify the direction in which results should be returned:

This does not affect the order of messages within a page. Messages are always order oldest first.

It seems a bit counter-intuitive to me. Indeed, if a caller uses the direction `BACKWARD` one could argue that they want to process the latest message fir

[2021-10-15 00:44] D4nte commented on #462
After further discussion with @oskarth, we decided to proceed with EIP-1459/ENR implementation for now.

IMHO, the main reasons are:
- Protocol is used (mature) and audited
- We have no idea when RFC-002/RFC-003 will reach similar level of maturity.

While the ENR solution is not as elegant, it can suffice and we can revisit this decision at a later stage (e.g when introducing a new transport prot

[2021-10-18 10:33] oskarth commented on #463
fyi @staheri14

[2021-10-18 19:32] staheri14 commented on #463
@oskarth  yeah! I knew about the issue (discussed it with @D4nte over discord). Will prioritize it.

[2021-10-20 02:12] D4nte commented on #462
ENR usage RFC: https://github.com/vacp2p/rfc/pull/465

[2021-10-23 14:04] jm-clius commented on #441
Linking this issue to https://github.com/status-im/nim-waku/issues/702, as this feature could go a long way in alleviating the memory/disk issues we're trying to address for `store`

[2021-10-25 05:01] oskarth opened #467 "10, etc: Consider repositioning Waku "resource-restricted" to "efficient" to be more positive"
# Problem

There have been cases where people, including protocol devs, take "resource restricted devices/environments" to mean that Waku *only* focuses on this. And that, therefore, there's a need for some other protocol that doesn't have this restriction.

This presents a false picture. One idea to focus it to be more positive, such as being efficient, running everywhere, and being modular. We a

[2021-10-25 07:29] jm-clius commented on #467
Yeah, I agree with the terminology change. "Efficient" could also more easily imply -> "to the extent required by the environment". Still catching up so I might have missed it, but was there a specific trigger for this?

[2021-10-25 10:30] jm-clius commented on #462
Can be closed once https://github.com/vacp2p/rfc/pull/465 is merged

[2021-10-25 10:31] jm-clius commented on #467
@oskarth not sure whether to move this "In Progress" or "Backlog", but "In Progress" seemed most reasonable. You may be waiting for more comments.

[2021-10-25 13:12] jm-clius opened #468 "27/WAKU2-PEERS: Peer selection recommendations"
Currently [27/WAKU2-PEERS](https://rfc.vac.dev/spec/27/) recommends a minimal method for peer storage and management in Waku v2, including keeping track of the libp2p protocols supported by each peer.

It does not, however, recommend a way to select a suitable peer for a given protocol. As it stands there could be multiple connected peers supporting the same protocol. A node wishing to select a sp

[2021-10-25 13:34] jm-clius opened #469 "12/WAKU2-FILTER: Production readiness"
## Background

The [12/WAKU2-FILTER](https://rfc.vac.dev/spec/12/) protocol and specification have a number of outstanding questions that need to be addressed to reach production readiness.

1. We deal badly with failed nodes (on both the client and server side) and cleaning up stale connections:
- Filter will keep attempting to push messages indefinitely until a client node unsubscribes or a node

[2021-10-25 13:41] jm-clius opened #470 "12/WAKU2-STORE: Production recommendations"
## Background

In practice, deploying a node running [13/WAKU2-STORE](https://rfc.vac.dev/spec/13/) poses a number of production challenges. Although these could be addressed ad-hoc by different client implementations, a minimal feature set should be recommended in an RFC.

Specifically, the issues to address:
1. Guidance on how to dimension a store (both in terms of memory and persistent storage)

[2021-11-01 08:45] oskarth commented on #467
(trigger mention in chat)

Not actively working on it, I'd like to let it simmer a bit and see if we can make the reframing a bit more cohesive. For example, could we turn 5 goals here https://rfc.vac.dev/spec/10/#motivation-and-goals into something that everyone can enumerate easily and make it stand out from comparative solutions?

[2021-11-01 08:47] oskarth commented on #468
While this is useful, is this something we need to specify now? As opposed to something that grows out empirical usage and experience.

[2021-11-11 04:00] #462 closed, assigned to D4nte

[2021-11-11 04:02] oskarth opened #473 "Clean up 31/WAKU2-ENR spec"
# Problem

We merged partial progress of this PR as raw https://github.com/vacp2p/rfc/pull/465 to simplify follow up PRs like https://github.com/vacp2p/rfc/pull/472

The comments in that PR are still valid and should be addressed.

Additionally, the Discovery spec probably needs updating and general cleaning up.

# Acceptance criteria

Spec updated and actions followed up on from PR review, either

[2021-11-11 04:03] oskarth commented on #473
^ @D4nte @jm-clius FYI

[2021-11-16 11:15] #473 closed, assigned to jm-clius

[2021-11-18 17:15] rshiv opened #475 "12/WAKU2-FILTER: Handle Client failure"
Currently a filter node attempts to push messages indefinitely even if the peer client node is offline. A node should be able to drop the peer once it’s determined that a client node is unreachable.

The issue was introduced here #469 .

# Acceptance criteria
- Consensus on how to solve the issue amongst the solutions presented.
- Update RFC in 12/WAKU2-FILTER

# Possible Solutions
The solution of

[2021-11-23 03:04] oskarth commented on #475
Thanks for the initial issue! I'm not going to comment on specific approach suggested here (though Hanno might have stronger opinions here). What I'll do instead is to give some meta comments on how the problem is formulated, broken down and approached. Hopefully it is useful.

## 1) Problem description can be clearer

This can be rewritten for clarity to make it more clear what the problem is and

[2021-11-23 11:58] rshiv commented on #469
I am looking at the stale connection issue and focusing on the client failure case as this issue will have a higher impact on the filter node memory. A proposed solution is discussed in #475 .
After addressing will have more clear version of the WAKU2-FILTER to address server failure.

The 2nd and 3rd issue relates to design and would need a exhaustive discussion to progress further which will be

[2021-11-23 12:04] rshiv commented on #475
addressed the issues raised. @oskarth @jm-clius

[2021-11-23 12:21] jm-clius commented on #475
Thanks, Reeshav.

I'll comment a bit more on the specific Proposed Solutions.

I agree with Oskar here that you can (and should) propose the specific solution among the alternatives that you believe will work best, unless it really is unclear which one is best and you'd need external input to proceed. In general you can assume that between all waku developers you are the one that studied `filter`

[2021-12-20 04:29] D4nte opened #477 "11/WAKU2-RELAY: Improved topic management"
_originally posted here: https://github.com/status-im/js-waku/issues/348 by @TheBojda_

This is an idea, how waku could make topic management much more efficient.

## Problem

When I send a message to a topic, now waku broadcasts it to the default topic (/waku/2/default-waku/proto), every node gets and forwards the message through the gossipsub mesh, and the subscribed nodes process it. This metho

[2022-01-10 09:13] oskarth commented on #477
Hi @TheBojda! Have you seen this spec regarding topic recommendations and rationale? https://rfc.vac.dev/spec/23/

[2022-02-08 22:51] staheri14 opened #485 "Incorporating fee option in the rln contract"
A replica of https://github.com/status-im/nim-waku/issues/840, just moved it here in rfc repo as it relates to the vac specs.

# Background
We held a sustainability workshop last year and we came to the conclusion that protocol fees are vital to ensure the sustainability of waku. The simplest mechanism is to capture this directly as a form of commission / non-refundable fee as in ENS, Uniswap prot

[2022-02-08 23:27] b-d1 commented on #485
I think this is a great idea, and incentives and fee mechanisms are certainly an important part of many protocols when sustainability is considered.
Regarding the actual fee implementation, I think it is very much straight forward and can be easily implemented into the existing RLN contracts. Based on this usecase the model would be very similar to how fees are implemented on the Uniswapv2 platfor

[2022-02-08 23:37] b-d1 commented on #485
Once we finish with the current projects/obligations, this is on the agenda to be implemented next. I think having this feature sooner rather than later would be better.

[2022-02-11 19:53] kaiserd opened #486 "New RFC: specify Waku2 ambient peer discovery protocol based on discv5"
This issue is part of the [Waku v2 discv5 Roadmap](https://forum.vac.dev/t/waku-v2-discv5-roadmap-discussion/121) and tracks the editing of a new RFC specifying a Waku2 ambient discovery protocol as a version of [Ethereum's Node Discovery Protocol v5](https://github.com/ethereum/devp2p/blob/master/discv5/discv5.md)  with minor changes.

The current implementation status is tracked in [nim-waku #83

[2022-02-22 22:06] staheri14 commented on #448
Closing the issue since it has been addressed in https://github.com/status-im/nim-waku/issues/834

[2022-02-22 22:06] #448 closed, assigned to staheri14

[2022-02-23 23:28] D4nte commented on #368
Done for me, who wants to be next?

[2022-02-25 07:04] oskarth commented on #368
If this is the acceptance criteria, I think it makes sense for the person picking up this issue to finish this until it is done. Basically it only (i) requires tagging application protocols (ii) provide a way to show this somehow (unclear to me how to do this right now, but I'm sure there's some book template/ui thing that can be done. I don't really see the value in involving a lot of people for

[2022-02-28 05:16] D4nte commented on #368
Back to me, DoD:
1. Tagging application protocols
2. Providing a menu to filter to application protocols

[2022-03-02 22:41] s1fr0 opened #494 "Integrating key-exchange protocols in Waku2"
# Problem

[26/WAKU2-PAYLOAD](https://rfc.vac.dev/spec/26/) defines how message payloads can be encrypted using symmetric/asymmetric primitives. However, a protocol to allow users to safely exchange encryption cryptographic keys is missing. This issue proposes to integrate multiple [Noise handshakes](https://noiseprotocol.org/noise.html) in Waku2 to address the current lack of key-exchange protoco

[2022-03-04 20:38] kaiserd opened #495 "New RFC: 34/WAKU2-PEER-EXCHANGE"
This issue is part of the [Waku v2 discv5 Roadmap](https://forum.vac.dev/t/waku-v2-discv5-roadmap-discussion/121/10) and tracks the editing of a new RFC specifying a Waku2 peer exchange protocol based on [Simple, minimal peer exchange protocol](https://github.com/libp2p/specs/issues/222).

## Background and Motivation

Ambient peer discovery methods like Waku discovery v5 (#486) allow nodes to lea

[2022-03-07 09:47] oskarth commented on #495
Related: https://github.com/vacp2p/rfc/issues/429 and https://forum.vac.dev/t/the-current-state-of-waku-v2-peer-discovery/102

[2022-03-07 11:47] #486 closed, assigned to kaiserd

[2022-03-10 05:11] D4nte commented on #446
### Draft notes for potential bounty

outcome sketch:
- app layer protocol over existing waku protocols that help establish webrtc endpoints
  - raw spec and protobufs/poc impl
- handover to new protocol poc for 1-1 webrtc unencrypted audio/text direct
  - raw specs and protobuf/poc impl

Could possibly split this up

User story: As a user of Waku you should be able to find other nodes (e.g. in ch

[2022-03-18 08:41] #494 closed, assigned to s1fr0

[2022-04-10 22:21] s1fr0 opened #503 "Enhancement/fixup: align 35/WAKU2-NOISE to its implementation"
# Problem

Multiple PRs (https://github.com/status-im/nim-waku/pull/930, https://github.com/status-im/nim-waku/pull/931, https://github.com/status-im/nim-waku/pull/932, https://github.com/status-im/nim-waku/pull/933, https://github.com/status-im/nim-waku/pull/934) are progressively integrating the [Noise Protocol Framework](http://www.noiseprotocol.org/noise.html) in Waku2 according to the RAW RFC

[2022-04-13 09:22] D4nte commented on #495
Please note that by returning a subset list of their _own_ peers a node might expose themselves:
- https://discord.com/channels/613988663034118151/636230707831767054/963707205314547732
- https://discord.com/channels/613988663034118151/636230707831767054/963732828737122324

[2022-04-13 09:53] zah commented on #446
Nimbus also has a use case for this where we would allow a group of Nimbus beacon nodes to work together in a way that ensures that there is no single point of failure in the system. The low latency is key for ensuring that all validator actions are performed in time (the validator rewards don't suffer as a result of latency) and Vac/Waku seem useful in the sense that they may allow the group to b

[2022-04-13 12:39] D4nte commented on #446
Thanks for the input @zah.

What is the current roadmap? is that something you would us to explore further?

[2022-04-13 17:07] kaiserd commented on #495
Yes. Thank you for pointing me to that conversation :). My idea was pretty much what you answered in the discord channel:
The nodes that receive `peer exchange` queries should not answer with peers they use themselves. Caching a random sample for a bit is a good idea as it also mitigates DoS. I will edit this issue to clarify. (As pointed out later in the conversation, the caching should not be fo

[2022-04-20 07:15] jm-clius commented on #469
Furthermore, most current implementations are not designed with browser clients in mind. See: https://github.com/status-im/nwaku/issues/948

[2022-06-08 11:13] oskarth commented on #434
Also see https://github.com/status-im/nim-libp2p/issues/727

[2022-06-10 10:16] easye commented on #368
Joining a bit late, but chiming in an idea

1)  rename the RFC category "Best Current Practice" to "Implementation Details".  A BCP might be a type of an "Implementation" RFC.

2) Pick a tag to have a "type/subtype" structure value like MIME types that would require "registering" the first value, and allow the specification author to free-form the second.  Eventually codify practice for the second

[2022-06-13 09:43] jm-clius opened #507 "16/WAKU2-RPC: Inconsistencies and inaccuracies in RFC spec"
# Problem

There are some inconsistencies between the RFC and the main implementation in [nwaku](https://github.com/status-im/nwaku/tree/master/waku/v2/node/jsonrpc).

- The [KeyPair](https://rfc.vac.dev/spec/16/#keypair) fields are called in `privateKey` and `publicKey` in the RFC, but `seckey` and `pubkey` in the implementation.
- [WakuMessage](https://rfc.vac.dev/spec/16/#wakumessage) payload i

[2022-06-13 13:15] richard-ramos commented on #507
For the specs for both `get_waku_v2_private_v1_asymmetric_messages` and `get_waku_v2_private_v1_symmetric_messages`, it should be clarified that messages that can't be decrypted with the provided keys will be ignored and discarded.

[2022-06-22 06:55] easye opened #509 "New RFC 38/LOGOS-CONSENSUS-GLACIER"
# Problem
We need to disseminate the initial work on Logos blockchain consensus protocol in a manner that somehow introduces the "framing" that induced it, the progress that has been made, a description of the mathematical basis for consensus, the methodology of the security analysis undertaken, and what the next steps might be.

This "initial work for Logos blockchain consensus" is roughly synony

[2022-06-22 06:57] easye commented on #509
It is not the case that the notion content is not coherent:  it is very coherent.  It is more that we need to consider an audience and goals in a standalone document such as an RFC.

[2022-06-22 08:32] easye commented on #509
Currently I favor utilizing some of Alexander's work on the mathematical exposition of Glacier, as with it is perhaps easier to see that Glacier is indeed one of many members of "Snow": a family of algorithms with different tradeoffs.

[2022-06-22 10:19] easye opened #510 "New RFC: 42/LOGOS-REPUTATION-INKINGUT"
# Problem
Within the Logos Consensus model (c.f. #509), a "pluggable" behavior for node reputation may be specified.  Such a "Reputation RFC" needs to be abstracted, reviewed, and written.

# Acceptance criteria
This RFC will be reviewed by the appropriate peers as a series of pull requests.

# Details
Although presumably the "Logos Consensus Model" (#509) will provide some framing context, this R

[2022-06-22 10:50] corpetty commented on #509
The underlying consensus algorithm is quite simple to implement. The acceptance criteria should mainly be that someone can implement it in a given language completely such that it yields the same results.

[2022-06-22 10:59] easye commented on #509
Alright.  I have a slight problem conceptualizing the evaluation the ease/fidelity of implementations that have yet to occur, but I will somehow figure out how to cover this.  Test suites might be one idea.

[2022-06-22 14:03] oskarth commented on #509
Agree.

While test suites would be nice, and definitely vital at a later state for consensus, I don't think it should block the initial protocol description. Waku v2 doesn't have official integration test vectors or so yet (though unofficial ones), and we've got 3.5 implementations now

[2022-06-23 17:27] corpetty commented on #509
We have it in Rust, it might be worthwhile to talk with Daniel (Logos engineer) about how he did it.

[2022-06-27 09:16] easye commented on #509
I have reviewed the code somewhat and will talk to Daniel as I have questions.

[2022-06-30 23:33] staheri14 commented on #339
Closing it as it is already done in #325

[2022-06-30 23:33] #339 closed, assigned to nobody

[2022-06-30 23:33] staheri14 commented on #338
done in #325

[2022-06-30 23:33] #338 closed, assigned to nobody

[2022-06-30 23:47] staheri14 opened #511 "17/Waku-RLN-Relay: Standardizing the interface of rln/rln-relay membership contract"
As of now, there is no standard contract API for the rln membership contract. There are currently two interfaces defined that live in two different GH repos that have discrepancies. Given that the rln RFC lives in vac repo, it makes sense for us to take the first step and provide a consolidated and standard interfcace for that. Hopefully, after that, we can conduct more structural and deliberate r

[2022-06-30 23:52] staheri14 commented on #511
cc: @oskarth

[2022-07-16 15:15] kaiserd opened #513 "RFC template"
This issue tracks the writing of an RFC template.
The purpose of this template is giving a basic common structure to all RFCs which helps both developers and researchers filtering and digesting the information quicker.

##  Background

* [forum discussion](https://forum.vac.dev/t/rfc-categories-structure/125)

## Progress / Tasks

* [x]  #488
* [x] adjust [COSS](https://rfc.vac.dev/spec/1/) to ref

[2022-07-27 21:22] staheri14 opened #517 "# 17/Waku-Rln-Relay: specifying circuit parameters"
# Problem
In the waku-rln-relay spec, circuit parameters are not clearly specified. This will affect the power-of-tau and circuit-dependent ceremonies hence the generated prover/verifier keys.

# Acceptance Criteria
- [ ] Identifying the circuit parameters
- [ ] documenting them in the [waku-rln-relay RFC](https://rfc.vac.dev/spec/17/)

[2022-07-29 12:42] s1fr0 commented on #503
Issue solved in https://github.com/vacp2p/rfc/pull/508

[2022-07-29 12:42] #503 closed, assigned to s1fr0

[2022-07-29 14:36] kaiserd opened #520 "New RFC: 39/WAKU2-CAPABILITY-DISCOVERY"
This issue is part of the Waku ambient discovery roadmap (new roadmap issue to be opened in the research repo; will edit/update this description once the roadmap issue is open)
and tracks the editing of a new RFC specifying a Waku capability discovery protocol.

## Background

In its first version, it will simply be [libp2p identify](https://docs.libp2p.io/concepts/protocols/#identify)
with restri

[2022-07-29 14:43] kaiserd opened #521 "New RFC: 40/WAKU2-CAPABILITY-PUSH"
This issue is part of the Waku ambient discovery roadmap (new roadmap issue to be opened in the research repo; will edit/update this description once the roadmap issue is open)
and tracks the editing of a new RFC specifying a Waku capability push protocol.
(also see #520)

## Background

In its first version, it will simply be [libp2p identify/push](https://docs.libp2p.io/concepts/protocols/#ident

[2022-08-01 07:12] #495 closed, assigned to kaiserd

[2022-08-01 17:30] s1fr0 opened #523 "17/WAKU2-RLNRELAY: Update RFC after zerokit RLN integration in `nwaku`"
# Problem
[Currently](https://github.com/status-im/nwaku/commit/888f7cb3127e4cea03b5959135bb0cb1a6c740ff), `nwaku` uses [Kilic's RLN](https://github.com/kilic/rln) module to implement [17/WAKU2-RLNRELAY](https://rfc.vac.dev/spec/17/).

However, both implementation and RFC diverge from [32/RLN](https://rfc.vac.dev/spec/32/) by not using an app-specific `rlnIdentifier` in order to avoid user's priva

[2022-08-02 07:51] #513 closed, assigned to kaiserd

[2022-08-09 05:31] oskarth commented on #511
https://github.com/vacp2p/rln-contract should also attribute where code is from in README, and if there are any changes to it.

[2022-08-24 18:10] staheri14 commented on #189
@oskarth I think this issue can be closed. wdyt?

[2022-08-25 11:17] oskarth commented on #189
Yes! After 2y, nice :)

[2022-08-25 15:01] kaiserd opened #528 "Promoting select RFCs to stable & adapting updated COSS / template"
This milestone issue tracks the promotion of select RFCs to the `stable` status,
as well as their adaption to the updated [1/COSS](https://rfc.vac.dev/spec/1/) and [RFC template](https://github.com/vacp2p/rfc/blob/master/content/docs/rfcs/template/README.md).

## Blockers

~For now, this issue is blocked, waiting for the `store` flag implementation to be in release versions of at least two Waku im

[2022-08-26 02:07] #189 closed, assigned to staheri14

[2022-08-26 10:22] kaiserd opened #529 "RFC: verified marker / stable criteria"
This issue proposes to introduce a "verified" marker to RFCs.
(Suggested by @corpetty  [here](https://github.com/vacp2p/rfc/pull/512#discussion_r955368503))

There are three ways of introducing a `verified` marker to RFCs:

1) We could introduce a new state `verified`.
  `stable` RFCs that have been verified would be promoted to the new `verified` state.

2) We could introduce a new tag `verified`

[2022-09-07 08:21] rymnc commented on #441
Decided not to include `storeTTL` in #532, since this could be handled by applications that require it. Additionally, this increases the dependency of WakuMessage upon WakuStore (which is an optional module for waku nodes).

What do you think?
cc: @richard-ramos

[2022-09-12 02:06] fryorcraken opened #533 "13/WAKU-STORE: Message order ambiguity"
The [13/WAKU-STORE spec](https://github.com/vacp2p/rfc/tree/master/content/docs/rfcs/13) reads:

If the last message of a page is used as a cursor for forward pagination.
Meaning that the next page will contain more recent messages then it means that said last message is the most recent message of the page.

If the first message of a page is used as a cursor for backward pagination.
Meaning that t

[2022-09-12 03:08] oskarth commented on #529
What would be an example of a spec being considered "verified"?

Of the options outlined, I'd do 2 or 3, assuming we do this.

[2022-09-12 03:23] oskarth commented on #528
@kaiserd @easye What is the status of this?

[2022-09-12 07:27] kaiserd commented on #528
This was planned as the follow up task for @easye after #524 and #512 have been merged.

So far, work on necessary updates of message ("ephermal flag") has been started both on the
* implementation https://github.com/status-im/nwaku/issues/985  https://github.com/status-im/nwaku/pull/1119 and the
* spec side https://github.com/vacp2p/rfc/pull/532

[2022-09-12 07:37] kaiserd commented on #529
We would have to define the exact prerequisites.
One possibility: Either formally verified, or in-the-wild tested by several (at least two) interoperable implementations in a larger network (100+ nodes?).
If we go with 2 or 3, we could also separate these and introduce a `formally verified` tag for the former and an `interop` tag (better naming required) for the latter.

Currently, afaik, none of

[2022-09-13 05:47] oskarth commented on #529
I feel like we are jumping the gun here a bit. First, let's get 2-4 specs to a desirable state, _then_ we can see about how to best indicate this.

E.g. if there are specific specs that are being formally verified (e.g. MVDS was partially, ditto Noise maybe?). Only once we have a few examples does it make sense to generalize.

Interop I think Waku v2 example works quite well, not sure what problem

[2022-09-13 06:16] rymnc commented on #441
Completed in #532

[2022-09-13 06:16] #441 closed, assigned to nobody

[2022-09-13 09:58] kaiserd commented on #529
Agreed. We can keep this in icebox until it becomes relevant for our current specs.

[2022-09-14 22:46] staheri14 commented on #533
Right, that is the intended behavior, each page always holds messages in ASC order, from the oldest to the newest.

[2022-09-23 01:50] rymnc opened #537 "17/WAKU-RLN-RELAY: Update RFC for acceptable window of merkle roots"
# Problem
Due to propagation delays, described [here](https://rfc.vac.dev/spec/17/#maximum-epoch-gap), there are cases of valid messages being dropped by peers because they refer to an older state of the merkle tree.

# Acceptance criteria
- [ ] RFC PR
- [x] PoC PR

# Details

# Possible Solutions
We must be able to handle messages which have been sent by a peer, which refer to an older state of t

[2022-09-23 13:00] kaiserd opened #538 "New RFC: 44/WAKU2-DANDELION"
This issue is part of the [anonymity roadmap](https://github.com/vacp2p/research/issues/107), and the [Waku Dandelion milestone](https://github.com/vacp2p/research/issues/119).

The purpose of  `44/WAKU2-DANDELION` is specifying  an anonymity enhancing option for [11/WAKU2-RELAY](https://rfc.vac.dev/spec/11/), which is based on [Dandelion](https://arxiv.org/abs/1701.04439) / [Dandelion++](https://

[2022-10-04 21:14] s1fr0 opened #542 "fix(32/RLN): Update Poseidon parameters specification"
# Problem
Zerokit's and circomlib's Poseidon implementations uses different round parameters depending on the number of input field elements `n` to hash. For `Bn254` supported parameters are
[code]
where `t = n+1`. Such triples were generated from Poseidon reference implementation. In particular:
- to hash a single element (e.g. `id_secret`) the parameters `(t, RF, RP) = (2, 8, 56)` are used;
- to

[2022-10-05 03:06] fryorcraken opened #543 "17/WAKU-RLN-RELAY: File format to backup credentials?"
# Problem

RLN credentials are composed of 3 elements:
- identity key (secret)
- membership index/id
- identity commitment

We currently manipulate these information in string format:

- identity key: hex string (no `0x` prefix)
- membership index/id: decimal
- identity commitment: hex string (no `0x` prefix)

This is not ideal as one needs to copy/backup 3 piece information when porting their cre

[2022-10-06 03:45] fryorcraken commented on #446
I wonder if the best way forward would be to create a nwaku PoC.

According to the requirements above and from https://notes.status.im/waku-vac-devcon-2022#

It seems that we still need some nat traversal/hole punching first in nwaku/nim-libp2p for that. @jm-clius what is the status for this and what issues are tracking?

Some design assumptions:

1. Sym key encryption based on private key of the

[2022-10-06 05:17] cskiraly commented on #446
A similar topic was going with the "Application-Layer Multicast" name some time ago. Focusing on low-latency, I could point to  deadline-based schedulers ([Abeni, L., Kiraly, C., Lo Cigno, R. (2009). On the Optimal Scheduling of Streaming Applications in Unstructured Meshes](https://link.springer.com/chapter/10.1007/978-3-642-01399-7_10)), and some other works we did in low-latency video distribut

[2022-10-06 09:56] zah commented on #446
The usefulness of the proposed Nimbus setup increases dramatically when there are at least 3 nodes in the group (you would then use 2 out of 3 threshold signing to allow one of the nodes to be offline without disrupting the system). The ideal setup would involve 5 nodes configured with 3 out of 5 threshold signing.

Using the public key hash in the topic name is not an ideal solution as this would

[2022-10-06 13:33] jm-clius commented on #446
This is tracked as medium-to-high priority (my interpretation) in the nim-libp2p roadmap: https://github.com/status-im/nim-libp2p/issues/777

[2022-10-06 14:05] Menduist commented on #446
nim-libp2p can already be used as a hole punching server (autonat & relay are available), but cannot hole punch itself (missing the dctur for that)

[2022-10-07 15:54] kaiserd opened #544 "New RFC: 45/WAKU2-ADVERSARIAL-MODELS"
This issue is part of the  [anonymity roadmap](https://github.com/vacp2p/research/issues/107).

The purpose of  `45/WAKU2-ADVERSARIAL-MODELS`  is

* listing relevant adversarial models and threats to Waku
* being a linkable resource for specifications that address protection as well as mitigation mechanisms within the listed models

[2022-10-12 09:20] #544 closed, assigned to kaiserd

[2022-10-14 21:52] s1fr0 commented on #543
Related issue: https://github.com/status-im/nwaku/issues/1238

[2022-10-17 15:38] s1fr0 commented on #543
When you talk about export/import you mean in encrypted form? Most likely we will use JSON to store credentials and all the crypto information (salt, hashes, etc.) and such JSON will always remain on disk in encrypted form (it's decrypted on the fly when creating proofs after submitting the password).

This means that you cannot directly copy/paste this json to another implementation if you don't

[2022-10-19 05:46] #537 closed, assigned to rymnc

[2022-10-19 20:29] staheri14 commented on #523
@s1fr0 What do you think about working on this issue? I see all the preliminaries are done

[2022-10-19 20:34] staheri14 opened #547 "Setting the RLN registration fee from an Oracle"
# Problem

In the rln-relay protocol, the registration fee is a fixed value in wei.  However, its worth USD may change based on inflation and other factors. Therefore, registration will not incur the same cost at different times. One way to address this issue is to set the registration fee from Oracle as ENS does.

[2022-10-19 20:58] s1fr0 commented on #523
Sure. Not sure if we should change the merkle tree root validation section to account for partial tree misalignments through a windows of allowed roots. In such case probably better to finalize multiple roots validation in nwaku first and then update the RFC. Or we can do it with two PRs. No strong opinion for me.

[2022-10-21 15:48] #538 closed, assigned to kaiserd

[2022-10-25 00:04] s1fr0 commented on #543
Note that in any proposed solution the RLN index should have a fixed size (e.g. in hex of either 4 or 8 bytes). The reason is that credentials will be encypted using the Web3 Secure standard which uses aes-ctr with ciphertext having same size as plaintext. If the RLN index is kept as decimal (more precisely the byte representation of the string expressing the index in decimal) then, for example, t

[2022-11-07 22:17] LNSD commented on #528
I am planning to do the tasks related to the stabilization of the waku store protocol:

- [ ] add FT-STORE (RFC 21) wire format spec into RFC 13 (STORE)
- [ ] Update waku store wire format: simplify the wire format (e.g., remove unnecessary levels like `ContentFilters`) and change the error reporting from an enum to status code plus cause string.

cc @jm-clius @fryorcraken

[2022-11-09 08:49] jm-clius commented on #528
Thanks, @LNSD!

Some notes from my side:
1. Backwards incompatible changes (e.g. getting rid of unnecessary nesting) are allowed since the spec is still in draft status, but we'll update the libp2p protocol ID.
2. To me it makes little sense to move store spec to stable before `14/WAKU2-MESSAGE` is not stable. In fact, I think this should have been done before we moved the relay spec to stable, as

[2022-11-09 15:41] LNSD commented on #528
Ok, I will create two separate issues to tackle before the next release (v0.14.0):

- [ ] https://github.com/vacp2p/rfc/issues/551
	+ Make the RFC conform to the RFC template
	+ Create the waku protobuf repository: `vacp2p/waku`
	+ Add Waku Message protobuf definitions to the repository
- [ ] https://github.com/vacp2p/rfc/issues/552
	+ Make the RFC conform to the RFC template
	+ Add the new protoc

[2022-11-09 15:49] kaiserd commented on #528
Imo, following the template should be a pre-condition for `Standards Track` RFCs.
In case the specified entity is not a protocol, sections like "Wire Format Specification" should have a different name, but the general structure should still follow the template.

[2022-11-09 15:50] LNSD opened #551 "Promote 14/WAKU2-MESSAGE RFC to stable state"
# Problem
From #528:

# Acceptance criteria

- [x] Make the RFC conform to [the RFC template](https://github.com/vacp2p/rfc/blob/master/content/docs/rfcs/template/README.md)
- [x] Create the waku protobuf repository: `vacp2p/waku`
- [x] Add Waku Message protobuf definitions to the repository

# Notes

This task is a dependency for promoting [13/WAKU2-STORE](https://rfc.vac.dev/spec/13/) to a stabl

[2022-11-09 15:55] LNSD opened #552 "Stabilize and normalize 13/WAKU2-STORE RFC"
# Problem
From #528:

# Acceptance criteria

- [ ] Make the RFC conform to [the RFC template](https://github.com/vacp2p/rfc/blob/master/content/docs/rfcs/template/README.md)
- [ ] Add the new protocol's wire format (v3) to the waku store RFC. Deprecate v2-beta4
- [ ] Merged [21/WAKU2-FAULT-TOLERANT-STORE](https://rfc.vac.dev/spec/21/)'s wire specification into [13/WAKU2-STORE](https://rfc.vac.dev/

[2022-11-16 01:35] staheri14 commented on #552
Regarding the above item, I would suggest to get an agreement before attempting it. The separation of these two RFCs was intentional. Since the time query feature was emerged from the need to make store protocol fault-tolerant against nodes with poor connectivity, the decision was to capture the problem together with the solution in a separate specification. Potentially, this specification i.e., F

[2022-11-17 12:44] jm-clius commented on #552
Indeed! The two RFCs must remain separate. This task is simply to include the `start_time` and `end_time` fields in the general Store protobuf definitions. :)
This is so we can stabilise STORE which is being used widely _with_ the time fields (e.g. by Status) without having to also stabilise FT-STORE (which will remain separate and in `draft`).

The latter 😄 . FT-STORE must remain its own spec.

[2022-11-28 15:51] LNSD commented on #552
The Waku store v3 wire format has been sketched in the following draft PR: https://github.com/vacp2p/waku/pull/10

[2022-11-30 03:20] oskarth opened #556 "Update RLN spec"
# Problem

Currently RLN spec is in a generally solid state, but it is slightly out of date, which makes it less reliable to use as a source of truth for people working on or around RLN to various capacities.

Additionally, there's no (active) editor for the spec, and its status should be draft, now raw.

# Acceptance criteria

Updated RLN spec with the following:

- [x] New editor (Blagoj left PS