[2019-08-29 10:12] oskarth opened #5 "Remote log draft spec, poc and write up"
Remote log for data sync

# Acceptance criteria

PoC: https://github.com/vacp2p/research/tree/master/remote_log

Spec

Write-up

[2019-08-29 10:13] oskarth opened #6 "Data sync client spec"
Example data sync client for data sync

# Acceptance criteria

PoC: https://github.com/status-im/dasy

Spec

Write-up

[2019-08-29 10:18] oskarth opened #7 "Sync modes spec"
# Problem

Data Sync messages should have meta data that both change how messages are handled and give extra information on messages.

# Acceptance Criteria

There is a way to transmit meta data along with messages, these may be transmitted inside of the message or before. Best alternative should be investigated.

The spec provides a way for information on messages to be provided such as the previ

[2019-09-18 08:27] decanus opened #8 "2/MVDS: Explore MVDS as Message Queue"
Provide proof that over [MVDS](https://specs.vac.dev/mvds.html) we can achieve standardizied message queues with various delivery modes such as `at-least once`, `exactly-once`  or `at-most once`. These are concepts we can formalize similarly to [AMQP](https://en.wikipedia.org/wiki/Advanced_Message_Queuing_Protocol)

[2019-09-18 08:51] oskarth opened #9 "Transport properties / peer state for transport information, etc"
## Problem

A client might only have certain transports available. To sync messages, the clients need to know how to reach each other over which transports.

## Acceptance criteria

A spec and proof of concept for a data sync client that allows:
- storing of transport information
- switching of preferred way of being contacted

## Notes
See https://code.briarproject.org/briar/briar/wikis/Transport

[2019-09-18 08:54] decanus commented on #9
Would this make sense to fall into a more broad handshake type thing @oskarth?

[2019-09-18 08:59] oskarth opened #10 "2/MVDS: MVDS over libp2p"
Subprotocol for packet reliability

[2019-09-20 15:30] decanus commented on #10
@dryajov was experimenting with this in https://github.com/status-im/nim-libp2p, work will likely continue there.

[2019-09-20 18:52] decanus commented on #10
https://discuss.ipfs.io/t/the-protocols-interface-for-unreliable-transport for reference

[2019-09-24 05:49] decanus opened #14 "2/MVDS: Change `message_id`s to a multihash"
# Problem

We currently do not use multihash meaning we are bound to a single hashing algorithm.

# Solution

The `message_id`s are described to be multihashes.

[2019-09-24 05:50] oskarth commented on #14
To deal with fixed length indexing problem in e.g. Go, perhaps padding to a fixed length and using that would work? I'm sure a lot of codebases using multihashes also use indexing.

[2019-09-24 14:33] decanus commented on #14
@oskarth should work, because we will know what the length of our hashes has to be.

[2019-10-01 05:25] oskarth commented on #5
Update:

PoC is more of a spike and not complete, but tests basic idea. Good enough for devcon then we can re-evaluate where it fits with prios.

Spec PR open https://github.com/vacp2p/specs/pull/16

Write up ready https://notes.status.im/5JvSG6pkTXqwhIQa021Stw# to be posted this week

[2019-10-03 03:30] oskarth opened #17 "3/REMOTE-LOG: Improvements to remote log"
These are things that can be improved in the current remote log design. No specific order. More details on each should be turned into its own issue, unless small enough to do a quick PR.

## Spec

- [ ] Elaborate on more specific requirements on CAS and NS
- [ ] Tweak protobuf naming: response data return type a bit odd
- [ ] Considering NameInit RPC for NS
- [ ] Tweak protobuf naming: Better name

[2019-10-03 03:30] oskarth commented on #5
Spec draft done, spike done, write up posted tomorrow. Capturing enhancements here: https://github.com/vacp2p/specs/issues/17

[2019-10-03 03:30] #5 closed, assigned to oskarth

[2019-10-03 23:17] decanus commented on #17
More explicit sequence id handling: https://github.com/vacp2p/research/issues/1

[2019-10-19 20:45] decanus opened #21 "2/MVDS: MVDS max retries"
# Problem

Certain applications like [ultralight beam](https://github.com/ultralight-beam/UB.swift) may see peers changing the method of which they are accessible frequently without notifying peers.

# Solution

A `max retries` option is added which informs the MVDS node how many times a message should be retransmissioned, if it can not be sent to the peer in those retries the application is notif

[2019-10-21 07:57] oskarth commented on #21
Is this definitely not solved with exponential delay? How is this dealt with in e.g. TCP?

[2019-10-21 14:49] #7 closed, assigned to decanus

[2019-10-22 04:43] oskarth commented on #6
What's the latest and next steps on this? Any blockers?

[2019-10-22 04:46] oskarth commented on #7
@decanus do you want to do some kind of write up of this? Or wait until data sync client?

[2019-10-22 05:00] oskarth commented on #14
@decanus A good follow up issue on this would be to ensure there's a good story for compatibility and upgrades. That issue would then be a blocker for this one.

Removing from milestone, if you disagree we can talk about it

[2019-10-22 05:01] oskarth commented on #17
Update: this issue is largely backlogged for now, as it largely relies on decentralized file storage to be maximally useful.

[2019-10-22 05:07] oskarth commented on #10
@dryajov any update on this one? Also @raulk mentioned some google doc that explained their packet routing design

[2019-10-22 05:47] oskarth commented on #8
Might be a good idea to distinguish this as two different use cases, a la SQS e.g.:

1. Standard Queues

- x throughput (tps)
- At-Least-Once Delivery
- Best-Effort  Ordering

2. FIFO Queues

- x throughput (tps)
- Exactly-Once Processing (message available until consumer processes and deletes; no duplicates)
- First-In-Fist-Out Delivery

[2019-10-22 07:36] decanus commented on #7
@oskarth I could do a short write up that also like talks about data sync clients a bit.

[2019-10-22 07:38] decanus commented on #14
@oskarth, I agree. We should discuss compatibility on top of MVDS more and make this a part of it.

[2019-10-22 20:03] dryajov commented on #10
@oskarth not right now. I'm still wrapping up some things with the minimal libp2p implementation (gossipsub). I don't expect to be able to start on this again until later, perhaps next week at the earliest.

[2019-11-13 04:08] oskarth commented on #6
Abandoned for now, see post-mortem https://forum.vac.dev/t/dasy-post-mortem/23/2

Also note to self: write better issues with more clear problem description

[2019-11-13 11:47] #6 closed, assigned to nobody

[2019-11-14 05:36] oskarth opened #27 "Waku 0: Replace Whisper EIP627 with the de facto Whisper fork Status uses"
# Problem

Currently apps such as Status use a forked version of EIP627 that isn't properly documented. This makes it difficult to write additional implementations, such as Nim, since a lot of behavior isn't documented.

Additionally, people often confuse "Whisper" with "our (Status) fork of Whisper" which is undesirable terms of being explicit about what requirements we have and what guarantees w

[2019-11-15 07:44] oskarth opened #29 "Document Waku existing light node behavior"
# Problem

Waku adds a light node status that isn't documented in the existing Whisper docs. This makes it hard for clients to implement and reason about wrt connectivity, privacy guarantees and perf.

# Acceptance criteria

- [x] Document light node behavior in Waku 0 spec
- [x] Add implementation status matrix per implementation, see https://github.com/status-im/specs/issues/63
- [x] Briefly on

[2019-11-15 07:44] oskarth commented on #29
@decanus do you want to take a look at this one?

[2019-11-15 09:20] oskarth commented on #27
Few notes/additions:

1. Version 0 of RLPx subprotocol crashes, unclear if this is spec or impl issue. We might just make waku/1 the original waku/0 idea and go from there (eth is on version 63!), see https://github.com/status-im/nim-eth/issues/119

2. Subprotocol isn't describe in EIP627, i.e. `shh/6` isn't documented like in e.g. https://github.com/ethereum/devp2p/blob/master/caps/eth.md

3. Sub

[2019-11-15 10:22] oskarth commented on #27
Subtask describe mailserver usage partially blocked by https://github.com/status-im/specs/issues/55

[2019-11-15 14:50] adambabik opened #30 "Waku 0: message confirmation"
# Problem

When a client sends a message using `shh_post`, the message ID is returned immediately but it does not mean that the message was pushed through the wire and reached at least one peer. For example, in [go-ethereum](https://github.com/ethereum/go-ethereum) Whisper implementation, envelopes are batched and broadcasted in a loop. The next thing is that sending an envelope might be over a st

[2019-11-15 20:46] decanus commented on #29
So I added light node description in [specs/light-node](https://github.com/vacp2p/specs/tree/light-node). This documents both the behaviour in geth and nimbus which are identical. Its rather simple, one thing left to look at is the handshake. Would also make sense to discuss with core to see which functionality is used in the app.

cc @kdeme

[2019-11-16 08:33] adambabik opened #32 "Better peer discovery mechanism"
# Problem

At the very beginning, each Status client had only a single list of peers it could connect to. Mailservers and Whisper nodes were separated. As you can imagine, this is not very clever way of sharing peers' addresses but it is simple and works great if all goes fine.

However, later, we started thinking about issues that may occur and had actually occurred. Namely, many of our peers hos

[2019-11-16 10:13] oskarth commented on #32
Thanks for the issue!

Right now this issue seems very Status/client specific. Can we rewrite it to be more general where Status client and its specific circumstances is just a specific instance? It references Status infrastructure and "us" running the cluster, which is more of a client/downstream/deployment concern.

The problem description makes it seem like the issue in is complexity, but it do

[2019-11-17 16:10] adambabik commented on #32
I did describe that, maybe not in a single place. The currently used Discovery V5 is not sustainable on mobile, it's too much bandwidth and resources. And the complexity is a problem because the current approach is hybrid Discovery V5 + Rendezvous + caching + peer pools + no spec.

We can try to use the new Discovery V5 but as far as I know it's still experimental and not even in go-ethereum maste

[2019-11-18 04:30] oskarth commented on #29
@decanus Seems like this is modifying the existing waku spec, can we add it to existing PR? It'll get messy quickly if we have too many branches IMO.

[2019-11-18 06:00] oskarth commented on #30
@decanus fyi re MVDS and assumptions

[2019-11-18 10:49] decanus commented on #29
@oskarth I can just merge it yea.

[2019-11-18 11:52] decanus opened #36 "Waku 0: Mail Servers"
# Problem

Currently the Waku spec contains no mail server documentation, the implementation is not well specified enough.

# Solution

Once there is some description of mailservers in status/spec, it should be added to the vac/specs.

# Notes

- https://github.com/status-im/specs/blob/master/status-whisper-mailserver-spec.md

[2019-11-19 17:39] decanus opened #37 "Waku 0: Handshake"
# Problem

There is currently no part of the specification that clearly outlines the handshake and how it occurs.

# Acceptance criteria
 - The handshake is documented within the waku spec.

[2019-11-20 02:55] decanus commented on #29
Important to note that status clients run in light mode.

[2019-11-20 03:14] oskarth commented on #29
Current docs https://github.com/status-im/specs/blob/master/status-client-spec.md#mobile-nodes

Note inconsistent terms and different MUST/MAY usage cc @adambabik

[2019-11-20 05:24] oskarth opened #39 "Waku 0: Include privacy, scalability and DDoS considerations"
# Problem

Currently Whisper/Waku has many different capabilities and modes which impact various forms of security considerations. Right now it isn't clear what the impact is, which means the spec isn't clear about its guarantees and client users might be at risk against various threat models without being aware of it.

# Acceptance criteria

Security considerations to capture in Waku spec under `

[2019-11-20 05:24] oskarth commented on #39
^ fyi @kdeme @adambabik @decanus @corpetty - anything missing?

[2019-11-20 05:33] oskarth commented on #27
Updated issue with latest state and links etc. Please see https://github.com/vacp2p/specs/pull/28 for changes

[2019-11-20 05:37] oskarth commented on #36
There is a description in Status specs already. If this is blocked, we should be explicit about what exactly is missing.

https://github.com/status-im/specs/blob/master/status-whisper-mailserver-spec.md

[2019-11-20 05:41] oskarth opened #40 "Waku 0: Describe existing rate limiting"
# Problem

Currently there's a rudimentary form of rate blocking. This is not captured in the spec, which makes it hard to write an implementation of it.

# Acceptance criteria

- [x] Rate limiting captured in specs

# Details

See https://github.com/status-im/specs/pull/60 for current description

# Possible Solutions

Document it based on above

# Notes

[2019-11-20 05:42] oskarth commented on #40
Strictly speaking, currently rate limiting capability is not active. However, for v1 this is a blocker as identified by security audit.

Beyond a basic placeholder and rough text, this issue is blocked until https://github.com/status-im/specs/pull/60#issuecomment-555847554 is further along.

[2019-11-20 05:50] oskarth opened #41 "Waku 0: Document forward compatibility"
# Problem

We want to be able to build on Waku and create new version with new capabilities.

# Acceptance criteria

Should be in forward compatibility section in Waku spc:

- [ ] Documented clear path from waku/0 to waku/1 and waku/2
- [ ] Documented understanding of when we can avoid bridging and when we can't
- [ ] Documented understanding of if we can keep being connected with mismatching vers

[2019-11-20 10:20] adambabik commented on #37
For the reference, here is the implementation: https://github.com/status-im/whisper/blob/master/whisperv6/peer.go#L93

[2019-11-21 05:12] oskarth opened #43 "Waku: Use of ABNF to specify the spec"
# Problem

The current EIP-627 style spec is (1) verbose and (2) using a custom form of data layout. For clarity of exposition, and to pave the way for machine readable specs, a more standard formal language is desired.

# Acceptance criteria

- [ ] ABNF format used consistently
- [ ] Gone through some form of validation program, e..g Panini
- [ ] Interface points with RLP are clarified (ie deferr

[2019-11-21 05:14] oskarth commented on #43
@decanus do you want to take a look at this? I did the basics but need to check proper grammar and extend it a bit

[2019-11-21 05:32] oskarth commented on #36
There's a clear lack of format of the whisper envelope in `p2prequest`.

https://github.com/status-im/specs/blob/master/status-whisper-usage-spec.md#request-historic-messages this part isn't captured either

[2019-11-21 05:35] oskarth commented on #36
shh_markTrustedPeer and shhext_requestMessages are also at a different level than the current protocol codes, and this isn't captured in the spec...

@adambabik can you please help sort that spec out, it's been pending for a long time now. It can't refer to geth specific architecture, it needs to be at the wire level.

[2019-11-21 10:33] oskarth commented on #32
Agree with KISS, I wonder how this plays into the finding closest mailserver change?

--

It also seems like this also touches on a larger research issue, which is finding discovery mechanism for resource restricted devices.

Eth2 and libp2p https://github.com/ethereum/eth2.0-specs/blob/02bb92e71455adaa7da101563a6c367efe9e1cc7/specs/networking/p2p-interface.md#the-discovery-domain-discv5 as well a

[2019-11-21 11:07] oskarth commented on #27
All current TODOs in https://github.com/vacp2p/specs/pull/28 text should be pulled out of there and put in Github issue, e.g. one master enhancement issue and/or small specific issues for furher discussion.

[2019-11-21 16:07] kdeme commented on #37
Is this enough covered now here: https://github.com/vacp2p/specs/blob/master/waku.md#packet-usage ? Or do we need a better description?

Any additional field such as the `confirmationsEnabled` that can be seen in the status geth version should probably be added and explained by @adambabik or somebody else of status-core.

[2019-11-21 18:57] adambabik commented on #37
I don't see any explanation what should be sent in a handshake in https://github.com/vacp2p/specs/blob/master/waku.md#packet-usage. There is this:

but status code is a handshake from what I understand from the implementation.

We need to describe that a handshake is a status packet followed by protocol version, PoW, bloom, mode (currently true/false but I think we need to send here either a light

[2019-11-21 18:59] adambabik commented on #36
PR fixing the current mailserver spec: https://github.com/status-im/specs/pull/64

[2019-11-21 20:44] decanus commented on #37
yeah @kdeme I'd like to see a more explicit explanation. As mentioned by @adambabik

[2019-11-21 21:26] adambabik commented on #32
It's still can be applied. You get a list of Waku nodes via DNS and HTTPS. You collect RTTs for all of them and pick the closest one.

Yes, that is exactly the approach I would like to take for the time being.

[2019-11-21 22:00] decanus commented on #43
@oskarth made some minor changes however there are still issues. This checker here: https://tools.ietf.org/tools/bap/abnf.cgi is pretty useful.

[2019-11-22 02:04] decanus commented on #32
@adambabik why would a rendezvous only protocol not work?

[2019-11-22 04:36] decanus opened #46 "ABNF vs BNF"
# Problem

In the Waku spec we currently use an `ABNF` definition. It would make sense now to standardize around one of the two formats for the rest of our specifications and decide which to take.

I decided to record this in an issue to capture the decision making.

# Details

ABNF is used more commonly in compilers, however BNF is more popular in academic papers. Therefore it makes sense to chos

[2019-11-22 04:43] oskarth commented on #46
I don't feel strongly either way at this stage, but here:

Pro ABNF: IETF uses ABNF (e.g. TLS, email, etc)
Pro ABNF: + ABNF seems less ambiguous and more suitable for plugging into fuzzers / TLA+ / grammar tools etc (don't know in detail though)

Pro BNF: possibly smaller and easier to read, more lightweight

@arnetheduck might have some thoughts on this?

There's also EBNF, but I don't see a spec

[2019-11-22 11:30] oskarth commented on #46
Some experiments with ABNF, Instaparse and self-evaluating terminals: https://twitter.com/oskarth/status/1197836021091561472

![image](https://user-images.githubusercontent.com/1552237/69422346-6e7d1700-0d5e-11ea-87e7-4064d6c6f9c4.png)

https://github.com/vacp2p/research/tree/master/abnf/hello-abnf

[2019-11-22 11:48] oskarth commented on #43
https://rfc.zeromq.org/spec:36/ZRE/ this is a good example of a solid formal grammar spec

See motivation etc http://zguide.zeromq.org/py:chapter7

Also see https://github.com/vacp2p/specs/issues/46 for related discussion

[2019-11-22 12:57] adambabik commented on #32
@decanus that would work but this protocol (1) is not used by anyone else, (2) is not researched very well , for example I have no idea what kind of security guarantees it makes.

To me, it seems like EIP 1459 is a safer choice. With rendezvous you also need to have bootnodes so solution described in EIP 1459 would still be needed. Basically, having EIP 1459 is a prerequisite to whatever dynamic p

[2019-11-25 04:00] oskarth commented on #46
I made this over the weekend https://oskarth.github.io/panini/

[2019-11-25 04:10] oskarth commented on #27
Initial cut done for Waku 0, closing this.

@decanus will create follow up issue with inlined TODOs and continue improving it (mailserver use, abnf, definitions etc)

[2019-11-25 04:10] #27 closed, assigned to oskarth, decanus

[2019-11-25 04:20] decanus opened #47 "Waku 0 spec improvements"
- [x] Add handshake details
- [x] Outline difference between _bridging_ and data format
- [x] Think about how to maintain forwards capability for waku/v0 (https://github.com/vacp2p/specs/issues/41)
- [x] elaborate on security considerations (https://github.com/vacp2p/specs/issues/39)
- [x] Light node security considerations
- [ ] Implementation notes and have something similar but lightweight to h

[2019-11-25 05:21] oskarth opened #48 "Waku: Elaborate on routing and gossip"
# Problem

Whisper uses gossip for routing. However, this isn't documented in the spec. This makes it hard to know how to do routing, what guarantees there are, as well as to consider moving to different forms of routing.

# Acceptance criteria

- [ ] Routing and gossip described in spec, along with rough behavior/(none)guarantees

# Details

In the original EIP627 only data format was described.

[2019-11-25 05:32] oskarth opened #49 "Waku v1: Optimize bandwidth usage"
# Problem

Waku 0 / Whisper v6 takes a lot of receive bandwidth, especially as the number of messages in the network increase.

# Acceptance criteria

- [x] Description of additional opcodes in spec
- [x] Recommendations for clients section

- [x] Pay attention to mailserver usage

- [x] Issue created: PoC that shows difference in usage (possibly factor this issue out) - https://github.com/vacp2p/

[2019-11-26 03:57] decanus commented on #47
@oskarth I think you created this todo, what does this mean exactly?

[2019-11-26 05:18] oskarth commented on #47
There's a difference between being compatibility protocols and compatibility at data layer. I.e. Waku/0 is a different subprotocol, so it isn't compatible with Whisper v6, hence bridge. However, its envelopes content are identical/compatible, so naive bridging without knowing content works. This difference should be clear in the spec.

Additionally, for waku/1 waku/2 etc, we might want to do some

[2019-11-26 17:52] decanus commented on #47
@kdeme @adambabik it may make sense for you guys to document the Implementation Notes as I have never implemented a waku / whisper node its hard for me to judge.

[2019-11-27 00:35] decanus opened #53 "Waku forward compatibility"
# Problem

Currently there is no method for knowing what version a waku node runs. In case there are changes in the future that are not fully backwards compatible there needs to be some for of protocol negotiation.

# Possible Solutions

We expand the `status` message in such a way that waku versions are exchanged. There should also be a strategy for breaking changes, such as potentially implement

[2019-11-27 04:43] oskarth commented on #53
Isn't the version number in the handshake/status message already?

Also how does this issue differ from https://github.com/vacp2p/specs/issues/41

[2019-11-27 20:31] #53 closed, assigned to oskarth, decanus

[2019-11-28 00:42] decanus opened #56 "Waku 0: Accounting"
# Problem

There is currently no real way of accounting what resources a node is using. aka how many messages peers are sending and receiving, therefore accounting should be added to waku nodes. Ideally, this will also allow rate limiting to be abstracted through the accounting interface.

# Solution

Keep track of how much each node contributes and takes from the network based on local informatio

[2019-11-28 02:56] #56 closed, assigned to oskarth, decanus

[2019-11-28 02:56] oskarth commented on #56
Duplicate https://github.com/vacp2p/research/issues/3

[2019-11-28 03:30] oskarth commented on #47
@kdeme any chance you could take a look at this one? Changelog in spec has section "Differences between shh/6 waku/0" and it'd be great if all the major differences were there. E.g. handshake business and whatnot

[2019-12-02 10:48] oskarth commented on #32
@decanus what's the state of this issue?

[2019-12-02 10:48] oskarth commented on #47
@decanus @kdeme  what's the state of this issue?

[2019-12-02 10:49] oskarth commented on #49
Update: I didn't get to this last week. Also need to think about how to describe a clear diff in the spec.

@kdeme I don't think it'll change materially from previous PoC. Do you think the nim-eth PoC from before can be brought over and merged? While spec is worked on in parallel

[2019-12-02 10:50] oskarth commented on #41
@decanus whats the state of this?

[2019-12-02 10:51] oskarth commented on #47
Rate limit should be added from here too https://github.com/status-im/specs/pull/60

[2019-12-02 10:53] oskarth commented on #37
@kdeme whats the state of this?

[2019-12-02 10:53] oskarth commented on #36
@decanus what's the state of this?

[2019-12-02 10:54] oskarth commented on #29
@decanus what's state of this?

[2019-12-02 10:56] oskarth commented on #48
Not quite sure what this looks like in terms of spec diff, but I'll have a look this week

[2019-12-02 11:37] oskarth commented on #47
Suggestion for:

Write use light node for now, then in PR ask Adam and Kim for review to get more potential tricks

[2019-12-02 12:12] decanus commented on #36
@oskarth imo we can close this: https://github.com/vacp2p/specs/blob/master/waku.md#mailserver-and-client the in spec stuff is up to date with latest in status specs.

[2019-12-02 12:16] #36 closed, assigned to decanus

[2019-12-02 13:12] decanus opened #59 "Waku: Definitions and Roles"
The Waku spec currently uses a lot of definitions and roles that are not explicitly defined, define these at the beginning of the spec.

[2019-12-02 13:16] decanus commented on #29
Although compact, seems good imo: https://github.com/vacp2p/specs/blob/master/waku.md#light-node

[2019-12-02 13:18] #29 closed, assigned to decanus

[2019-12-03 04:50] oskarth commented on #43
I suppose this is actually WIP? Could you update state of this in Waku project if you agree @decanus, if not lets add to backlog

[2019-12-03 04:51] oskarth commented on #46
@decanus are you ok with this being done? lets update state of this, if it is backlog/todo/wip/done

[2019-12-03 09:40] kdeme commented on #37
I've added this under the explanation of the Status message, see: https://github.com/vacp2p/specs/blob/master/waku.md#packet-usage

I'll close, please reopen if it is not sufficient.

[2019-12-03 09:40] #37 closed, assigned to kdeme

[2019-12-03 10:21] kdeme commented on #49
@oskarth You mean this: https://github.com/status-im/nim-eth/pull/114 . I can resolve the conflicts with the current version. Itcould be merged then yes, any possible differences in future spec can be adjusted.

[2019-12-03 15:09] decanus commented on #46
@oskarth seems like we've decided to go with ABNF, so happy to close.

[2019-12-03 15:09] #46 closed, assigned to nobody

[2019-12-03 22:21] decanus commented on #41
Here are some of my thoughts @oskarth

So requirements like these are a little complicated when operating under the uncertainty that I think we are when it comes to compatibility within Waku. I'll be running through as many of these points as possible in order to highlight my thoughts here with the goal of getting us a little further to the goal.

**1:** Documented understanding of when we can avo

[2019-12-05 03:30] oskarth commented on #39
Done in PR

[2019-12-05 03:30] #39 closed, assigned to oskarth

[2019-12-05 04:20] #59 closed, assigned to nobody

[2019-12-05 04:20] oskarth commented on #59
Issue not well defined, partial PR already done

[2019-12-05 04:21] oskarth commented on #32
Issue not well defined, too broad. Should be factored out into a more minimal acceptance criteria (and more long term research Q).

[2019-12-05 04:23] oskarth commented on #40
This isn't blocked since https://github.com/status-im/specs/pull/60 was merged

[2019-12-05 04:34] oskarth commented on #41
The above is great, but what's missing are next steps. What's the artifact of this issue and where do we go from here?

[2019-12-05 05:04] oskarth commented on #43
Handshake is also wrong per latest rate limit spec...

[2019-12-05 05:22] decanus commented on #47
@oskarth gonna mark ` Think about how to maintain forwards capability for waku/v0 (#41)` as resolved as there is an open discussion around it.

[2019-12-05 05:25] decanus commented on #47
@oskarth to the point of `Port handshake paragraph from`, are we happy with the current paragraph in the status message or do you feel like we need to add more detail?

[2019-12-05 05:28] oskarth commented on #47
https://github.com/status-im/specs/blob/master/status-whisper-usage-spec.md#handshake this seems fine to me, I believe our ABNF etc doesn't reflect this state (after rate limiting discussion)

https://specs.vac.dev/waku.html handshake section doesn't mention optional stuff, and grammar is wrong

[2019-12-05 05:42] oskarth commented on #49
I wonder if we should adjust the current bloom filter API, or have another call (probably cleaner) with explicit topic interest.

This might be a good opportunity to use/fixup usage of MVDS/remote log @decanus and take any lessons learned around current mailserver work (closest node, sticky availability, cursor db stuff etc)

[2019-12-05 05:43] oskarth commented on #49
E.g. see post by @cammellos https://discuss.status.im/t/performance-of-mailservers/1215 re index patterns etc

[2019-12-05 09:14] decanus commented on #43
-  optionals ambiguous x2 #&#x2060;52, fixed in #65

[2019-12-05 09:23] decanus commented on #47
@kdeme is this done for you? if so check the box please.

[2019-12-05 10:40] kdeme commented on #41
Thanks for the write-up @decanus , I generally agree with what is written. Some additional comments below.

re point 1:
The signing is done on the envelope data field, and encrypted afterwards. So if the envelope fields change you would still be able to bridge by just copying over the encrypted data field.
The data fields cannot change as it would require you to decrypt & resign the data.

re poin

[2019-12-05 13:01] decanus commented on #41
great so we can bridge when we move from PoW to ZKP or some other spam resistance method?

so you suggest here to expose every capability between nodes so they can decide if another node supports what they need?

[2019-12-05 13:05] decanus commented on #47
also @kdeme this would be useful for you to comment on, do you have any implementation notes?

[2019-12-05 14:30] #40 closed, assigned to decanus

[2019-12-05 14:52] kdeme commented on #41
Yes, if you would want such thing, then I think it should be possible.

Yes, see also a similar discussion we had here: https://github.com/status-im/nim-eth/issues/116

[2019-12-07 07:59] decanus commented on #47
@oskarth I think we can consider this done, the ABNF stuff is in a different issue & we may be too early for recommendations and implementation notes. Not sure if @kdeme has thought about those 2.

[2019-12-08 15:34] adambabik opened #71 "6/WAKU1: Document the rest of Whisper packets"
# Problem

Not all packets are currently covered by the spec.

- [ ] `11` Batch Ack
- [ ] `12` Message Response
- [ ] `123` P2P Sync Request
- [ ]  `124` P2P Sync Response

# Acceptance criteria

Align with the PR https://github.com/status-im/specs/pull/72.

[2019-12-09 02:17] oskarth commented on #47
Sounds good to me, lets close it

[2019-12-09 02:17] #47 closed, assigned to decanus

[2019-12-09 16:32] decanus opened #73 "Split up Waku spec"
# Problem

Currently the waku spec is rather larger and contains secondary parts to the base protocol that do not need to all be in one specification.

# Acceptance criteria

The specification is logically split up into multiple specifications, it would make sense for things like lightnode, mailserver, whisper envelope and other things to be completely separate.

[2019-12-10 04:43] oskarth commented on #43
@decanus what's the state of this issue?

[2019-12-12 02:42] #43 closed, assigned to decanus

[2019-12-13 07:46] oskarth commented on #30
@adambabik @decanus what's the state of this issue?

[2019-12-15 23:41] #73 closed, assigned to decanus

[2019-12-16 02:31] oskarth commented on #71
What's the state of this @adambabik and @decanus?

[2019-12-16 02:33] oskarth commented on #48
It is mentioned in spec. Good enough for now. Can revisit when we look at routing more and PSS etc.

[2019-12-16 02:33] #48 closed, assigned to oskarth

[2019-12-16 02:34] oskarth commented on #41
@decanus What are the next steps and what do you want to do with this issue? Can we document this in source control perhaps?

[2019-12-16 02:39] oskarth commented on #14
Ping re compatibility discussion issue

[2019-12-16 02:39] oskarth commented on #9
See https://forum.vac.dev/t/transport-agnostic-waku/28/3 for some ideas here

[2019-12-16 02:42] oskarth commented on #49
@decanus Any progress over the last several days on this? Anything

[2019-12-16 02:55] oskarth commented on #73
@decanus why did you close this one?

[2019-12-16 05:12] oskarth commented on #32
@decanus @adambabik what's happening with this issue? Are you going to factor it out into something more minimal? It's been pending for two weeks with no updates...

[2019-12-16 05:18] oskarth opened #79 "Waku mailserver ABNF missing"
# Problem

https://github.com/vacp2p/specs/blob/master/wms.md doesn't use ABNF for field descriptions

# Acceptance criteria

It should, like Waku spec

[2019-12-16 05:29] oskarth opened #80 "Waku mailserver should enable getting by topic"
# Problem

Currently you can only fetch historical messages by bloom filter in https://specs.vac.dev/wms.html

This means you are likely to fetch too much data. See https://vac.dev/fixing-whisper-with-waku

# Acceptance criteria

- There's a way to fetch messages by topic, similar to https://specs.vac.dev/waku.html `topic-interest`

# Details

See above

# Possible Solutions

Considering the API i

[2019-12-16 05:30] oskarth commented on #49
Mailserver issue factored out https://github.com/vacp2p/specs/issues/80

[2019-12-16 07:22] adambabik commented on #71
Need to port https://github.com/status-im/specs/pull/72.

[2019-12-16 07:26] adambabik commented on #32
We want Waku/0 with both geth and Nimbus so we should figure out the easiest solution. Like I said in [the comment](https://github.com/vacp2p/specs/issues/32#issuecomment-557521859), EIP-1459 seems the easiest and will stay useful in the future. It requires development from both status-go and Nimbus but considerably less than implementing the current peers discovery algorithm by Nimbus.

[2019-12-16 11:19] decanus commented on #73
@oskarth mailserver is done, envelope is opened as a PR.

[2019-12-16 15:46] decanus commented on #41
I think we should document exposing capabilities as @kdeme mentioned.

[2019-12-16 16:11] decanus commented on #9
yeah @oskarth, I believe this becomes relevant for compatibility.

[2019-12-17 03:09] oskarth commented on #41
Ok, are you going to do that?

[2019-12-17 05:41] oskarth commented on #80
After conversation yesterday, and in order to do the minimal amount of changes, I suggest the following:

1. Append `Topics` to `[ Lower, Upper, Bloom, Limit, Cursor ]` and specify only last specified argument can be optional (similar to handshake)
2. Call this version 0.2 and get it into clients/production as a backwards compatible change as soon as possible

As soon as above is done and assuming

[2019-12-17 06:39] cammellos commented on #80
This looks ok to me

This I am not sure, maybe I misunderstood, 3 implies that we might have a complete different way of doing things? (i.e we are not necessarily  building on top of what we have, for example say an http endpoint)

If so I would delay point 1 & 2 , and prioritize 3, unless 1 & 2 solves a specific problem that needs solving now (something that needs doing rather than something that

[2019-12-17 08:37] adambabik commented on #80
I think it's not about changing the mechanism completely but rather standardize it and make it everywhere the same. There is a nice discussion in https://github.com/status-im/nim-eth/issues/149 which sheds some light on the problem. Basically, the proposal is to have consecutive packet codes for request-response flow (for example, if `0x01` is a request code then `0x02` should be the response code

[2019-12-17 10:26] kdeme commented on #80
Yes, exactly. Request - response (and even passing a requestId) is currently already there with the P2P Request & P2P Request Complete messages. Just time to make it clear and consistent.

Regarding the `Envelope`, I've written down my reasoning in the [nim-eth issue](https://github.com/status-im/nim-eth/issues/149#issuecomment-566475434), but basically it would help with your concern and make it

[2019-12-17 14:28] decanus commented on #32
@adambabik so I think a problem with the DNS option is an issue we also have documented in the rendezvous issue. Blocking by an adversary becomes rather simple, I am questioning what other schemes we can use in case an adversary blocks access to certain DNS entries. https://github.com/status-im/rendezvous/issues/8

[2019-12-17 15:29] adambabik commented on #32
@decanus not sure we should try to solve this problem in this issue. We don't even have the simplest possible way to share node IPs except for hardcoding them in the code/app itself.

With the current solution, an adversary can block our bootnode IPs and we would need to release a new version of the app or share the new bootnode IPs with the community in some way. Blocking DNS entries might be a b

[2019-12-17 15:39] decanus commented on #32
@adambabik I agree that DNS is probably a good solution for now at least and that it solves most of our issues, I'm highlighting that concern here so that it is persisted somewhere.

[2019-12-17 16:13] decanus commented on #80
@oskarth this approach seems fine to me, from my understanding `cursor` has been optional until this change. What would be the side effect?

[2019-12-17 23:28] decanus commented on #71
@adambabik it looks like the ones which aren't ported are packet codes that are marked as `TODO` in the spec.

[2019-12-18 00:41] decanus commented on #32
so I am currently looking into various protocols that use some form of DNS discovery, both libp2p and bitcoin come to mind although the libp2p DNS spec is for LAN based discovery. See [mdns](https://github.com/libp2p/specs/blob/master/discovery/mdns.md). It probably makes sense to make it similar to some other formats using a certain standard.

[2019-12-18 03:02] #79 closed, assigned to decanus

[2019-12-18 03:07] oskarth commented on #80
If topics-interest is specified, cursor would have to be specified before (possibly as nil), and clients would have to deal with this.

[2019-12-18 03:09] oskarth commented on #80
Fair

@kdeme do you want to write up an issue/proposal for how you'd like the request-reply to work?

[2019-12-18 10:02] kdeme commented on #32
I don't mind initially going for static or for EIP 1459. And using it together with Discovery v5 in the longer run.
Regarding the latter, discovery v5 (latest spec) is already (far) in development in nim-eth. Which  comes with ENR support, which is also needed for EIP-1459.

[2019-12-18 17:42] decanus commented on #41
@oskarth, yes, I will get to that.

[2019-12-19 01:12] decanus commented on #32
Oh also I thought that instead of using `ENR` we could use `mulitaddrs`. Seems like a more versatile standard. @kdeme what do you think?

[2019-12-19 05:57] oskarth commented on #49
Simulation issue factored out https://github.com/vacp2p/simulations/issues/1

Mailserver issue should get merged today

Closing

[2019-12-19 05:57] #49 closed, assigned to oskarth

[2019-12-19 11:42] #80 closed, assigned to oskarth

[2019-12-19 20:17] decanus opened #86 "Waku 0: Hex vs Int value packet code"
# Problem

Currently we are using a mix of hex (RLP) values and int values for message codes.

# Acceptance Criteria

We use either hex or int values consistently throughout the entire spec.

[2019-12-19 23:49] decanus commented on #32
@adambabik @oskarth @kdeme, I decided the best way to go forth here was quickly write up a forum post on my suggestion of how I would do this: https://forum.vac.dev/t/node-discovery-via-dns/29. If this is fine we can spec it out, if not further discuss.

[2019-12-20 02:32] oskarth commented on #86
I think they are consistent with int usage in ABNF and summary listings. It's just that we decided to overload with encoded hex usage in-line because that's how the original Whisper spec did it. If we just remove the hex coding (`0xb`) in body text and refer to the with `proper_names` it should be fine IMO.

[2019-12-20 13:28] decanus commented on #86
@oskarth, I agree we could drop the hex encoding in the spec.

[2020-01-06 03:12] #30 closed, assigned to decanus

[2020-01-07 05:02] oskarth opened #87 "RFC: Nodes and their capabilities"
## Abstract

Currently we describe the various types of capabilities as different node types, such as bootstrap nodes, mailserver servers, mailserver clients, relay nodes, and light nodes. In some places we describe these as actual capabilities that different things a node can do. This inconsistency and lack of clarity around a node and what it can do makes it harder to do many things. Among other

[2020-01-08 03:30] oskarth commented on #87
We should also distinguish between these capabilities as outlined above, and what are called "RLPx subprotocol capabilities" in devp2p. To me the naming above seems accurate, but open to other ideas to not confuse the two.

An important follow up question is in terms of **how we communicate these capabilities and act on them**. For devp2p, this is done in the Hello handshake as a list of protocols

[2020-01-08 10:06] arnetheduck commented on #87
cc @zah @dryajov

[2020-01-08 15:55] kdeme commented on #87
@oskarth Great plan to define terminology on types of nodes and their capabilities!

I think ideally there should be a clear definition & name for each actual use case of a node. So starting from that would perhaps be a good approach.

Some changes I would make:
- I'd split the current full node in full node and historical (full) node.
- Add in some way the fact that a node (full, light, ...) can

[2020-01-08 19:17] zah commented on #87
In the latest discovery protocol (v5), there are two ways to discover nodes:

1) By their capabilities (these are the kinds of messages and requests that a node can understand and answer)

2) By "topics" (these are more akin to "resources" the node has access to. for example, the history of a particular channel, the type of data of data being served, etc). It's up to the application to define what

[2020-01-08 23:27] dryajov commented on #87
I like the idea of capabilities, but I wouldn't (only if informally), try to associate names with groups of capabilities. A capability is some well defined, self contained functionality - for example `bootstrap` or `relay`; a node can have either one or both at any given time. I wouldn't go any more granular than that, because it complicates the mental model and makes little sense from a functiona

[2020-01-09 07:47] adambabik commented on #87
Great discussion!

I like the idea of a well defined protocol string which includes protocol name and version. This is a very simple model which can be supported by even more naive peers discovery protocols.

This is also fine. Alternatively, `[vac/waku/0.2, vac/waku/0.2/relay]`. It depends what is more important: capability or version. Traditionally, it has been version. Also, this is just a hint

[2020-01-09 08:51] arnetheduck commented on #87
might want to keep these simple/opaque - the more complicated they get (ordering, semver), the harder it is to create a forward-compatible upgrade because other (older) clients in the wild will have complex behaviours.

a dumb opaque string that's matched exactly is generally the easiest to deal with - clients then generally implement a facade that simulates old versions they still support and hav

[2020-01-13 13:41] fjl commented on #32
I'd be so happy to see Waku use the devp2p discovery stack as-is. If you already have an implementation of discv5 proper, you can tune it for your needs.

[2020-01-14 11:05] oskarth commented on #71
@adambabik @decanus Is this issue still relevant? Given discussion yesterday, can we update this issue?

[2020-01-14 14:16] decanus commented on #71
@oskarth it looks like most of them still need to be ported.

[2020-01-15 21:59] decanus commented on #87
How does this play in with the previous discussion we had on compatibility (#41), it seems like version numbers need to be assigned to each capability vs waku as a whole am I right in that assumption?

[2020-01-20 14:10] kdeme opened #92 "Passing `topic-interest` between peers"
This issue is on how to handle `topic-interest` versus `bloom-filter` between peers:

### What is there now?

In https://github.com/vacp2p/specs/blob/master/waku/mailserver.md#requesting-messages for the `p2p-request` packet id it is written for the `topic-interest` parameter:
- It is optional, which means it may be omitted, may be null (assuming here empty rlp string - `0x80` hex value), or may b

[2020-01-21 04:09] oskarth commented on #92
Thanks for the write up @kdeme!

This late in the game, I'm in favour of this option. The goal now should be to get across the finish line and reduce risk. The rationale for that spec change is clear - reduce bandwidth usage.

As for making cleaner solutions, I agree that this is a useful design goal to have. Supporting accretion would be close to the top of my list for that. My suggestion would b

[2020-01-21 05:00] oskarth commented on #92
As for optionals, I think the idiomatic way to do this in RLP (LES, ETH etc) would be to do it like this:

1. Bump version
2. Use an association list for optional fields in packet codes

I.e. status message would look like this:

[code]

Along with a preference list in terms of which option takes precedence. This would be extensible and flexible.

The alternative would be to do it a la TLS 1.3 htt

[2020-01-21 19:23] decanus commented on #92
@oskarth I too would support an associated list for this, its currently how ENR works too using assoc lists for its connectivity information.

[2020-01-21 22:18] #86 closed, assigned to nobody

[2020-01-21 23:28] decanus commented on #41
So to this point:
[code]

Have we collectively decided that this doesn't make sense @oskarth and @kdeme, this is the impression I have gotten from our discussions.

[2020-01-22 03:38] oskarth commented on #41
Probably, it is still a bit messy here with spec version mismatch with devp2p string. In libp2p world minor versions might make sense.

[2020-01-22 03:58] oskarth commented on #92
Or the topics themselve not in the Status packet, but just passed with that additional packet id, that the node can send (and as long as this is not send, thus empty). Or make a request/response packet that does this. But these last two are slightly more cumbersome (versus the first always containing the topics list)

[2020-01-22 17:25] decanus commented on #92
yeah lets go witht he minimal change @oskarth

[2020-01-31 16:47] #41 closed, assigned to decanus

[2020-02-03 05:07] oskarth commented on #92
This has been fixed in spec. Still need follow up issues for clients @adambabik and @kdeme

[2020-02-03 05:07] #92 closed, assigned to nobody

[2020-02-03 05:22] oskarth commented on #92
Found one for status-nim https://github.com/status-im/nim-eth/issues/161

Created placeholder for status-go https://github.com/status-im/status-go/issues/1827

[2020-02-12 05:39] oskarth opened #100 "Waku 0.3"
# Problem

- Current spec for waku is 0.2, which doesn't accurately reflect changes last month.

- The changelog section isn't very clear.

- It mentions waku/1 which is confusing as that's not a thing right now.

- Lifecycle of spec isn't specific

# Acceptance criteria

Waku specs 0.3 PR merged

# Notes

- Make changelog in-line to simplify changes (up to date with each PR) as well as scanning f

[2020-02-12 05:50] oskarth opened #101 "Simplify implementation matrix"
# Problem

Currently https://specs.vac.dev/waku/waku.html#appendix-b-implementation-notes seems a bit out of date, and it also lists Whisper etc.

# Acceptance criteria

Simplified implementation matrix merged that is (a) up to date (b) clarifies the diff between clients

[2020-02-12 06:36] oskarth opened #103 "Clarify spec lifecycle status"
# Problem

Currently we treat all specs as roughly the same. Some are mere sketches, whereas others are in production. This problem will only grow as we produce more specs.

## Solution

Use lightweight version of e.g. https://rfc.unprotocols.org/spec:2/COSS/ with

Raw -> Draft -> Stable -> Deprecated -> Retired -> Deleted

To clarify which state a spec is in. The document linked above outlines wh

[2020-02-13 12:00] decanus commented on #103
Might make sense to also make a `CONTRIBUTING.md` file.

[2020-02-14 05:37] oskarth commented on #101
Once https://github.com/status-im/nimbus/pull/456 and https://github.com/status-im/status-go/pull/1855 are merged, update this with something similar outlined in https://github.com/vacp2p/pm/issues/7

[2020-02-20 01:53] decanus commented on #103
@oskarth bump, shall we hash this out this week?

[2020-02-20 01:55] decanus commented on #101
@oskarth looks like that issue had progress, should this still be on blocked?

[2020-02-20 03:48] oskarth commented on #101
Waiting for @adambabik https://github.com/status-im/status-go/pull/1855

[2020-02-21 09:56] #101 closed, assigned to nobody

[2020-02-21 10:06] #100 closed, assigned to oskarth

[2020-04-16 09:49] oskarth commented on #103
Also clarify steps, e.g. draft is ready to be implemented

[2020-05-06 11:26] oskarth commented on #103
Note: https://github.com/vacp2p/specs/pull/113#issuecomment-614616293

[2020-05-15 11:58] decanus opened #122 "Waku Max Packet Size"
# Problem

It was brought to my attention through discussions with @cammellos, @kdeme and a comment (https://github.com/vacp2p/specs/pull/116#issuecomment-621009736) a pull request related to mailservers that there is currently no standardized way on how we actually treat packet sizes.

Waku clients limit message sizes they can receive from peers, if they are too large. They are ignored from my un

[2020-05-18 12:13] cammellos commented on #122
Sounds good overall,
as discussed the way we would want to address this is to leave some headroom for a  potential metadata in the packet size.
Currently in status-go RLP packet is max X bytes and envelope data + header maximum is set to the same value.

The consensus seems to be that we should change the first to X + (some bytes, enough to be able to add some  hypothetical metadata), keeping the

[2020-05-18 16:19] Samyoul opened #124 "message-confirmations-field appears to be describing Message Response"
# Problem

There appears to be a small mix up. Under the `status-options` description there are a number of field descriptions, all are present except for `confirmations-enabled`. In its place is:

https://github.com/vacp2p/specs/blob/master/specs/waku/waku-1.md#message-confirmations-field

This section appears to be describing `Message Response` packet code `0x0C`

# Possible Solutions

- [x] Mov

[2020-05-18 19:09] kdeme commented on #124
Yeah, that's what I meant with my comment here: https://github.com/vacp2p/specs/pull/119#discussion_r421821300
Except that I didn't realize that the name of the field was also wrong.

[2020-05-18 20:11] Samyoul commented on #124
Ok that makes this even easier.

[2020-05-19 09:39] decanus commented on #122
@cammellos So let's say max size equals to max packet size + metadata, am I understanding that correctly or
do you want to ignore metadata totally if possible?

I'm trying to figure out for example if the max size should be `metadata + packet` or if the max size is only `packet` and `metadata` can be of any size we just omit it (don't actually think we could even do this though).

[2020-05-19 09:53] cammellos commented on #122
Just to clarify, metadata is not a well defined payload, currently we don't have any, and each packet might have different kind of metadata attached to it.

Max packet size should include metadata.

Currently `Max packet size` == `Envelope Header size` + `Max Envelope Payload Size`

This means that if we want to add any metadata on top of that, for example for req/resp, say:

[code]
we would never

[2020-05-19 09:53] kdeme commented on #122
The max size on the level of the Waku protocol is checked versus an envelope.
The max size on the level of RLPx is checked versus the complete packet.

A packet may contain several envelopes + meta data.
So setting the RLPx max size to e.g. 10MB, and the Waku max size to e.g. 1MB would allow for sending 1 or more envelopes + meta data.
Just making up some numbers here (well, actually these are the

[2020-05-20 08:01] decanus opened #130 "Changelog unification"
Initially we managed the changelog in a markdown table when things were small, in waku we then moved to a more comprehensive list. We should update all the specs to use the same standard, so probably best to use what waku uses.

Additionally, we should ensure there are repository tags for every unique spec release.

[2020-05-21 10:22] decanus opened #133 "Waku RPC Spec"
# Problem

Currently we have a waku rpc protocol which is based off of the whisper rpc. This however is not documented anywhere.

# Acceptance criteria

There exists a specification for the waku rpc that documents all commands, their responses and how they work.

[2020-05-21 11:54] Samyoul commented on #133
With reference to https://github.com/status-im/specs/issues/126 I've done a bit of research on this. The `waku_` and `wakuext_` method calls are present in `status-go`.

References in the `status-go` docs reflect the changes, but also link to files that appear to contain the full list of jRPC methods.

- Changed `shh_generateSymKeyFromPassword` to `waku_generateSymKeyFromPassword`
  - [Exists here

[2020-05-21 12:04] decanus commented on #133
Yes, that is the goal.

[2020-05-21 12:28] #122 closed, assigned to nobody

[2020-05-21 12:36] kdeme commented on #133
In nim-waku currently the whisper v6 RPC-API was simply copied.

I guess these should be revised. And whichever crucial call that is still missing (e.g. from shhext_*) should be added.

[2020-05-25 08:27] #124 closed, assigned to Samyoul

[2020-05-26 08:56] kdeme commented on #133
There is some information regarding the shhext (and I guess wakuext) calls here: https://github.com/status-im/status-go/blob/develop/services/ext/README.md

[2020-06-03 20:31] Samyoul opened #137 "6/WAKU1: Remove / deprecate Batch Ack packet type"
## Background

In the `status-go` implementation we still use the `Batch Ack` packet type, which appears to be a less functional version of the `Message Response` packet type.

https://github.com/status-im/status-go/blob/cc9c352337e401ecab04aca18477ba6ac5606f33/waku/v1/peer.go#L382-L390

[code]

Also see [previous discussion on this topic](https://discuss.status.im/t/wherefore-art-thou-mailserver-

[2020-06-03 20:40] Samyoul opened #138 "6/WAKU1: Remove MessageResponse version"
# Background

Currently a MessageResponse has a version number, but the role of the version doesn't seem evident.

[See here for previous discussion](https://discuss.status.im/t/wherefore-art-thou-mailserver-treatise-on-waku-terminology/1664/3) with @cammellos

# Questions

- In which circumstance would Message Response make a version change that wouldn’t affect the protocol version?

# Proposal

[2020-06-03 22:36] Samyoul opened #139 "6/WAKU1: Remove confirmations-enabled from status-options"
# Background

Setting `confirmations-enabled` in `status-options` data packets doesn't seem to have any functional role. Currently the `confirmations-enabled` setting communicates to the peer that a host will send ConfirmationRequests.

[See here for details on previous discussion](https://github.com/vacp2p/specs/pull/128#discussion_r427771425) with @cammellos

# Questions

- Why does the node nee

[2020-06-03 22:43] Samyoul opened #140 "Change name of status-options light-node to is-light-node"
# Background

The `status-options` setting `light-node` would more clearly communicate its boolean type by changing the name to `is-light-node`. This isn't a major change and on its own I wouldn't suggest this but in the light of the other potential breaking changes, perhaps we could also consider this one.

# Proposal

- [ ] Change the name of `light-node` to `is-light-node`

[2020-06-11 08:44] #133 closed, assigned to decanus

[2020-07-03 04:31] oskarth opened #145 "Drafting Waku v2 spec to a raw state"
See https://github.com/vacp2p/specs/pull/144 for WIP

This should become a draft that corresponds to what is implemented and what will soon be implemented

## General notes and TODOs

### General
In general, we want to remove as much as possible. WakuSub should be a thin layer on top of PubSub.

A good question to ask: what is the minimal subset we have to support?

How can we defer specific prope

[2020-07-03 10:47] decanus commented on #145
so much yes

[2020-07-06 09:38] kdeme commented on #137
Sounds OK to me to remove it. The go code itself states that it is deprecated. And it seems to be a slightly less functional version of the `messageResponse` as it does not seem to pass in the `envelopeErrors`.

The go code now also seems to send both packet types (I guess for compatibility back when the move was done to the new packet type), and both also seem to be handled still: `handleBatchAck

[2020-07-06 13:21] kdeme commented on #145
Perhaps we can change this also, by moving out (mandatory) encryption. Related to what I mentioned here as option: https://github.com/status-im/nim-waku/issues/39#issuecomment-654168280

Yeah, again, see https://github.com/status-im/nim-waku/issues/39#issuecomment-654168280

I assume that Floodsub/Gossibsub has its build in mechanism for messages to die out?

[2020-07-13 05:01] oskarth opened #149 "Waku v2: Decide what to do about seqno field"
# Problem

Currently the alpha spec says (https://specs.vac.dev/specs/waku/waku-v2.html#protobuf):

There are some trade-offs involved in using this or not.

# Acceptance criteria

1. Decision on what to do with seqno (MAY/SHOULD/SHOULD NOT/MUST/MUST NOT/etc)
2. Rationale in spec

# Details

From Pubsub spec:

# Possible Solutions

1. Encourage use of seqno for data consistency
2. Discourage use o

[2020-07-13 05:11] oskarth opened #150 "Waku v2: Decide what to do about signature field"
# Problem

Currently the alpha spec says (https://specs.vac.dev/specs/waku/waku-v2.html#protobuf):

There are some trade-offs involved in using this or not.

# Acceptance criteria

1. Clarity on whether we want to rely on signature field or not
2. Documented with rationale/caveats/recommendations (e.g. sig above layer?)

# Details

Currently the signature field has some questionable choices:

- th

[2020-07-13 05:12] oskarth commented on #150
cc @decanus @kdeme  @arnetheduck @dryajov @cammellos

[2020-07-13 05:16] oskarth commented on #145
A lot of this has been sorted out, so this can be considered done in terms of initial shaping up of spec.

Let's create follow up issues for specific issues with the raw spec as is. I've started with https://github.com/vacp2p/specs/issues/149 and https://github.com/vacp2p/specs/issues/150 I'll collect these into an umbrella issue soon.

[2020-07-13 05:16] #145 closed, assigned to oskarth

[2020-07-13 05:29] oskarth opened #151 "Waku v2: Document privacy-preserving properties more explicitly"
# Problem

Currently in spec it says:

as well as:

However, we aren't very explicit about how this is achieved and precise guarantees we have. This makes it hard to take seriously as a privacy-preserving protocol.

# Acceptance criteria

1. Document privacy properties achieved with protocol
2. Document what is not (e.g. GPA resistant vs Mixnet)
3. Ensure it is useful from a threat model pov
- i.e

[2020-07-13 05:34] oskarth opened #152 "10/WAKU2: Document resource restricted devices / constrained environments more"
# Problem

Currently in spec it says:

as well as:

    Resource restricted.These applications often run in constrained environments, where resources or the environment is restricted in some fashion. E.g.:

    limited bandwidth, CPU, memory, disk, battery, etc
    not being publicly connectable
    only being intermittently connected; mostly-offline

However, we aren't very explicit about how thi

[2020-07-13 05:45] oskarth opened #153 "Waku v2: Release draft spec"
# Problem

Currently the spec is in raw mode and there are some glaring omissions. We want to have a draft spec that we can share with the community and stakeholders.

# Acceptance criteria

1. Draft means it corresponds to what is implemented in at least one implementation (nim-waku)a
2. All glaring omissions should be documented (some specific enhancements may be out of scope to not drag out)
3.

[2020-07-13 05:47] oskarth commented on #151
We might want to mention Sphinx here as a possible enhancement. We should be clear on feasibility of it and what guarantees this would give us.

[2020-07-13 05:48] oskarth commented on #145
Follow up issue https://github.com/vacp2p/specs/issues/153

[2020-07-13 06:03] oskarth opened #154 "Waku v2: Clarify definitions"
# Problem

Currently in Waku v2 spec https://specs.vac.dev/specs/waku/waku-v2.html we have a definition section but it is empty.

We should understand what things needs to be defined, and then define them clearly.

# Acceptance criteria

1. Filled out definition list
2. Ensure spec is readable by consumers (e.g. Stimbus, Wallet Connect, etc)

# Details

# Possible Solutions

# Notes

cc @kdeme @de

[2020-07-13 15:52] dryajov commented on #149
Imo, the `seqno` is a bit weird and quite hard to implement properly, it's half way thru a counter and a vector clock and as such doesn't meet the criteria for neither. I'm not sure what is the value add of this field as it stand. For example, the spec says it is `linearly increasing` and `unique` for each peer, but there is no way of tracking that across peers; gaps in `seqno` can be due to many

[2020-07-14 04:14] oskarth commented on #149
@dryajov Yeah, inclined to agree. It also doesn't seem like the privacy tradeoffs would be worth it for this protocol.

Leaning towards this option:

[2020-07-14 04:19] dryajov commented on #149
Yeah, that or a random number. This is probably a good issue to raise in the spec itself because I don't see any way of properly implementing/enforcing this.

[2020-07-15 04:58] oskarth opened #156 "Waku v2: Topic interest behaviour"
# Problem

From https://github.com/vacp2p/research/issues/40:

In PubSub terms, this would be a form of content based filtering, as opposed to topic based filtering.

# Acceptance criteria

Ensure there is optional support for content based routing for edge nodes.

# Possible Solution

Currently in Waku v2 raw spec https://specs.vac.dev/specs/waku/waku-v2.html, we have a message type with a data f

[2020-07-15 05:12] oskarth commented on #151
Just a very high level sketch - this needs a better framework to be more minimal/standardized. E.g. real world threat model paper, http://cacr.uwaterloo.ca/techreports/2015/cacr2015-02.pdf etc. Need to look more into e.g. Tor etc design rationale.

Ideas for specific protocols and how they present these properties welcome!

Threat models:
1. Intermediate nodes
2. Light/full node
3. Historical node

[2020-07-20 04:51] oskarth opened #157 "Waku v2 - Historic messages"
**NOTE: This is the spec issue for historic messages, for implementation see https://github.com/status-im/nim-waku/issues/38**

# Problem

We need a method to retrieve and retrieve messages on archive nodes. This allows a user to find messages sent to them when they were online. In Waku v1 we had the Mailserver design which was inspired by Whisper but was a sub-optimal solution to the problem.

It

[2020-07-20 04:59] oskarth opened #158 "Waku v2 companion spec for encryption"
# Problem

Currently in Waku v1 we have basic encryption capabilities (public key crypto, symmetric keys). However, these are tightly coupled and a poor design so we are re-designing them (https://github.com/vacp2p/specs/issues/145).

This means that in Waku v2 there is no end to end encryption by default. It'd be useful to have a basic form of E2EE, etc that people can use.

# Acceptance criteria

[2020-07-20 05:00] oskarth commented on #151
This issue is a bit too big right now, we have to figure out a way to make it smaller. https://github.com/vacp2p/specs/issues/158 is one part. Other ideas for how to approach this welcome.

@decanus @kdeme

[2020-07-20 05:31] oskarth commented on #156
This issue needs to be amend with another one to make it clear how you express topic interest to another node.

[2020-07-20 09:48] kdeme opened #159 "Waku v2: Briding with waku v1"
# Problem
Waku v2 will run on libp2p (Flood/GossipSub + request - response protocol(s) ).
Waku v1 is a "capability" on devp2p/rlpx.

As it currently is specified, the `envelope` structure will also change.

This issue is about investigating how a bridge can work, transferring back and forth these different envelopes, maintaining the payloads.
# Acceptance criteria
Lay out how a bridge between thes

[2020-07-20 10:48] kdeme opened #160 "Waku v2: Express topic interest and be able to receive messages filtered on this"
# Problem
Waku v2 will use libp2p pubsub (FloodSub/GossipSub). Currently the idea is that the topics of pubsub are not to be used in the same sense that Waku Topics are used. But rather that the subscribed pubsub topics are static, and that filtering on Waku topics is done a layer higher.

This does create issues however with the bandwidth limiting functionality of Waku v1, that is topic interest

[2020-07-20 12:02] decanus commented on #151
@oskarth probably we should create a threat model too and have that be a predecessor issue.

[2020-07-22 02:25] oskarth commented on #156
https://github.com/vacp2p/specs/issues/160 here is that issue

[2020-07-23 03:33] oskarth commented on #160
This is what we want to solve with WakuSub.

[2020-07-23 03:56] oskarth commented on #160
I think we are overcomplicating things. This is probably my fault for not adequately expression the vision I originally had for this. Let's see if this makes sense. c @kdeme @decanus

In the Waku v2 spec, we have RPC defined (https://specs.vac.dev/specs/waku/waku-v2.html#protobuf). This is how you
subscribe to topics and send messages. Subscriptions are picked up by the immediate peers you are tal

[2020-07-23 09:39] kdeme commented on #160
I think we are on the same line here.
From your explanation, I believe this is the first option in the possible solutions I suggest here: `Use a separate libp2p request response protocol`.
Basically, using gossip (currently on one topic, not fragmented like you say) for general message forwarding. And using RPC for sending (or requesting, if you want to poll) a subset of those messages, based on t

[2020-07-24 04:30] oskarth opened #164 "Waku v2: Basic shape of History Query/Response RPC"
# Problem

We want to simple way to query and get historical messages in a req/resp manner.

We also want to understand basic shape of this, so we can implement handlers, protobufs, etc.

# Acceptance criteria

PR that shapes up rough data types in minimal fashion.

# Details

See https://github.com/vacp2p/specs/issues/157 and https://github.com/vacp2p/specs/issues/160#issuecomment-662806786

# No

[2020-07-24 04:34] oskarth commented on #157
If the implementation issue is too big, then the spec issue probably is as well.

I split this up into https://github.com/vacp2p/specs/issues/164 (PR issued) and https://github.com/vacp2p/specs/issues/166 (assigned). The next natural step here is (1) basic implementation in nim-waku and (2) fill out Query/Response details.

If there's something else needed for this issue we can break it out. Alter

[2020-07-24 04:38] oskarth opened #166 "Waku v2: Historical Query and Response details"
# Problem

After https://github.com/vacp2p/specs/pull/165 the query and response payload isn't clear. A sketch has been started here https://github.com/vacp2p/specs/pull/147

# Acceptance criteria

Historical Query and Response payloads are filled out and explained along with requirements.

Follow up issues created for any details not quite figured out.

# Details

Part of https://github.com/vacp2

[2020-07-24 04:38] oskarth commented on #166
This is missing an implementation issue on nim-waku side.

[2020-07-24 05:00] oskarth commented on #158
I think how we solve this is relevant for e.g. bridge mode https://github.com/vacp2p/specs/issues/159 @kdeme

[2020-07-24 05:10] oskarth opened #167 "Waku v2 adaptive nodes and capabilities"
# Update

We decided to do it already anyway, see comment thread below.

# Old issue for context

## General problem and context

See https://github.com/vacp2p/specs/issues/87 for general context.

In track 3 (https://vac.dev/waku-v2-plan) there's a subproject re this:

## Proposed decision

Specifically, I'd like to argue that we can and should defer addressing this until we have gotten basics do

[2020-07-24 05:15] oskarth commented on #160
I have addressed/expanded on comment above with PRs in Vac (see notifications above) and also this issue re capabilities https://github.com/vacp2p/specs/issues/167

[2020-07-28 01:59] oskarth opened #168 "ADMIN: Upstream issues and PRs to libp2p"
As we are working on PubSub we are likely to find issues that we want to upstream.

Here's a list of such issues, as reminders:

Issues:
- [ ] libp2p/specs re TopicDescriptor
- [ ] libp2p/specs re subopts

[2020-07-29 05:05] oskarth commented on #167
Based on discussion in https://github.com/status-im/nim-waku/issues/92#issuecomment-665416043 it seems like it'd be better to do this now rather than later.

We have a bit more clarity on topic and content after recent spec editions and simplified Node API.

This means we can do part of this now, while deferring more granular discovery etc until later.

[2020-07-29 05:16] oskarth opened #169 "Waku v2 spec - split protocol ids up into three pieces"
# Problem

As per https://github.com/status-im/nim-waku/issues/92#issuecomment-665416043 it seems like libp2p PubSub and RPC is less amendable to changes than previously thought.

We need to provide capabilities to deal with content filtering and historical messages somehow. See https://github.com/vacp2p/specs/issues/167 for some background.

Therefore, we can spit Waku up into separate pieces for

[2020-07-29 06:17] oskarth commented on #166
https://github.com/vacp2p/specs/pull/170 see this, should be under a separate protocol id (open pr)

[2020-07-29 06:21] oskarth opened #171 "Waku v2 spec out vac/waku/filter protocol"
See https://github.com/vacp2p/specs/pull/170

Should implement basic req/resp or server push for content filter. This will have to a field inside the `data` field of PubSub.

I suggest making a `WakuPayload` protobuf with this and data in it. Then we can do whatever we want in it and be compliant with libp2p PubSub spec.

[code]

Something like this.

---

A "full node" would likely advertise both

[2020-07-29 10:10] oskarth commented on #164
Was done before but not closed

[2020-07-29 10:10] #164 closed, assigned to oskarth

[2020-07-29 17:00] dryajov commented on #169
[code]

Gossip 1.1 already provides a similar mechanism with "always connected nodes", this will essentially receive and forward all messages regardless of subscriptions, so this is essentially a relay of sorts.

[code]

Do I understand correctly that this is for historic messages?

[code]

And this is the pure light client protocol, ie only forward messages that match some filter criteria?

[2020-07-30 01:37] oskarth commented on #169
Correct. The naming is based on the verb that the node is doing in that capability, e.g. as discussed here https://github.com/vacp2p/specs/issues/87#issuecomment-572307942

Reason for not calling it a light client protocol is also because things can be more fluid - e.g. a a node can listen to only a subset of topics, and a desktop node might both act as a relayer for some topics but need a filter

[2020-08-10 14:07] kdeme commented on #160
I don't know, but I guess this can be closed in favour of https://github.com/vacp2p/specs/issues/169 (and perhaps other issues that overlap) ?

[2020-08-25 03:16] oskarth commented on #166
@decanus are you planning on filling out the basics of this this week to correspond with your PR changes in https://github.com/status-im/nim-waku/pull/102?

[2020-08-26 09:42] kdeme commented on #159
Disclaimer: This is a first write up and I'd have to look more into the libp2p side to understand if all is possible, mostly the part regarding the signature (See TBI mentions) is not clear and needs further investigation.

## Payload bridging
A bridge would require obviously support for both Waku versions:
- Waku v1 - with devp2p/rlpx underneath
- Waku v2 - with libp2p underneath

For Waku v2, mo

[2020-08-27 03:24] oskarth commented on #169
https://github.com/vacp2p/specs/pull/170 was merged but didn't close this issue.

[2020-08-27 03:24] #169 closed, assigned to oskarth

[2020-08-27 04:33] oskarth opened #172 "Waku v2: Move contentFilter into a WakuMessage protobuf"
## Problem

Currently in Waku v2 spec (https://specs.vac.dev/specs/waku/waku-v2.html) we have a `contentTopic` field in the `Message` protobuf. This behaviour is needed to get the light client behavior (now `filter` protocol) in Waku v2.

Previously it was thought we could add protobuf fields to the `Message` field (https://specs.vac.dev/specs/waku/waku-v2.html#protobuf), which would allow us to a

[2020-08-27 10:52] #172 closed, assigned to oskarth

[2020-08-27 15:29] kdeme commented on #159
**Update:**
The [PubSub spec](https://github.com/libp2p/specs/blob/master/pubsub/README.md#message-signing) makes it clear that signing happens by the keypair where the peerid is also derived from. So this is a libp2p pubsub interal message authentication and not usable outside of this setting. We should probably advice not to use this as it will have privacy consequences (If this is enabled, it w

[2020-09-03 03:49] oskarth commented on #171
The fact that this wasn't done first is probably what lead to confusion with filter protocol. @decanus

fyi @kdeme

[2020-09-04 03:29] oskarth commented on #171
Initial spec done

[2020-09-04 03:29] #171 closed, assigned to oskarth

[2020-09-04 04:24] oskarth commented on #156
I believe this is solved.

[2020-09-04 04:24] #156 closed, assigned to nobody

[2020-09-04 04:26] oskarth commented on #160
Closing

[2020-09-04 04:26] #160 closed, assigned to nobody

[2020-09-07 03:08] oskarth commented on #167
https://notes.status.im/2jVPeCtHQeeh4P_mfJN3Qg#

![image](https://user-images.githubusercontent.com/1552237/92345013-7d209900-f0fa-11ea-8a60-afb83b437534.png)

[2020-09-07 09:13] decanus opened #176 "WakuV2: Filter Protocol Message refactor"
Firstly, the repeated `message` field in `MessagePush` should be renamed to `messages`. Secondly, we do not need to wrap our 2 RPCs in the `FilterRPC` therefore we can remove that.

[2020-09-09 09:57] #176 closed, assigned to decanus

[2020-09-10 03:41] oskarth commented on #159
@kdeme Any update on this?

[2020-09-14 05:09] oskarth opened #178 "Split up Waku v2 specs into constitutent pieces"
# Problem

Currently Waku v2 spec (https://github.com/vacp2p/specs/blob/master/specs/waku/waku-v2.md) is a single file. It describes the general design goals of Waku, as well as the protocols/components of it.

This makes it difficult to do a few things:
1) Get an overview of Waku and how things work at an interface level
2) Evolve subprotocols at their own pace
3) Understand what a minimal implem

[2020-09-14 12:11] kdeme opened #180 "Waku v2 contentTopic type"
# Problem
In waku v2 the contentTopic is currently defined as an `optional string`.
There is problem with this definition:
In waku v1, this is an array of 4 bytes. When bridging waku v1 to waku v2 this gives an issue. Either we need to change it to an array of 4 bytes or we need some consistent way of converting this (probably having an overlap of topics). This is potentially also a problem for ap

[2020-09-14 13:08] kdeme opened #181 "Provide optional encryption & signing scheme for Waku v2 or not?"
# Problem
This issue is there to decide on whether we should still have optional encryption and signing of message payload inside Waku v2 specs or not. And if so, whether it should look like the current one in Waku v1.

# Acceptance criteria
Decide on what to support in Waku v2.

# Details

It has initially been proposed to no longer support the optional encryption, from Waku v1, in Waku v2.
This

[2020-09-14 14:13] kdeme opened #182 "14/WAKU2-MESSAGE: Investigate the use of a message format with better features regarding unlinkability"
# Problem
There might be ways to link a message to a specific application, or worse user, because of the way the message is formed.

One specific case is for example, always having a specific size. Others might/will apply, tbi.

Waku v1 envelope data format e.g. always adds padding so that the messages become a mutiple of 256 bytes.

# Acceptance criteria
- Review existing solutions, suggest what

[2020-09-14 14:14] kdeme commented on #181
This issue might (or might not) be depended on https://github.com/vacp2p/specs/issues/182

[2020-09-14 14:18] kdeme opened #183 "Investigate privacy properties of libp2p FloodSub & GossipSub"
# Problem
It is currently clear what privacy properties libp2p FloodSub & GossipSub has. It is unclear how this compares with the current Waku v1 solution.

# Acceptance criteria
- Have a clear view on possible privacy issues, what information (meta data) might leak in which setting and how these compare with the current Waku v1 solution.
- Have a DOs and DONTs on how to use FloodSub and GossipSub

[2020-09-14 15:11] kdeme commented on #159
See #179 and https://github.com/vacp2p/specs/issues/181

[2020-09-14 18:48] kdeme commented on #158
Yes, but it is also blocked by this question: https://github.com/vacp2p/specs/issues/181
First need to answer what we will do there. Which format to have/keep or none at all

[2020-09-14 18:51] kdeme commented on #140
I removed the waku-v2 tag as it is not really waku-v2 related.
It is also not a breaking change as what goes over the wire would not change. Just a matter of changing names in spec & implementation. Not really worth the hassle imo as the current name is sufficiently clear.

As it stands now we are likely not to keep the same kind of definitions for nodes in waku v2.

[2020-09-15 04:35] oskarth commented on #182
While I agree we should do this, I think keeping it simple for now is the way to go. Once we have basic track(s) in place, it makes sense for someone to run off and investigate (and then implement) how/if we can use something like Sphinx. It should be a fairly self contained change I believe.

[2020-09-15 07:38] oskarth commented on #180
One thing I've had on my backlog but didn't turn into an issue yet is namespaced topics a la Eth2 p2p spec. What are your thoughts on this? That way perhaps we can have have something like `/waku/v1/<prev-topichash>/encoding`.

From p2p spec:

[2020-09-15 07:41] oskarth commented on #178
Note to self: ensure https://github.com/vacp2p/specs/pull/179#pullrequestreview-488312816 gets merged first

[2020-09-15 07:57] kdeme commented on #182
Yes, which is why I I only tagged with waku-v2 label for now.

However, I do have a slight concern that some of this might depend on the underlying encryption of the payload.

[2020-09-15 08:11] kdeme commented on #180
Yeah, that sounds like a good idea for keeping compatibility when bridging, however allowing different topic type in the future.

We do have to watch out with how much information we provide in such string.
(Side node: ofcoursein eth2 this topic string is different from our contentTopic, as it is on pubsub level, and for Waku it is not)

[2020-09-15 09:10] #159 closed, assigned to kdeme

[2020-09-17 10:52] #178 closed, assigned to oskarth

[2020-09-22 02:36] oskarth commented on #181
@cammellos @iurimatias speaking for Core/Desktop and Stimbus:

1. Do you have any preference for the options outlined above?
2. Do you see any other options?

Also curious to hear @pedrouid and @bgits POV as consumers of Waku v2 that'd be separate from the Status protocol. What expectations do you have here?

[2020-09-22 02:59] oskarth commented on #167
Going to close this for now as it is a bit outdated. We have made some progress on this with protocol split etc.

[2020-09-22 02:59] #167 closed, assigned to nobody

[2020-09-22 03:04] oskarth commented on #157
This is done

[2020-09-22 03:04] #157 closed, assigned to nobody

[2020-09-22 03:05] #154 closed, assigned to nobody

[2020-09-22 03:05] oskarth commented on #153
This has been done for main spec and node

[2020-09-22 03:05] #153 closed, assigned to nobody

[2020-09-22 03:06] oskarth commented on #183
Also see https://github.com/vacp2p/specs/issues/151

[2020-09-22 03:08] oskarth commented on #150
There's a new NoSign policy being introduced: https://github.com/libp2p/specs/pull/294

Being worked on upstream here https://github.com/status-im/nim-libp2p/issues/365

Once that's merged, we can revisit this and use that I believe.

[2020-09-22 03:11] oskarth commented on #149
It has been done already as part of Eth2 https://github.com/ethereum/eth2.0-specs/issues/1981 and https://github.com/vacp2p/specs/issues/150

As soon as nim-libp2p implements it, we can bump

[2020-09-22 03:13] oskarth commented on #140
Closing as this is unlikely to happen, per comment above.

[2020-09-22 03:13] #140 closed, assigned to nobody

[2020-09-22 04:26] oskarth opened #187 "Clean up store protocol spec"
# Problem

Currently https://specs.vac.dev/specs/waku/v2/waku-store.html is extremely rudimentary.

# Notes

Some things that are bad:

1. versions don't match
2. no toc
3. no abstract
4. string type for UUID not clear, should be request id
5. no description of semantics

# Acceptance criteria

Spec cleaned up with basics as indicated above.

NOT in scope: Any more enhancement fields. We aren't re

[2020-09-22 04:27] oskarth commented on #187
@decanus this is what I expected would've been done already, considering how much time you spent on store and previously mailserver protocol.

[2020-09-22 06:24] cammellos commented on #181
With regards to core, we would favor an option that maintains the current protocol properties, at least with regard to metadata protection and encryption.

This has not to be the same exactly, but if we want to maintain compatibility then that needs to be taken into consideration.

Having waku-2 provide only a signature scheme is not of much use to us, as we have our own signature scheme that suit

[2020-09-22 07:55] kdeme commented on #150
I think we should go with 3.
As I also wrote here: https://github.com/vacp2p/specs/issues/159#issuecomment-682021903

It links the creation of the PubSub message with libp2p peerId and thus indirectly with the IP address of the user publishing the message. This is typically something we do not want.
So it should be put in the specs as either:
- MAY sign or SHOULD NOT  and if you still do it these

[2020-09-22 08:54] oskarth commented on #150
Agree, I think on a spec level this will be `StrictNoSign` policy as per 1.1 once that is upstream. Or do you think there is something compared with that?

[2020-09-22 09:52] #166 closed, assigned to nobody

[2020-09-23 05:06] oskarth opened #189 "17/WAKU2-RLNRELAY: Experimental RLN Relay spec for spam protection"
# Problem

This issue is about creating an experimental extension to the `relay` protocol in Waku v2 that implements a novel spam prevention mechanism using zkSnarks and rate limit nullifiers with Semaphore.

This has previously been studied, see details for links and context below.

# Acceptance criteria

A spec that that shows how RLN can be implemented in the context of Waku v2 `relay`protocol

[2020-09-23 07:42] kdeme commented on #150
Yeah, sounds like we should use that when it gets in.

[2020-09-25 14:06] #187 closed, assigned to decanus

[2020-09-25 15:58] decanus opened #193 "Waku V2: Store Protocol Enhancements"
# Problem

The store protocol right now is very rudimentary, it simply allows querying of messages by a topic and nothing else. This is far less featureful then the previous implementation of the [mailserver](https://github.com/vacp2p/specs/blob/master/specs/waku/v1/mailserver.md) that gave far more methods to granularly query for history messages.

# Solution

We should come as close to as possib

[2020-09-28 05:51] oskarth opened #194 "Allow versioned payload spec"
# Problem

Currently we don't have encrypted payload support in Waku.

This is due to not having made a decision yet on how this should work.

# Suggested solution

- Add a version field in WakuMessage type
- Use the existing data envelope field for payload

# Rationale

- We want to reduce risk and make it easy for Core to use existing code without reworking the entire protocol.
- Other consumers

[2020-09-28 05:51] oskarth commented on #194
cc @decanus @kdeme @cammellos for proposed solution to https://github.com/vacp2p/specs/issues/181

[2020-09-28 12:14] oed commented on #181
I might be lacking a lot of context here, but as I understood Whisper the main benefit was the encryption layer which provided metadata protection. My assumption had been that Waku would do this as well. Now I'm curious what a Waku without this feature would be, and how is it different from simply Gossipsub in libp2p?

[2020-09-28 13:45] cammellos commented on #194
It's ok with me to have a version, generally speaking since we are using protobuf I always delay the decision to have a `version` field until you hit `1`, as in any case it will be read as `0` by newer clients when receiving messages from an older version.

Essentially you make an addition to the protocol only when you need it and not earlier, otherwise the risk of not fully capturing your use cas

[2020-09-28 20:07] decanus opened #195 "Waku v2: History response pagination"
# Problem

Currently there is no way to paginate messages in the store protocol.

# Solution

Pagination should be added to the store protocol. It should allow setting the amount of messages to return and the offset to start from. The queried node MUST then use this information to return messages in the queried range.

The pagination can look similar to a cursor in a rest api, however in our proto

[2020-09-29 04:39] oskarth opened #197 "README overview of specs and fix broken links"
# Problem

The current protocol overview here https://specs.vac.dev/ isn't great. There are also some broken links.

# Acceptance criteria

Fix README with better overview and right links.

---

cc @decanus fyi

[2020-09-29 04:45] oskarth opened #198 "WakuMessage and encrypted payload as a separate spec"
# Problem

Currently we embed WakuMessage in WakuRelay spec. However, it is being used by other specs. Additionally, we want to specify optional encrypted payload.

# Acceptance criteria

Separate spec with WakuMessage and/or payload separate.

# Proposed solution

Right now having a separate WakuMessage spec with sections for payload schemes makes sense to me. This way we can have something like:

[2020-09-29 05:21] oskarth commented on #194
Yeah. in this case version=0/omitted is current unecrypted/BYOEncyption

[2020-09-29 05:36] oskarth commented on #181
Hi @oed! Waku v2 is a WIP so some things are still in flux, like the issue here :) You can see some of its design goals in the main spec here: https://specs.vac.dev/specs/waku/v2/waku-v2.html

From the point of view of Waku, the use of GossipSub is an implementation detail. You are correct in the sense that one of the protocols, the relay protocol, is currently shadowing GossipSub. The goal is to

[2020-09-29 07:49] kdeme commented on #181
Additionally, don't confuse metadata protection of the application layer and of the transport/routing layer.

With Waku/Whisper you are trying to have a privacy focused transport layer, in order to avoid any linkability from a message on the network to any peer on that network.

This is different from making sure that the message payload is encrypted so that no unintended user can read it and poss

[2020-09-30 04:15] oskarth commented on #198
Addressed in https://github.com/vacp2p/specs/pull/199

[2020-09-30 04:15] #198 closed, assigned to oskarth

[2020-09-30 04:15] oskarth commented on #194
Addressed in https://github.com/vacp2p/specs/pull/199

[2020-09-30 04:15] #194 closed, assigned to oskarth

[2020-09-30 04:15] oskarth commented on #181
Addressed in https://github.com/vacp2p/specs/pull/199

[2020-09-30 04:15] #181 closed, assigned to oskarth

[2020-09-30 04:16] oskarth commented on #158
Partially addressed in https://github.com/vacp2p/specs/pull/199

Future enhancements of this would be attacked separate. Making these decoupled is mostly at the implementation layer now, and per spec it can be omitted.

[2020-09-30 04:16] #158 closed, assigned to nobody

[2020-10-02 05:17] oskarth opened #200 "Get store protocol to draft state"
# Problem

For Dingpu we want to store protocol to correspond to their implementation, i.e. be in draft mode.

# Acceptance criteria

1. Cluster node needs to be updated, and tested (e.g. with chat2 or storeclient script), for this spec to be considered in draft: https://github.com/status-im/nim-waku/issues/198

2. Spec should correspond to what is in nim-waku implementation.

3. Spec fixes. See b

[2020-10-02 05:22] oskarth opened #201 "Get filter protocol to draft state"
# Problem

For Dingpu we want to filter protocol to correspond to their implementation, i.e. be in draft mode.

# Acceptance criteria

1. Cluster node needs to be updated, and tested (e.g. with chat2) for this spec to be considered in draft: https://github.com/status-im/nim-waku/issues/198

2. Spec should correspond to what is in nim-waku implementation.

3. Spec fixes. Currently the spec is in a

[2020-10-05 12:46] decanus opened #206 "Filter Protocol: Unsubscribe from content filter"
# Problem

Currently there is no way to unsubscribe from a content filter. However this should be easy to do.

# Acceptance Criteria
 - An unsubscribe method is added
 - The user can send the original `request_id` to the filter protocol to unsubscribe.

# Related
 - https://github.com/status-im/nim-waku/issues/85

[2020-10-06 03:26] oskarth commented on #206
What is the signature? Do we really want to use request id to unsubscribe? Seems like a misuse of request ids IMO.

cc @kdeme

[2020-10-06 04:08] oskarth commented on #201
Has this been done @decanus?

[2020-10-06 08:50] decanus commented on #206
@oskarth thats the one way we are identifying things right now. Unless you'd like to additionally change the filters to add an identifier.

[2020-10-06 09:48] oskarth commented on #206
To me a request id is to refer to a request, either in the original request or in the reply to a specific request. Not as a general purpose identified. For example, what happens if you restart your node? I wouldn't expect a node to keep track of old request ids.

What about a Boolean to indicate whether a filter is active or not? Or similar.

[2020-10-06 12:18] decanus opened #207 "12/WAKU2-FILTER: ACK"
# Problem

Currently we expect the FilterProtocol to just acknowledge and accept any Subscribe call. However we should have a method for a node to indicate explicitly whether or not it will do this.

# Acceptance criteria

 - There is some `FilterResponse` indicating whether a node will honour the subscription or not. This will be treated as an ACK or NACK by clients.

[2020-10-06 12:21] decanus opened #208 "12/WAKU2-FILTER: Full / Light node indication"
# Problem

Currently, a filter protocol node does not know whether or not the subscribers are a full or a light node.

# Acceptance criteria

Investigate whether this is necessary to be indicated, if it is we should investigate how best to indicate this.

# Details

Taken from todo:

[code]

[2020-10-06 19:46] kdeme commented on #207
Yeah, `FilterRequest` should be seen as a request/response. The response should be an ack or nack whether the node can supply for those contentFilters (e.g. not if it is a light node).

[2020-10-06 22:30] #200 closed, assigned to decanus

[2020-10-07 02:25] oskarth commented on #200
@decanus this was part of acceptance criteria, can you confirm the cluster node is updated and works?

[2020-10-09 20:25] staheri14 commented on #195
**Solution Overview**

The following idea is based on REST API pagination but with slight differences.

_Note:_ The pagination only applies to an ordered list of results. This order must not change between requests unless the underlying data changes. For example, in databases, results (database records) can be ordered based on their date and time of insertion or any other primary key.

For the sto

[2020-10-10 10:19] decanus commented on #201
@oskarth its linked to a pull request.

[2020-10-10 10:26] #201 closed, assigned to decanus

[2020-10-12 03:51] oskarth commented on #195
Overall looks good and I like the approach with clear assumptions and definitions!

If the ID is a hash of topic/payload and not of time, it seems to me that the ID would be random. If I understand correctly, there will be new messages coming into a history node. Won't this mean that new messages might be added to old pages that a client thinks they have already requested?

I.e. something like: pa

[2020-10-12 04:59] oskarth commented on #193
I think this issue should probably be more about feature parity (or better) with current implementation, at least on a spec level

[2020-10-12 07:05] kdeme commented on #195
In Waku v1 context, an envelope its timestamp is the envelope `expiry - ttl`, e.g. https://github.com/status-im/nim-eth/blob/master/eth/p2p/rlpx_protocols/whisper/whisper_types.nim#L645

[2020-10-12 07:38] cammellos commented on #195
It's the timestamp of the whisper envelope, which is:

`Expiry - TTL`

This work as whisper collectively discard envelopes that are not withing +-/20 seconds, so clocks must be roughly synchronized among peers.

Cursor is essentially `timestamp + hash`

That partially address the issue of insertion in the pagination, as they can only happen on the top results (i.e close to Time.Now()), which the c

[2020-10-12 07:41] cammellos commented on #195
ah forgot to mention :)

Practically speaking, we would set an upper limit to the page size (whether that is to be specified in the specs is up to you), mainly for DOS protection, as an attacker might just send a lot of queries with a very high limit, and the server would spend a lot of time retrieving data and publishing it.
Having an upper limit somehow mitigates this as it balances an attacker

[2020-10-12 13:21] decanus opened #211 "Multiple Protocols for segregation of request and responses"
# Problem

Currently within eth2.0's networking spec push and pull of objects is done through different protocols. This is documented [here](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/p2p-interface.md#reqresp-interaction) and rationalized futher [here](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/p2p-interface.md#reqresp). Due to this we want to investigate we

[2020-10-13 20:19] staheri14 commented on #195
Thanks @oskarth @kdeme  @cammellos for the comments

Based on the discussion, I will set the cursor to `timestamp +hash`

In order to keep the definition of the cursor general and easy to change (for the future cases) I will do the followings:
- I will define an `index` object type which encapsulates fields useful for the paging purposes, for the current version it will encapsulate a `hash` and a

[2020-10-13 21:16] staheri14 opened #214 "Waku v2: History response pagination: Adding necessary datatypes for paging"
# Problem
Currently, the datatypes required for supporting pagination are missing.

# Acceptance criteria
Appropriate datatypes are added and match the paging algorithm discussed in https://github.com/vacp2p/specs/issues/195.

[2020-10-13 22:57] staheri14 opened #215 "Waku v2: History response pagination: Computing index of each waku message"
# Problem
A function computing the `Index` of a `WakuMessage` is required for pagination (issue https://github.com/vacp2p/specs/issues/195).

# Acceptance Criteria
A function is implemented that takes a `WakuMessage`  and returns an `Index` .

[2020-10-14 20:14] decanus commented on #180
So I started playing around with this in nim-waku, eg just changing it to bytes. It will most likely be a huge process so what I am thinking is maybe just using the hashed version of byte4 hex encoded?

[2020-10-15 04:13] oskarth commented on #180
What is the huge process involved?

[2020-10-15 12:47] decanus commented on #180
@oskarth from playing around it would require quite a bit of code changes. And I am currently uncertain how easily it will be to change in certain scenarios. However, it makes more sense to do now rather than later.

[2020-10-16 04:09] oskarth commented on #180
I still don't understand what the code changes required are. Can you please be more specific?

As far as I can tell it is mostly casting a string to a byte string in a bunch of places...

[2020-10-16 06:24] oskarth commented on #214
Closing this as done

[2020-10-16 06:24] #214 closed, assigned to staheri14

[2020-10-16 13:04] decanus commented on #180
@oskarth If I byte sequence is taken then the protobuf decoding could be a little weird. But other than that should be easy. I've also changed it to a fixed32 so in general should be fine.

[2020-10-19 03:06] oskarth commented on #180
Ok, is there a corresponding implementation issue? Would be good to link it

[2020-10-19 13:40] jm-clius commented on #206
I propose a solution where we re-use the `FilterRequest`-message to add unsubscribe functionality to contentFilters. We do this by adding a `bool unsubscribe` to `FilterRequest` that changes the behaviour from an additive to a subtractive filter request. The default remains additive.
This assumes that expected behaviour is to subscribe/unsubscribe from individual contentTopics.

**Implications:**

[2020-10-20 02:22] #180 closed, assigned to decanus

[2020-10-20 02:32] oskarth commented on #206
Sounds good!

This would make sense to me.

[2020-10-20 09:37] jm-clius commented on #206
Thanks, @oskarth

@decanus suggested rather defining a new message for unsubscribe than re-using `FilterRequest`. This can be done (say an `UnsubscribeNotification` wrapped in an `UnsubscribeRPC`), but would diverge from the `bool subscribe` pattern used in the PubSub spec in https://github.com/libp2p/specs/blob/master/pubsub/README.md#the-rpc. Dean, perhaps we should follow the same pattern for c

[2020-10-20 09:40] decanus commented on #206
Hmm, if libp2p uses the bool @jm-clius then I am fine with it, it may make sense to make sure the rest of the messages look similar to that too.

[2020-10-20 09:42] jm-clius commented on #206
Thanks! I'll do that and open for review.

[2020-10-21 00:32] staheri14 opened #219 "13/WAKU2-STORE: History response pagination using sender-generated timestamp"
# Problem
The current implementation of pagination as described in https://github.com/vacp2p/specs/pull/218 conducts paging by indexing the received `WakuMessages` based on their `hash` as well as their receipt time i.e., receiver-generated `timestamp`.  As such, two different store nodes may end up with two different indexes for an identical `WakuMessage` which is received at different times.  Th

[2020-10-21 04:38] oskarth opened #220 "Waku Message from raw to draft state"
# Problem

Waku Message is currently in raw mode. It should be in draft mode for Dingpu.

[2020-10-21 05:44] oskarth opened #221 "RFC: Namespaced pubsub topics for Waku"
# Problem

Currently we only specify one pubsub topic in an ad hoc manner. However, this has some issues when it comes to things like (a) scalability (b) compatibility/upgradability.

Taking inspiration from Eth2 P2P spec and topic design: https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/p2p-interface.md I suggest a similar approach.

# Details

In Eth2 P2P there is a `/eth2/ForkDige

[2020-10-21 05:44] oskarth commented on #221
cc @kdeme @decanus @arnetheduck for thoughts

[2020-10-22 05:34] oskarth commented on #219
I think the issue here is less that cursors are different, but more on how you can query multiple nodes. The way this works in Waku v1 is that https://specs.status.im/spec/11 has a Lower and Upper field:

[code]

This means you can use the Lower parameter (e.g.) in a call to another node, at least in theory. The envelope creation time is synchronized within ~20s in Waku v1, otherwise envelopes/pee

[2020-10-22 10:41] #220 closed, assigned to oskarth

[2020-10-23 05:31] oskarth opened #223 "10/WAKU-2: Elaborate on how protocols interact in Waku v2 spec"
# Problem

Currently the relation between the relay, store and filter protocol in https://github.com/vacp2p/specs/blob/master/specs/waku/v2/waku-v2.md isn't clear

# Acceptance criteria

Make it more more clear how they interact.

[2020-10-23 05:31] oskarth commented on #223
cc @staheri14 @decanus

[2020-10-23 12:32] decanus commented on #197
@oskarth which links do not work, I tried all of them and they all seem fine. Closing this issue for now feel-free to reopen or create a new one with relation to overview cleanup.

[2020-10-24 04:45] oskarth commented on #197
90% of the current site is stuff most people don't care about, and the Waku specs are hidden. Most people will care about Waku v2 right now so it should be more obvious.

Waku home page is a bit broken too https://specs.vac.dev/specs/waku/

Can't find the broken link(s) right now, @bgits found one somewhere. Maybe it is gone now? A linter for this would be nice maybe?

[2020-10-27 03:25] oskarth commented on #221
Discussed during call, will move forward with it

[2020-10-28 03:40] oskarth commented on #193
It's not clear to me what the plan is for this or how it would work exactly, @decanus can you elaborate?

[2020-10-28 05:06] oskarth opened #226 "Bump Waku v2 spec to beta2"
Once store and filter specs are updated, bump Waku v2 main spec to beta2.

I.e. https://github.com/vacp2p/specs/pull/218 and https://github.com/vacp2p/specs/pull/224/files

[2020-10-28 05:21] oskarth commented on #221
Spec PR pushed,

Implementation here https://github.com/status-im/nim-waku/commit/4b21bb6b9b4d71692ec877d903f51ab7d773450e (pushed to master, no functional change, just search and replace - initially meant to do branch first but pushed to master, meh).

[2020-10-28 05:32] oskarth opened #227 "14/WAKU2-MESSAGE: Consider namespaced contentTopics"
# Problem

See if it makes sense to support namespaced contentTopics a la https://github.com/vacp2p/specs/issues/221

A lot of this depends on specific application protocols. Might be specified outside of this since this is about what you put as contentTopic in Wakumessage.

## Notes

Not priority for now, just capturing it.

Note that this might impact how we do bridging. Right now we moved to by

[2020-10-28 05:57] oskarth opened #228 "Relay spec improvements"
# Problem

Currently the relay protocol needs some improvements. This is a list of things that we want to address. They may be split up into individual issues.

- [ ] Disable Floodsb and use GossipSub
- [ ] GossipSub 1.1 for extra protection
- [ ] Use StrictNoSign policy (needed for basic privacy, https://github.com/libp2p/specs/pull/294/files)
- [ ] Upstream issues (where relevant) https://github

[2020-10-28 05:58] oskarth commented on #149
Decided already, we will use StrictNoSign policy. See https://github.com/vacp2p/specs/issues/228

[2020-10-28 05:58] #149 closed, assigned to oskarth

[2020-10-28 05:58] oskarth commented on #150
Decided already, see https://github.com/vacp2p/specs/issues/228

[2020-10-28 05:58] #150 closed, assigned to oskarth

[2020-10-28 06:11] oskarth opened #229 "Waku v1 specs stable"
We have a bunch of specs that are in draft mode but should be stable, since they are being relied up on in production.

Mark these as stable.

cc @decanus

[2020-10-28 06:14] oskarth commented on #103
Aight, this is more about documenting existing procedure. Will make basic PR.

[2020-10-28 08:19] #206 closed, assigned to jm-clius

[2020-10-28 09:44] #221 closed, assigned to oskarth

[2020-10-28 12:31] decanus commented on #193
Well time based is essentially what @staheri14 is working on.

[2020-10-28 15:00] decanus opened #232 "Payload Encryption Waku v2"
# Problem

Currently there is nothing defined as to how payloads are encrypted before being sent in Waku v2.

# Acceptance criteria

Include payload encryption in the spec as it was in [wakuv1](https://github.com/vacp2p/specs/blob/master/specs/waku/v1/waku-1.md#payload-encryption).

[2020-10-28 15:18] decanus opened #233 "Waku V2 RPC API spec"
# Problem

For Waku v1 we have a spec documenting the nodes RPC api, this does not exist for v2.

# Acceptance criteria

There's a spec detailing the V2 api based on its current implementation.

---
**UPDATE** Subtasks added below

# Subtasks
- #257 Basic end-to-end functionality
- #258 Private API
- #259 Basic Admin API

[2020-10-29 03:32] oskarth commented on #193
I think there's a distinction between pagination as a function of number of messages (and receive time) vs what is currently provided with lower and upper field in Waku v1. But we might not need it (and it might introduce unnecessary requirements). Also see https://github.com/vacp2p/specs/issues/219

cc @cammellos @Samyoul for most relevant production queries for Status app and to what extent pagi

[2020-10-29 03:38] oskarth commented on #232
There is a start here https://specs.vac.dev/specs/waku/v2/waku-message.html#payload-encryption

Needs to be implemented though.

[2020-10-29 04:36] oskarth opened #234 "ADMIN: Improve specs home page"
# Problem

Currently the specs home site https://specs.vac.dev/ is messy and hard to get an overview of specs and their state.

# Proposed solution

We use COSS, and it was used for ZMQ which have a nice overview: https://rfc.zeromq.org/spec/29/

This also makes URLs more canonical, similar to what was done for https://specs.status.im/ (but not as nicely)

See:

https://github.com/zeromq/rfc
https

[2020-10-29 04:41] oskarth opened #235 "ADMIN: Use COSS model for change management more consistently"
# Problem

Currently we use the COSS model (https://github.com/unprotocols/rfc/blob/master/2/README.md) for change management.

However, we don't do so fully and have some ad hoc processes. This complicates things needlessly, around versioning, breaking urls, etc.

## Proposed solution

Implement it more fully and document that this is the case.

## Notes

Specific things that stand out to me:

1.

[2020-10-29 04:41] oskarth commented on #235
@decanus FYI, I think I'll go ahead with this one. Let me know if you disagree.

[2020-10-29 04:42] oskarth commented on #234
@decanus Same here FYI, I think I'll go ahead with this one. Let me know if you disagree.

We could go with a Jekyll based book theme if we can find one, more about what is easiest to implement, more important to get canonical urls right etc.

[2020-10-29 06:15] #103 closed, assigned to oskarth

[2020-10-29 08:14] cammellos commented on #193
looking at https://github.com/vacp2p/specs/pull/218/files

it seems like that should cover our needs, minus the fact that we are talking about `receivedTime` and that's not probably our preferred field, sender time is more reliable as consistent across nodes, though can be manipulated, which is sort of ok in waku v1 as nodes ought to be +/- 20 seconds synchronized, but not sure what's the story wi

[2020-10-30 15:50] kdeme opened #237 "Why is the WakuMessage version field a string?"
# Problem
See title
# Acceptance criteria
Explain or change to a value such as int64 or uint64
# Details
Why was the version field specified as a string?  (see https://github.com/vacp2p/specs/blob/master/specs/waku/v2/waku-message.md#protobuf)
Is it unintentional? Or is there a reason behind it such as support for a more complex versioning system?

[2020-11-02 04:13] oskarth commented on #237
Probably a mistake, I can't recall any good reason for why it'd be a string (like using beta1 etc). So should probably be int as you say.

[2020-11-02 09:14] #232 closed, assigned to nobody

[2020-11-02 09:15] decanus commented on #233
blocked by https://github.com/status-im/nim-waku/issues/243

[2020-11-02 09:18] #215 closed, assigned to staheri14

[2020-11-05 02:31] oskarth commented on #219
It is worth mentioning that there is, to my understanding, no synchronized clock requirements for PubSub/GossipSub:
https://github.com/libp2p/specs/blob/master/pubsub/README.md
https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.0.md
https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.1.md

This means a sender generated timestamp would, with current prot

[2020-11-06 18:00] staheri14 opened #239 "11/WAKU2-RELAY: Relay protocol: System model extraction"
## Problem
To extract out the system model of the relay protocol i.e.,

1. Entities and their roles
2. The data flow
3. The security assumptions (e.g., is any entity fully trusted)
4. The overall security guarantees (if any)
5. The potential constraints: To identify a clear set of constraints especially concerning performance that must be met by the spam-protection solution. For example, no centra

[2020-11-06 18:08] staheri14 opened #240 "IDEAL world definition of a spam-protected messaging system"
## Problem
To provide a clear description of a spam-protected messaging system, which includes

1. The exact definition of spamming and spammers
2. The security guarantees that must be provided by a spam protection system as a formal security definition. This may yield different levels of guarantee e.g., secure against Sybil attack, limiting messaging quotas per user, etc.

This issue is part of h

[2020-11-06 19:45] staheri14 opened #242 "Spam-resistant relay protocol solution"
## Problem
To investigate and research on how to integrate the components of the RLN system (as specified in https://github.com/vacp2p/specs/issues/241) inside the relay protocol system model (as specified in https://github.com/vacp2p/specs/issues/239) and  achieve a realization of the IDEAL world pictured in https://github.com/vacp2p/specs/issues/240.

This issue is part of https://github.com/vac

[2020-11-07 00:00] staheri14 opened #243 "11/WAKU2-RELAY: libp2p FloodSub & GossipSub: System model extraction"
## Problem
To specify the structure of FloodSub & GossipSub protocols i.e.,

1. Entities and their roles
2. The data items
3. The data flow
4. The security assumptions (e.g., is any entity fully trusted)
5. The overall service description (What one can expect as the execution of this protocol)
6. The claimed security guarantees
7. The security measures and their relation with the claimed security

[2020-11-07 00:29] staheri14 opened #244 "Relay protocol: Security Guarantees"
## Problem

To list all types of security guarantees we expect from the Relay protocol. Each security property must be associated a formal definition and a title.

This issue is part of https://github.com/vacp2p/specs/issues/183

## Acceptance Criteria
The end result shall be a document embodying  all the security properties and their definition (maybe good to publish on the specs).

- [X] Re-stru

[2020-11-07 00:48] staheri14 opened #245 "11/WAKU2-RELAY: libp2p FloodSub & GossipSub: Security Analysis"
## Problem
To analyze the security of the libp2p FloodSub & GossipSub protocols based on https://github.com/vacp2p/specs/issues/244.
In this analysis, and for each security feature resulted from https://github.com/vacp2p/specs/issues/244 the following items should be investigated
1. Attackers and their incentives
2. Any security measures implemented by  FloodSub & GossipSub protocols to address th

[2020-11-07 05:02] oskarth opened #246 "Accounting: Raw initial spec"
# Context

Excerpt from "Accounting" section in https://vac.dev/waku-v2-plan

This is where we make sure the network isn’t fragile, become a truly sustainable p2p protocol, get our users excited and engaged, and allow us to scale the network without creating an even bigger cluster.

This is based on a few principles:

    Some nodes contribute a lot more than other nodes in the network
    We can

[2020-11-07 05:03] oskarth opened #247 "Accounting: Identify game being played for req-resp nodes"
# Problem

Part of https://github.com/vacp2p/specs/issues/246

Identify what game is being played in a game theoretical manner.

Doesn't have to be perfect, just basic shape that indicates actions and basic properties.

# Acceptance criteria

Documented game in spec.

[2020-11-09 17:04] #195 closed, assigned to staheri14

[2020-11-09 23:24] staheri14 opened #248 "13/WAKU2-STORE: Pagination: distinguishing between an invalid cursor and an empty result"
## Problem

In the current implementation of pagination, a history query with an invalid `cursor` (as part of the paging info) gets responded by an empty set of waku messages. Likewise, if the `topics` field of the history query does not match any of the historical messages, the returned set of messages is empty. The preceding cases are indistinguishable in the current implementation of store prot

[2020-11-13 06:01] oskarth commented on #246
Inital cut done, will be enhanced later as well as put into draft mode. For now focus is on the PoC itself.

[2020-11-13 06:01] #246 closed, assigned to oskarth

[2020-11-13 19:37] staheri14 commented on #239
The following summarizes the key points and features provided by the Libp2p PubSub (hence by the Waku Relay protocol) that seem relevant to enable spam protection on top of the Relay prtocol. This summary is based on https://github.com/libp2p/specs/tree/master/pubsub.  Note that in the current version of the Relay protocol, not all of these features are implemented.

**Messages**
Messages embody t

[2020-11-13 20:50] kdeme commented on #239
@staheri14 There was some previous discussion related to these fields ( 1 and 2) and this resulted in the decision to opt for `StrictNoSign`. (Actually, the discussion started before these signature policy options were added in the libp2p spec)
See also https://github.com/vacp2p/specs/issues/149 and https://github.com/vacp2p/specs/issues/150

[2020-11-13 21:23] staheri14 commented on #239
Thanks @kdeme  for letting me know! Thinking of anonymity as a concern, I  also came to the conclusion that no signature should be included in the messages

[2020-11-13 21:27] staheri14 commented on #239
@kdeme wondering whether the `from` field is also avoided in the PubSub messages? I mean in the Relay protocol

[2020-11-13 22:49] staheri14 commented on #242
The following is the draft of a solution to incorporate RLN into the relay protocol to prevent spamming.
The security objective is to control the number of messages that each peer can generate per epoch, regardless of the topic.

**Design parameters**: epoch

**Additional fields for the PubSub messages**
The following fields shall be added to the PubSub messages:
1.  `epoch`  indicating the intend

[2020-11-16 03:53] oskarth opened #250 "18/WAKU2-SWAP: Improve Swap accounting spec"
# Problem

Currently the spec at https://github.com/vacp2p/specs/blob/master/specs/waku/v2/waku-swap-accounting.md is very raw. Improve it.

# Acceptance criteria

- Clarified spec and sections
- Ideally get to draft stage

# Details

- Clarify volume/bandwidth: https://github.com/status-im/nim-waku/pull/264#issuecomment-727718115

[2020-11-16 04:34] oskarth commented on #242
Overall looks good! I think this can be turned into a raw spec already probably. Will need to think about some stuff in moree detail. Some initial questions and comments:

1. Where exactly? Can we do this in the WakuMessage payload? If we want to build on GossipSub, there are some issues with adding additionally fields "on the outside" in Pubsub. See https://github.com/vacp2p/specs/issues/169 and

[2020-11-16 04:45] oskarth commented on #237
Was this solved? @decanus @kdeme

[2020-11-16 04:45] oskarth commented on #247
Deprioritized

[2020-11-16 07:50] decanus commented on #237
Yes, it seems fully solved. Closing

[2020-11-16 07:50] #237 closed, assigned to nobody

[2020-11-16 20:15] staheri14 commented on #242
@oskarth I see your point, you are right, then we need to add these fields to the payload. Then, the routing peers (talking the Relay protocol) need to parse the payload as well to extract the proof metadata and identify spam messages.

[2020-11-16 20:32] staheri14 commented on #242
@oskarth Indeed! it can be cached, this is also mentioned under the first item of the **Potential Enhancements** of the current issue. From the security perspective, the lack of access to the blockchain does not make any harm, indeed any routing peer with a local `nullifier_map` and the updated `MT.root` is able to catch spammers (i.e., double messaging for the same epoch). To be more specific, th

[2020-11-16 20:36] staheri14 commented on #242
@oskarth  My initial guess is yes, we would probably be able to use these constructs, but I need to spend more time on this, I will get back to you with an informed answer.

[2020-11-16 21:28] staheri14 commented on #250
As far as I understood, accounting is done for the transmission of historical messages (not e.g., for the PubSub messages that peers route as part of the Relay protocol), if this is the case then it is good to clarify it in the abstract and the motivation part. The term _service_  below is a bit general.

[2020-11-17 03:23] oskarth commented on #250
Correct, will do. It should also be useful for filter spec, and possibly other protocols in future (Dagger etc).

[2020-11-18 01:22] staheri14 opened #251 "17/WAKU2-RLNRELAY: Spamming through multiple registrations"
## Problem
In RLN using Semaphore and SSS, the number of signals per registered user per epoch is limited and guaranteed to be one (otherwise the user gets slashed) however, the system is still subject to spamming since each user can register multiple times and use her cumulative quotas for signaling and spamming the system (without being caught). For example, the spammer can create N accounts and

[2020-11-18 10:12] barryWhiteHat commented on #251
This is correct. What we do is enforce a cost/limit on account creation this can be

1. solve captcha
2. burn some eth / crypto
3. make a ZKP about social connections

[2020-11-18 11:20] #229 closed, assigned to decanus

[2020-11-18 19:19] decanus opened #253 "12/WAKU2-FILTER: Failed Nodes and the filter protocol"
# Problem

Currently when a fullnode fails, a light node is not aware of this. This means that it may no longer receive messages from the filter protocol and believe that it is just not receiving messages.

# Possible Solutions

There are currently 2 scenarios that I see working, we may even need to make these both work together assuming that we think certain fullnodes could be byzantine.

1. A li

[2020-11-19 02:32] staheri14 commented on #251
Thanks, @barryWhiteHat!  liked the ZKP of social connections, has it been implemented? got curious to read more about it, it sounds like anonymous credentials or group/ring-based signatures
Also, is there any comparison of these methods available, e.g., their effectiveness, hardness, computational complexity, etc?
For instance, solving captcha seems like the least costly preventative method (and m

[2020-11-19 03:30] oskarth commented on #251
Burning seems to fit quite well with the overall design, could this easily be incorporated into the existing registration contract? That way it comes as a "whole package" with stronger spam guarantees.

The other two might work, but seems less elegant to me as they are either complex or require out of band operations.

[2020-11-19 03:32] oskarth commented on #251
I.e. you deposit 100 units, 50 is burned and 50 goes towards the private key that is slashable. Something like that perhaps? "Half now, half later". This proportion can be tunable I suppose, but for simplicity it seems reasonable. A bit like car losing half its value when you start using it...

[2020-11-19 03:35] staheri14 commented on #251
@oskarth totally agree that burning is a good fit and will do the job with minimum complexity!

[2020-11-23 22:29] staheri14 opened #255 "RLN relay: Using pubsub topic validators for message verification"
## Problem

To experiment and figure out whether the following type of constructs can be used for validation/dropping of messages in the RLN relay protocol:
https://github.com/libp2p/specs/tree/master/pubsub#topic-validation https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.1.md#extended-validators

This issue is part of vacp2p/specs#189 and vacp2p/research#11

## Acceptanc

[2020-11-23 22:33] staheri14 commented on #242
@oskarth Following your question about the usage of topic validators for RLN relay, I created an issue https://github.com/vacp2p/specs/issues/255  for more concrete investigation.

[2020-11-24 09:44] oskarth opened #256 "2/MVDS: Revisit MVDS Epoch and Send Count semantics"
Yes, that's still valid, as an observation because it's left to the application the calculation, MIGHT is probably better than SHOULD,  as it's completely application dependent, some might want to retry in constant time, say if it's a bunch of high availability nodes talking to each other for example.

This I think it needs fixing, currently it's not an issue as we use I believe an `int64` so it w

[2020-11-24 12:10] jm-clius opened #257 "Waku v2 JSON-RPC API spec: Basic end-to-end functionality"
# Problem

Specify basic end-to-end functionality for the Waku v2 JSON-RPC REST API. This is a subtask of the wider API specification described in #233. Implementation counterpart in https://github.com/status-im/nim-waku/issues/299

# Acceptance criteria

1. Basic Pub/Sub functionality specified:

- [x] Client can subscribe to PubSub topic(s)

- [x] Client can receive message notifications for a s

[2020-11-24 12:13] jm-clius opened #258 "Waku v2 JSON-RPC API spec: Private API"
# Problem

Specify Private API functionality for the Waku v2 JSON-RPC REST API. This is a subtask of the wider API specification described in #233. Implementation counterpart in status-im/nim-waku#300

# Acceptance criteria

- [x] API specifies some functionality to generate and use `symkeys` as for Waku v1. v1-like `KeyStorage` is an option, but should preferably be avoided.

- [x] Client should

[2020-11-24 12:16] jm-clius opened #259 "Waku v2 JSON-RPC API spec: Basic Admin API"
# Problem

Specify Admin API functionality for the Waku v2 JSON-RPC REST API. This is a subtask of the wider API specification described in #233. Implementation counterpart in status-im/nim-waku#301

# Acceptance criteria

- [x] Client specifies ability to get list of peers from a `WakuNode`, including their associated protocols and connection statuses

- [x] Consider ways of adding health check(s

[2020-11-27 03:39] oskarth opened #262 "18/WAKU2-SWAP: Incorporate basic settlement"
# Problem

Currently, the SWAP Accounting spec https://github.com/vacp2p/specs/blob/master/specs/waku/v2/waku-swap-accounting.md needs some general improvements https://github.com/vacp2p/specs/issues/250

However, the biggest thing that is missing is how settlement and interactions with chequebook etc should work. See Book of Swarm for more details on a proposed solution. This will also impact wha

[2020-11-27 03:40] oskarth commented on #262
I'll attack this and related issues in December.

[2020-11-27 03:42] oskarth commented on #240
@staheri14 remember to close issue as well when done (sometimes this happens automatically as part of PR closing issue/moving to done column but not always for some reason).

[2020-11-27 03:42] #240 closed, assigned to staheri14

[2020-11-27 03:42] #242 closed, assigned to staheri14

[2020-11-27 05:22] oskarth commented on #250
- [ ] Make WakuMessage dimension explicit, unit and dimension (generalizable)

[2020-11-27 05:23] oskarth commented on #250
Explicit re online time part of peer selection, stake online etc different scope

[2020-11-27 20:13] staheri14 commented on #240
@oskarth Sure, thanks for the heads-up

[2020-11-30 20:07] staheri14 opened #263 "Sequence diagram for rln-relay spec"
## Problem
Currently the rln-relay specs are a bit involved and hard to grasp the overall solution idea. This issue is to add a sequence diagram to the specs  which illustrates the workflow of the nodes.

[2020-12-03 00:48] staheri14 opened #266 "11/WAKU2-RELAY: General spec improvement"
There are a couple of things that might be good to be enhanced/fixed in the relay spec (some of the following items are already described in the libp2p specs, yet as waku relay is the simplified version of libp2p pubsub  (and does not support all the features) it would be good to explain the relevant features).

- A more descriptive abstract (what is the objective of the waku relay protocol, etc.)

[2020-12-04 05:15] oskarth commented on #247
I've been reading Axelrod, and I'm pretty sure we can write something here re iterated prisoner's dilemma and how T>R>P>S property holds, and how it is amendable to tit-for-tat strategies.

[2020-12-04 05:30] oskarth commented on #262
Started on this but would like to get a bit further with PoC to test some assumptions first.

[2020-12-07 04:52] #263 closed, assigned to staheri14

[2020-12-07 07:25] #257 closed, assigned to jm-clius

[2020-12-09 21:46] staheri14 opened #269 "Security Analysis of the Store protocol"
## Problem
To analyze the security of the store protocol.

## Acceptance Criteria
- [X] Identify the adversarial model
- [X] List the security requirements
- [X] Discuss the security features that store protocol preserves
- [X] Provide a list of future work and some potential solutions

[2020-12-10 20:34] #269 closed, assigned to staheri14

[2020-12-10 20:37] staheri14 opened #271 "Security analysis of the filter protocol"
## Problem
To analyze the security of the filter protocol.

## Acceptance Criteria
- [X] Identify the adversarial model
- [X] List the security requirements
- [X] Discuss the security features that the filter protocol preserves
- [X] Provide a list of future work and some potential solutions

[2020-12-14 23:42] staheri14 opened #274 "Add mscgenjs compiler for msc scripts"
## Problem

The figures generated by the suggested mscgen have spacing issues. There is an alternative version in js which does the same job but with much better quality.  As the result of this issue, the new compiler is going to be added in the "style guide" section of specs readme file.

[2020-12-15 00:24] staheri14 opened #276 "Handling inputs to a smart contract constructor during deployment through nim-web3"
## Problem

The problem is about how to deploy a smart contract with its constructor's inputs using nim-web3.

**Some thoughts**:
The [`EthSend`](https://github.com/status-im/nim-web3/blob/0361338cea1cf0c3999434c349287081ec81c133/web3/ethtypes.nim#L34)  has a [`data`](https://github.com/status-im/nim-web3/blob/0361338cea1cf0c3999434c349287081ec81c133/web3/ethtypes.nim#L40) field which  embodies th

[2020-12-15 04:39] #274 closed, assigned to staheri14

[2020-12-17 08:17] #258 closed, assigned to jm-clius

[2020-12-18 00:28] staheri14 opened #279 "Waku message security consideration"
## Problem
To briefly discuss the security consideration that must be taken at the Waku Message level to protect data confidentiality, integrity and authenticity as these are not supported by the waku relay protocol.

## Acceptance Criteria
Add a subsection to the waku message specs explaining the required security considerations

[2020-12-19 00:01] staheri14 opened #281 "Waku store design goals and requirements"
## Problem
To discuss the design goals and requirements of the Waku Store in its specs.

## Acceptance Criteria
Have the following discussed in the specs:
 - [X] Best effort message Persistence as the design goal
 - [X] High availability of the store nodes as the main assumption

[2020-12-21 19:17] #271 closed, assigned to staheri14

[2020-12-21 19:29] #279 closed, assigned to staheri14

[2020-12-21 19:43] #244 closed, assigned to staheri14

[2020-12-21 19:51] staheri14 opened #282 "Adding a summary of the security features provided by Waku v2"
## Problem

The current Waku v2 specs lack an analysis of the security features and considerations that one should consider and know about when utilizing Waku v2.

## Acceptance Criteria
To update the Waku v2 specs with the following items:
- [x] A section overviewing the threat model
- [x] A section explaining the security features and their respective protocol layers

[2021-01-04 06:32] #259 closed, assigned to jm-clius

[2021-01-04 06:39] #233 closed, assigned to jm-clius

[2021-01-04 06:39] jm-clius commented on #233
All subtasks completed and issues closed

[2021-01-07 18:10] #281 closed, assigned to staheri14

[2021-01-07 21:04] staheri14 opened #286 "17/WAKU2-RLNRELAY: RLN-Relay vs GossipSub peer-scoring"
## Problem
To clarify what additional spam protection Waku RLN-Relay  provides over the peer-scoring of GossipSub.
This comparison shall be added to the [Waku RLN-Relay](https://github.com/vacp2p/specs/blob/0bb2747b097da14f2544a2797988f8d5908a192a/specs/waku/v2/waku-rln-relay.md) and its summary gets included in [Waku v-2 specs](https://github.com/vacp2p/specs/blob/0bb2747b097da14f2544a2797988f8d5

[2021-01-08 18:06] #282 closed, assigned to staheri14

[2021-01-08 21:39] staheri14 opened #287 "17/WAKU2-RLNRELAY: Storage-efficient solution for maintaining a dynamic Merkle Tree"
# Problem
Following my conversation with Onur, I have opened this issue regarding an approach for maintaining a dynamic Merkle Tree in a storage-efficient way.  Currently, an algorithmic approach to address this problem is unknown. In specific,  the membership tree in rln-relay, modeled as a Merkle Tree, is subject to change due to the new registration and deletion of slashed peers. There are a co

[2021-01-21 05:08] alfredolopez80 opened #288 "16/WAKU2-RPC: Problem with polling message for relay protocol"
# Problem
I am a deputy architect in PAID Network and we want to integrate your system to our PAID Dapp but we found problems at the time of configuration and therefore I post this issue, so that you can support us if it is a configuration problem or a problem in the node code
We need a method to retrieve and retrieve messages on nodes. since the current method using the following tutorial (https:

[2021-02-02 00:53] oskarth commented on #253
@jm-clius if you feel differently about this feel free to activate it again, otherwise seems unlikely we'll get to in Feb

[2021-02-02 00:54] oskarth commented on #247
While above can be done, it isn't super prio to formalize this game theoretically in spec at this stage. Intuitively and conceptually it makes sense.

[2021-02-02 00:55] oskarth commented on #197
While nice it obviously hasn't been prio for us to address last few months, so putting in icebox.

[2021-02-02 05:14] oskarth commented on #228
@staheri14 @jm-clius what's the current state here? Should we close this one?

[2021-02-02 05:16] oskarth commented on #235
I would like to get to this, but in reality it isn't super important. Putting it in icebox.

[2021-02-02 05:21] oskarth commented on #223
Unclear action/priority here. Not sure you have something specific in mind re this @staheri14 - moving to icebox for now

[2021-02-02 05:22] oskarth commented on #207
cc @jm-clius thoughts on this one? Moving to icebox for now

[2021-02-02 05:22] oskarth commented on #234
Ditto other COSS issue, icebox for now

[2021-02-02 05:23] oskarth commented on #211
Icebox.

[2021-02-02 05:23] oskarth commented on #183
@staheri14 what do you want to do with this issue?

[2021-02-02 09:00] jm-clius commented on #207
Yes, not highest priority, but still a useful feature to add. I'll bear in mind, especially as it relates to https://github.com/status-im/nim-waku/issues/257 which I want to get to at some point.

[2021-02-02 09:12] jm-clius commented on #228
As far as I can see we've completed all subtasks. Can close this one.

[2021-02-02 10:02] #228 closed, assigned to nobody

[2021-02-02 20:53] staheri14 commented on #223
I think we wanted to have a stack type of presentation of waku protocols, treating each protocol as a separate module, visualizing their interactions, the features supported by each (very abstract), something like OSI model
But it is going to be a future issue and for sure can be in the icebox

[2021-02-02 21:05] staheri14 commented on #183
My understanding was that we are going to inspect the  libp2p FloodSub & GossipSub protocols and analyze its security and then give feedbacks (if any) to the libp2p team. Right now, we have done it for the primary adversarial model, but the malicious/active adversarial setting is not done yet. Even for the primary adversarial model the investigation can get further and each security feature can be

[2021-02-02 21:24] staheri14 commented on #183
Just realized it is the comparison with waku v1, in case v1 and v2 are identical with respect to their features then we can close the issue (because we analyzed v2 not v1), otherwise we shall keep this issue open and move to the icebox.

[2021-02-03 03:12] oskarth commented on #183
It seems like this issue isn't reflecting how we currently think about this work, so I'll close it in favor of something more targeted. We are also no longer using FloodSub.

[2021-02-03 03:12] #183 closed, assigned to nobody

[2021-02-08 21:20] #276 closed, assigned to nobody

[2021-02-17 05:50] oskarth commented on #247
I analyzed this a bit and it is a donations game (benefit/cost) as a subset of PD. So that's good!

[2021-02-17 06:36] oskarth commented on #250
https://github.com/vacp2p/specs/pull/290 part done here; more to do re cheque format etc.

[2021-02-17 06:41] oskarth commented on #262
Some has been done in tests now with the independent SWAP module. Needs to be integrated into the actual running code.

[2021-02-22 05:28] oskarth commented on #262
This is the spec side issue. Initial work has been done in https://github.com/vacp2p/swap-contracts-module

Nim side is happening here https://github.com/status-im/nim-waku/pull/386 and in follow up PRs

[2021-03-04 00:06] D4nte opened #292 "Sybil attack?"
Considering https://github.com/vacp2p/specs/blob/fb198dc0e46c9ada1d4ddc8a73f431dd3ab978fa/specs/waku/v2/waku-relay.md#L57

Which means that only attackers that follow the protocol are considered.
If I understand correctly, it means that we do not take in account attackers that are performing a [Sybil attack](https://en.wikipedia.org/wiki/Sybil_attack) by **not** relaying messages to other peers.

[2021-03-04 02:56] D4nte commented on #266
May I add that the [`Wire Specification`](https://github.com/vacp2p/specs/blob/fb198dc0e46c9ada1d4ddc8a73f431dd3ab978fa/specs/waku/v2/waku-relay.md#L63) could be improved as follow:

It is not clear what are those _two things_.

The _Protobuf_ section seems to describe how WakuRelay implement `PubSub` (and not specifically how PubSub works).
This create some contradictions as the fields `from`, `k

[2021-03-04 03:56] D4nte opened #293 "Waku Store Questions"
_I am trying to group questions for a given spec together, feel free to criticize the format and suggest a more practical one._

# High availability/uptime

In https://github.com/vacp2p/specs/blob/fb198dc0e46c9ada1d4ddc8a73f431dd3ab978fa/specs/waku/v2/waku-store.md#L37, both _high availability_ and _high uptime_ terms are used. It is unclear (to me) what is the difference between both. I'd suggest

[2021-03-04 04:31] #292 closed, assigned to nobody

[2021-03-04 04:33] #293 closed, assigned to nobody

[2021-03-05 00:22] staheri14 commented on #255
New findings:
The message validation is required as part of rln-relay to verify the proof attached to the pubsub messages . If not verified, the message must be dropped.
In the current implementation, apparently our only connection to the pubsub messages is through a handler that is passed from `WakuRelay` to the `GossipSub` layer . The handler has access to the `WakuMessage` (which is the data fi

[2021-03-05 01:48] staheri14 commented on #266
I agree, it is better to say it as a reminder.

[2021-03-11 04:07] D4nte opened #299 "16/WAKU2-RPC: JSON RPC Debug API - Return PeerId"
The `get_waku_v2_debug_v1_info` json RPC method returns an object with a unique field:
- `listenStr`: Address that the node is listening for (e.g. `/ip4/127.0.0.1/tcp/60000/p2p/16Uiu2HAkyzsXzENw5XBDYEQQAeQTCYjBJpMLgBmEXuwbtcrgxBJ4`)

It would be great if it could also return the `peerId` in a standalone field.
While the information is already present, one has to do string manipulation to extract i

[2021-03-11 23:53] staheri14 commented on #255
I am considering this issue as done since the implementation of the last PR https://github.com/status-im/nim-waku/pull/414 proved we can filter messages in the rln-relay by defining our custom topic validator and passing it to the pusub layer. One more thing that is concluded is that any additional metadata  e.g., zk proof should be (is better to be) added to the `WakuMessage` rather than the pubs

[2021-03-11 23:53] #255 closed, assigned to staheri14

[2021-03-16 03:37] D4nte opened #301 "13/WAKU-STORE: Use multiformat for waku-store digest"
As [discussed](https://github.com/vacp2p/specs/discussions/297#discussioncomment-486592), in the waku store [specs](https://github.com/vacp2p/specs/blob/a5c137002fb4dca401bf355546dbce1ff685132f/specs/waku/v2/waku-store.md#L94), little information is provided about the digest.
If we do not want to restrict the digest to a specific hash function, then I would suggest to use [multihash format](https:

[2021-03-16 04:21] D4nte opened #302 "13/WAKU2-STORE: Received time in `HistoryQuery` is not a `MUST`"
As [discussed](https://github.com/vacp2p/specs/discussions/297#discussioncomment-486596), considering that the queried node `MAY` use the `receivedTime` (as part of the index) to sort messages, it means that some implementation could decide to not use the `receivedTime` to sort messages.

This means that in an heterogeneous network, a querying node cannot rely on this behaviour and should always r

[2021-03-17 20:53] richard-ramos opened #306 "13/WAKU2-STORE: `receivedTime` in Index should use `double` instead of `float`"
`receivedTime` is currently using the `float` type which according to the protobuffer [documentation](https://developers.google.com/protocol-buffers/docs/proto3#scalar) maps to 32-bit float in some compiled languages.

nim-waku implementation is using [toUnixFloat](https://nim-lang.org/docs/times.html#toUnixFloat%2CTime) which returns a `float` (these are mapped to float64 according to nim manual)

[2021-03-24 06:42] oskarth commented on #266
Also see re control messages here https://github.com/vacp2p/specs/discussions/303

[2021-03-26 05:45] oskarth commented on #235
Now that we have a few implementations I'll go ahead with this one.

[2021-03-26 05:46] oskarth commented on #234
Now that we have a few implementations I'll go ahead with this one.

[2021-03-31 05:02] oskarth opened #311 "ADMIN: Rename repo to rfc and archive previous rfc.vac.dev site"
Also ensure redirects/DNS etc works as expected:
- rfc.vac.dev works
- specs.vac.dev redirects to rfc.vac.dev
- Github specs redirects to rfc
- Github stars and issues maintained

[2021-03-31 05:03] oskarth commented on #306
I believe this relates to the store protocol

[2021-03-31 05:14] oskarth commented on #302
IIRC this relates to some implementations wanting to use sendTime instead, cc @staheri14 @cammellos

 See https://github.com/vacp2p/specs/issues/219

[2021-03-31 05:17] oskarth commented on #288
Hi @alfredolopez80 thank you for the issue, sorry we missed this!

@jm-clius do you have any thoughts on the above?

[2021-03-31 05:26] oskarth commented on #247
This was done

[2021-03-31 05:26] #247 closed, assigned to oskarth

[2021-03-31 05:28] oskarth commented on #234
This has been done rfc.vac.dev Also see https://github.com/vacp2p/specs/issues/235

[2021-03-31 05:42] oskarth commented on #227
@jm-clius this might be interesting re WalletConnect contentTopic discussion. Do you see any issues with us moving to something like 3?

[2021-03-31 05:44] oskarth commented on #226
Outdated

[2021-03-31 05:44] #226 closed, assigned to nobody

[2021-03-31 05:47] oskarth commented on #223
@D4nte @richard-ramos is there something specific you'd like to see here?

[2021-03-31 05:48] oskarth commented on #211
Not sure this is a priority or something we are thinking of attacking, if this comes up again we can reopen

[2021-03-31 05:48] #211 closed, assigned to nobody

[2021-03-31 05:49] oskarth commented on #197
Done

[2021-03-31 05:49] #197 closed, assigned to nobody

[2021-03-31 05:54] oskarth commented on #219
See https://github.com/vacp2p/specs/issues/193#issuecomment-718463115

[2021-03-31 05:54] oskarth commented on #193
Closing as there are more specific issues

[2021-03-31 05:54] #193 closed, assigned to nobody

[2021-03-31 05:58] oskarth commented on #182
Brief update: this is still not a priority, but something for further privacy enhancements once we have gotten Waku v2 shipped, I believe. cc @staheri14 for awareness as it relates to general privacy guarantees and analysis.

Unassigning myself as I'm not likely to personally work on this any time soon, but I'd be happy to look at proposals here

[2021-03-31 05:59] oskarth commented on #168
Anything that comes to mind here @jm-clius @staheri14?

[2021-03-31 06:04] oskarth commented on #151
Partly been done and superseded by scoping work @staheri14 has done, closing

[2021-03-31 06:04] #151 closed, assigned to nobody

[2021-03-31 06:08] oskarth commented on #138
6/WAKU-1 spec not under active development, not a priority unless there is a strong need (PRs welcome in that case).

[2021-03-31 06:12] oskarth commented on #139
6/WAKU-1 spec not under active development, not a priority unless there is a strong need (PRs welcome in that case).

[2021-03-31 06:12] oskarth commented on #137
6/WAKU-1 spec not under active development, not a priority unless there is a strong need (PRs welcome in that case).

[2021-03-31 06:13] oskarth commented on #130
Probably outdated now that raw/draft/stable matters more

[2021-03-31 06:13] #130 closed, assigned to nobody

[2021-03-31 06:16] oskarth commented on #71
6/WAKU1 spec not priority, PRs welcome though

[2021-03-31 06:20] #32 closed, assigned to nobody

[2021-03-31 06:20] #87 closed, assigned to nobody

[2021-03-31 06:22] oskarth commented on #17
Not a priority, we might even want to archive this spec...

[2021-03-31 06:26] oskarth commented on #10
@dryajov curious if something happened with this?

also cc @staheri14 for awareness

[2021-03-31 06:27] #9 closed, assigned to nobody

[2021-03-31 06:55] cammellos commented on #302
So,
using received time is an interesting choice,
waku-v1 uses sender time, with the main advantage being that is consistent across peers, meaning a message sent will have the same sender time across any node and is less affected by network delays/partitions etc, and if sorted by `sender-time-hash-of-message` you have a total ordered collection of messages.

That means we can sync from node A or n

[2021-03-31 12:40] jm-clius commented on #227
None at all. I opened an `enhancement` issue to get this done.

[2021-03-31 14:06] jm-clius commented on #208
Unassigning myself as this is not yet a priority. Feel free to reassign me if an urgent use case is identified. If after another spec review cycle we still haven't identified a use case where this is necessary, I'd suggest closing this issue until we do.

[2021-03-31 14:10] jm-clius commented on #207
Not yet a priority. I hope to spend some time on the Filter Protocol once Waku v2 has reached some maturity and production-readiness. This issue in conjunction with status-im/nim-waku#257 will be useful enhancements.

Unassigning myself for now.

[2021-03-31 14:12] jm-clius commented on #168
I've been following https://github.com/status-im/nim-libp2p/issues/537 for a while. We're currently using a PoC peer/connection management solution.

[2021-03-31 14:38] jm-clius commented on #288
Hi @alfredolopez80, I'll be happy to help! Sorry your issue fell through the cracks.

You're following the correct tutorial for the most basic PubSub usage. For more advanced uses you can consult the [full API specification](https://github.com/vacp2p/specs/blob/master/specs/waku/v2/waku-v2-rpc-api.md).
Just to clarify:
1. As far as I can tell your issue is that when you call `get_waku_v2_relay_v1_

[2021-03-31 19:30] staheri14 commented on #182
@oskarth Thanks for pinging me here! Padding + Encryption is a typical and decent approach to overcome such sizing issues and distinguishability problems (it is also already implemented in Waku v1). I will take a look at Sphinx article at a later time (depending on the priority of this issue) and will get back to share ideas.

[2021-04-01 00:58] staheri14 commented on #302
Agree! following your reasoning and our conversation in https://github.com/vacp2p/research/issues/64, I think the sender-generated timestamp is a reasonable choice and allows consistent query results across different store/history nodes.
I will still keep the `receivedTime` in the paging information of the store protocol (i.e., as part of the `Index` https://github.com/vacp2p/specs/blob/master/spe

[2021-04-01 04:03] #235 closed, assigned to oskarth

[2021-04-01 04:17] oskarth commented on #227
I'd be curious to hear @cammellos thoughts on this from Core's POV as well. One could imagine namespaces being used to get some form of ambient channel discovery, i.e. you have something like `status/<foo,bar,baaz>` and in a "Status" context foo, bar, baaz would become visible (obviously this depends on if you use plaintext or a hash, in which case hash would have to be known and it'd be more of a

[2021-04-01 04:18] oskarth commented on #168
Right, this issue was more about at spec level :) https://github.com/libp2p/specs

[2021-04-01 04:33] oskarth commented on #302
I think we discussed this before and I think that seems reasonable :)

[2021-04-01 05:07] oskarth commented on #234
Done

[2021-04-01 05:07] #234 closed, assigned to oskarth

[2021-04-01 06:30] cammellos commented on #227
I don't quite have enough context to fully understand what's proposed,
but in general from my point of view, eventually we'd want community owners to contribute to the network without putting extra burden to it (i.e run their own nodes where they route traffic), so name-spacing topics would be useful, so that we can identify and make choices on whether to forward that traffic.

Anything that helps

[2021-04-01 08:56] oskarth commented on #227
Routing topics would primarily happen through PubSub topics, not contentTopics (only for store/filter req-resp protocols), but good to know.

[2021-04-01 09:49] oskarth commented on #311
Done

[2021-04-01 09:49] #311 closed, assigned to oskarth

[2021-04-01 15:29] jm-clius commented on #227
My preference would be to only enforce namespacing where we have control over the application (e.g. to support bridging to V1 a content topic MUST reside under the `/waku/v1/` namespace) and have optional support for all other applications. This will allow more flexibility for users such as WalletConnect who already have a use case in mind.

[2021-04-01 17:15] dryajov commented on #10
No progress has been made in nim-libp2p and I don't believe that there is any progress at the libp2p spec level either.

On the other hand, with QUIC, we mitigate the need for unreliable transports at the libp2p level for the most part, in part this is one reason for not investing much time in it. QUIC brings the best of both worlds, it eliminates "Head of line blocking", but at the same keeps the

[2021-04-02 03:47] oskarth commented on #10
I think this issue is more about end-to-end reliability over (e.g.) a gossip network / forwarding kademlia or similar, not peer-to-peer reliable transport. Perhaps that was an initial misunderstanding?

All good, no specific need here, just wanted to make sure we followed up on this as I remember this was a line of inquiry before

[2021-04-02 04:52] oskarth opened #318 "GENERAL: Implementation status across specs"
# Problem

It isn't clear what state specs are w.r.t. implementations, how it can be used in practice etc.

# Solution

Add a lightweight section "Implementation status" to most relevant specs with a link to home of implementation.

Additionally, try to ensure implementations are explicit about which specs they support and don't (follow up in specific implementation repos).

For example, see https

[2021-04-02 05:27] oskarth opened #321 "16/WAKU2-RPC Lifecycle status draft"
Currently this is listed as raw, I believe draft is the current state.

If some calls are not implemented fully, we can mark them as such in the spec.

[2021-04-02 05:30] oskarth commented on #318
Actually what would be useful is clarify on what the current Go/JS implementations support. Here's my current understanding:

1) nim-waku

Implements 6, 7, 8, 9, 10, 11, 12, 13, 14, 16 and partially implements 15, 17, 18 (still raw)

2) js-waku

 Partially implements 7? 10? 14? and implements 11

 For Node only (not Browser yet)

 3) go-waku

Partially implements 7? 10? 14? and implements 11

@D4n

[2021-04-02 22:01] staheri14 commented on #219
I think I can address this issue along with the development of the fault-tolerant version of the store protocol.

[2021-04-02 22:05] staheri14 commented on #239
Items 1-4 are addressed in the first round of security analysis, item 5 is part of rln-relay specs. As all the requirements are addressed, I am closing this issue.

[2021-04-02 22:05] #239 closed, assigned to staheri14

[2021-04-02 22:13] staheri14 commented on #286
This matter has been covered in https://github.com/vacp2p/vacp2p.github.io/blob/master/_posts/2021-03-03-rln-relay.md, do we need further elaboration or research on this subject? We can certainly dig more into the peer scoring and provide a more comprehensive comparison with rln-relay, but I am not sure about whether it is needed and whether this is going to be needed any soon. @oskarth would be t

[2021-04-02 22:42] staheri14 commented on #306
Addressed in https://github.com/vacp2p/rfc/pull/323

[2021-04-02 22:44] staheri14 commented on #306
Thanks @richard-ramos for pointing this out!

[2021-04-02 23:13] staheri14 commented on #189
This issue is going to be covered once the rln-relay PoC is completed, so going move it to the icebox.

[2021-04-02 23:17] staheri14 commented on #243
The parent issue is closed, so should this!

[2021-04-02 23:17] #243 closed, assigned to staheri14

[2021-04-02 23:25] staheri14 commented on #245
Not a priority right now. I am going to unassign myself for now but will get back to it when it becomes a priority.

[2021-04-02 23:27] staheri14 commented on #251
We are not going to cover it any time soon but we'll consider this for later. Unassigned myself for now, will get back to it later.

[2021-04-02 23:29] staheri14 commented on #248
It does not seem to be urgent,  will work on it later. Unassigned myself for now, but going to address it in the near future.

[2021-04-02 23:35] staheri14 commented on #287
The solution was sorted out in https://github.com/vacp2p/research/pull/54. I consider this issue as done so going to close it.

[2021-04-02 23:35] #287 closed, assigned to staheri14

[2021-04-02 23:40] staheri14 commented on #301
Thanks @D4nte for opening the issue and the suggestion!
Thinking that maybe it would be better to enforce a particular hashing function in order to provide consistency across different store nodes. This way, paging indices (cursors) would be reusable from one store node to another.
@oskarth please let me know your thoughts on this.

[2021-04-02 23:41] staheri14 commented on #301
In any case, this must be reflected on the specs level to avoid confusion.

[2021-04-02 23:42] staheri14 commented on #302
Addressed in https://github.com/vacp2p/rfc/pull/323

[2021-04-05 17:34] richard-ramos opened #326 "13/WAKU2-STORE: Inconsistency between protobuffer definition and nim-waku implementation for WakuStore"
The unique numbers of the attributes of `HistoryQuery` and `HistoryResponse` should start with `1` to match https://github.com/status-im/nim-waku/blob/master/waku/v2/protocol/waku_store/waku_store.nim#L140-L145 and https://github.com/status-im/nim-waku/blob/master/waku/v2/protocol/waku_store/waku_store.nim#L160-L166
[code]

The `pageSize` attribute is specified as int64 in the protobuffer definiti

[2021-04-06 00:17] D4nte commented on #318
js-waku implements 11 and 14. If I understand correctly, 10 is composed of 11, 12, 13 so I guess we could say 10 is partially implemented.

[2021-04-06 00:29] richard-ramos commented on #318
go-waku implements: 7, 11 and 14, and partially implements 13 (no interop with nim-waku yet due to an issue i'm investigating)

[2021-04-06 03:25] D4nte opened #327 "13/WAKU2-STORE: Clarify relation between waku store `topics` and waku message `contentTopic`"
Reading https://github.com/status-im/nim-waku/blob/a0dba2fea4d56a97612e0c49d1fc4d432d67892e/waku/v2/protocol/waku_store/waku_store.nim#L310 it looks like `topics` in waku store `HistoryQuery` matches the `contentTopic` of waku messages.

However, reading the spec, there is no mention of this link. To add to the confusion, two different terminologies are used: `contentTopic` and `topics`.

If both

[2021-04-06 03:26] D4nte commented on #326
@jm-clius fyi

[2021-04-06 04:27] oskarth commented on #286
Agree, think we can leave this with your last research update. If we want to revisit this we can re-open issue, closing for now.

[2021-04-06 04:27] #286 closed, assigned to staheri14

[2021-04-06 04:31] oskarth commented on #301
Agree re having a default hashing function explicit. I suppose something like multihash could be used but still generally locked down to a specific hash function? Do we see any specific need for flexibility here? What does Eth2 do?

[2021-04-06 06:22] D4nte commented on #326
I think what is also missing is that the `topics` are [spec'd as `string`](https://github.com/vacp2p/rfc/blob/master/content/docs/rfcs/13/README.md#L55) but [implemented as `uint32`](https://github.com/status-im/nim-waku/blob/a0dba2fea4d56a97612e0c49d1fc4d432d67892e/waku/v2/protocol/waku_store/waku_store.nim#L138).

Edit: @staheri14 is actually owner of the waku store spec

[2021-04-06 06:26] D4nte commented on #326
Finally, `startTime (3)` and `endTime (4)` are used by nim-waku but not spec'd

[2021-04-06 07:43] D4nte opened #329 "`HistoryRPC` proto definition does not fully convey functional usage"
## Problem

According to @jm-clius, [`HistoryRPC` is meant to be use as an wire wrapper for `HistoryQuery` and `HistoryResponse`](https://discord.com/channels/624205794384281629/723487577973456896/828892324666671114).

However, the current [proto spec](https://github.com/vacp2p/rfc/blob/master/content/docs/rfcs/13/README.md#L64) does not allow for such usage:

[code]

With such proto definition, `

[2021-04-06 08:02] jm-clius commented on #329
From [proto3](https://developers.google.com/protocol-buffers/docs/proto3#specifying_field_rules) all fields are `optional` whether explicitly marked as such or not. This implies the specification already adheres to (2).

The benefit of having a single "wrapper" message is that the same wire specification is valid no matter the directionality of communication. In other words, whether you are sendin

[2021-04-06 08:37] D4nte commented on #329
Thank you for the clarification around proto3! I am happy to close the issue or keep it open for spec clarification!

[2021-04-06 08:51] #306 closed, assigned to staheri14

[2021-04-06 09:27] oskarth commented on #329
This is by design, and what @jm-clius said is correct. This also follows PubSub spec for RPC pattern https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.0.md#protobuf

[2021-04-06 15:42] #266 closed, assigned to jm-clius

[2021-04-06 17:42] richard-ramos commented on #329
A possible improvement to `HistoryRPC` structure could be to use `oneof`:

[code]

[2021-04-06 22:59] staheri14 commented on #329
This one seems a feasible and reasonable improvement

[2021-04-06 23:29] #302 closed, assigned to staheri14

[2021-04-06 23:51] staheri14 commented on #327
I have opened an issue for the clarification of the topics and contentTopics relation https://github.com/vacp2p/rfc/pull/331. However, I still have to investigate the type mismatch, not sure how it has been working with no problem so far.

[2021-04-07 01:45] D4nte commented on #326
The `pageSize` is encoded as `uint64` and decoded as `uint32`.
Round trip serialisation tests would prevent this kind of discrepancy.

[2021-04-07 01:57] D4nte commented on #326
Also, the `Index.Direction` `enum` does not match:
Specs:
[code]
Nim-waku:
[code]

[2021-04-07 04:22] oskarth commented on #329
I'm going to close this issue because currently the problem statement isn't clear. What is said in OP is not accurate "both must be present". We should be careful about making changes for the sake of changes, and it isn't clear to me what benefits there are, if any, to moving fields around. This is also following an established pattern at libp2p PubSub level. If people disagree, feel free to re-op

[2021-04-07 04:22] #329 closed, assigned to nobody

[2021-04-07 04:34] oskarth opened #332 "GENERAL: Explicit use of proto3 or proto2"
# Problem

In e.g. https://github.com/vacp2p/rfc/blob/master/content/docs/rfcs/13/README.md it isn't obvious if we are using proto2 or proto3. This may lead to confusion for implementers in terms of which fields are optional or not.

Additionally, we should use proto3 by default, and mark it as such, unless we have specific good reasons (e.g. extending a protocol that is based on proto2 definition

[2021-04-07 04:38] oskarth commented on #332
I notice that this is also the case for:

-  Waku Message https://rfc.vac.dev/spec/14/ @oskarth
- 11/WAKU2-RELAY https://rfc.vac.dev/spec/11/ @jm-clius
--- note that PubSub is using proto2, see https://github.com/libp2p/specs/issues/281
- 17/WAKU-RLN https://rfc.vac.dev/spec/17/ @staheri14

[2021-04-07 04:53] oskarth commented on #326
I'm not 100% sure but I think field 1 was reserved in case we wanted some form of request id at that level in the future (imagine multiple queries/responses in one RPC call).

Would having it start with 2,3 be an issue for protobuf serialization or do you remember why that was done @staheri14?

Mismatch of int64 seems like nim-waku implementation issue yes

[2021-04-07 05:06] #321 closed, assigned to jm-clius

[2021-04-07 06:07] D4nte commented on #223
- When do messages end up in the store
- relation between topics: See #327

will add if I encounter anything else.

[2021-04-07 06:21] D4nte commented on #327
Note: https://github.com/vacp2p/rfc/pull/335

[2021-04-07 18:15] staheri14 opened #338 "17/WAKU2-RLNRELAY: Clarify the use of proof field"
## Problem
This is to update the rln specs to clarify the use of `proof` field in the waku message and its relation with RLNRelay.

[2021-04-07 18:24] staheri14 opened #339 "14/WAKU2-MESSAGE: Add proof field to waku message"
## Problem
Currently, WakuMessage has a `proof` component which is the 21st field of the waku message protobuf.  This field is related to the RLNRelay. However, since RLNRelay is in a raw state and yet an experimental feature, we have not included this field in the WakuMessage specs.  Later on,  when RLNRelay turns into a draft, we shall consider adding this field to WakuMessage.

[2021-04-08 05:31] oskarth commented on #327
Thanks for the problem identification @D4nte in OP and this is indeed an issue. Recapping comments form proposed PR:

1. The current topic/contentTopic mismatch in store is confusing
2. The current store protocol design insufficiently captures the types of queries we want to do, and a name change doesn't fix this
3. Filter protocol does capture this, and the only structural difference between Filt

[2021-04-08 05:38] D4nte commented on #327
Thanks for the clarification @oskarth, I did not realize that the intent was to be able to work with both (gossipsub) `topics` and waku message `contentTopics`.

[2021-04-08 09:48] oskarth commented on #318
This is done for RFC side. It'd be good to have spec support in each repo too

[2021-04-08 18:37] richard-ramos opened #341 "13/WAKU2-STORE: Spec does not indicate that all messages are length prefixed"
WakuStore uses a bidirectional stream to receive requests and send responses over the same connection, and due to this, the messages are length prefixed so both ends of the communication know how many bytes to expect when receiving a message.
Nim-waku does this by using `writeLp()` and `readLp()` procs inside the stream handler.

However, this requirement of having messages to be length prefixed i

[2021-04-08 18:43] richard-ramos commented on #326
IMO it should not be an issue, but then nim-waku should be updated to use 2,3 instead of 1,2 for HistoryQuery and HistoryResponse.

[2021-04-08 19:48] staheri14 commented on #326
@richard-ramos Thanks for pointing this out! please see https://github.com/status-im/nim-waku/pull/469
cc @oskarth

[2021-04-08 20:48] staheri14 commented on #326
@oskarth
Not exactly sure, the ordering was like this since I remember. Changing the fields order in the implementation to match the specs would be an easy fix. Will do it.

[2021-04-08 22:45] staheri14 commented on #327
@oskarth agreed, sounds a great idea!

[2021-04-09 05:16] oskarth commented on #223
Think above PR closes the most pressing issues, if there is something else missing please feel free to ping or open another issue

[2021-04-09 05:16] #223 closed, assigned to oskarth

[2021-04-14 05:40] oskarth commented on #332
Ping @staheri14 re outstanding specs

[2021-04-14 05:41] oskarth commented on #318
Gonna close this one as I don't see any specific action from Vac side here. Could we add this to go-waku too @richard-ramos? Like @D4nte did for js-waku

[2021-04-14 05:41] #318 closed, assigned to oskarth

[2021-04-14 16:50] richard-ramos commented on #318
Yes, i ended up copying part of the readme from js-waku into  https://github.com/status-im/go-waku

[2021-04-14 23:46] staheri14 commented on #332
@oskarth
The corresponding PRs
Store: https://github.com/vacp2p/rfc/pull/344
RLN: https://github.com/vacp2p/rfc/pull/345

[2021-04-15 17:37] staheri14 opened #346 "GENERAL: Use snake_case field names for protobuf messages"
## Problem
As suggested by @D4nte: ~~https://github.com/vacp2p/rfc/pull/344/files#r613679908~~ https://github.com/vacp2p/rfc/pull/344#discussion_r613679908
 we may want to follow the protocol buffer style guide and use  snake_case for field names: https://developers.google.com/protocol-buffers/docs/style

This issue is to get to a consensus re this change.
cc: @oskarth @jm-clius
Let me know what d

[2021-04-16 07:31] jm-clius commented on #346
Yes, I agree. That is the idiomatic way of doing it. Thanks! :)

[2021-04-16 09:38] oskarth commented on #346
Interesting, does this mean what libp2p is doing here with field names like `ControlGraft` https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.0.md is not really idiomatic? I wonder if we should be idiomatic w.r.t libp2p or protobuf... I suppose this would largely be a stylistic thing more than anything else?

@dryajov @arnetheduck has this been discussed before?

[2021-04-16 09:51] arnetheduck commented on #346
Not that I know - there's a number of these small issues all over libp2p in general, ie assuming field order is deterministic, not following best practices etc.

Probably for any status protocols, it would indeed make sense to follow the style guide (and watch out for protobuf misuse)

[2021-04-16 20:30] dryajov commented on #346
We haven't really implemented a protocol that is not speced out by libp2p and yes it seems like `snake_case` is more idiomatic, that said I'm not sure if there is any difference besides style?

[2021-04-19 00:00] D4nte commented on #346
One (very small) practical advantage of using the protobuf suggested style in the specs is that developer can just copy paste the code in a proto files and use their favorite generator without getting any warnings and/or errors due to the casing.

[2021-04-19 05:47] oskarth commented on #346
It seems like this is largely a stylistic thing, but I'd be fine with us updating specs across the board be in line with protobuf style guide.

[2021-04-19 19:15] staheri14 opened #348 "12/WAKU2-FILTER: Redundant use of repeated ContentTopic inside ContentFilter"
## Problem
In the filter protocol, the `FilterRequest ` message contains a sequence of `ContentFilter`s. This is while the `ContentFilter`  itself embodies a sequence of `ContentTopic`s. This nested use of sequence is unnecessary and in fact the second use of sequence inside the `ContentTopic` must be omitted.

Why this change is needed? Conceptually, a  `ContentFilter` encapsulates a single boole

[2021-04-20 04:48] D4nte commented on #326
Please note that the following discrepancy has not yet been fixed:
[code]
I made the mistake of thinking it was all aligned :(

[2021-04-20 08:54] oskarth commented on #326
Did you see my comment above @D4nte re field number? https://github.com/vacp2p/rfc/issues/326#issuecomment-814598629

[2021-04-20 09:09] D4nte commented on #326
From what I can see in js-waku, I don't think 2,3 would introduce a serialization issue.

[2021-04-20 09:47] oskarth commented on #326
This also came up in call with Sanaz where we might want to introduce request_id in HistoryQuery to get multiple topic queries in one, which is why we kept 1 open for now as an id placeholder. Maybe this placeholder should be explicit as a comment in protobuf

[2021-04-20 18:24] staheri14 opened #351 "13/WAKU2-STORE: Clarifying the use of the reserved field of HistoryQuery and HistoryResponse"
## Problem
Currently, the first field of `HistoryQuery` and `HistoryResponse` are reserved for the future query identifiers. As an enhancement to the store protocol, we may want to accommodate multiple pubsub topics within one History RPC, to be more accurate, to have multiple `HistoryQueries` within on `HistoryRPC`.  Due to this, we have to keep the link bw the requests and their corresponding re

[2021-04-20 18:35] staheri14 commented on #326
@oskarth
Done! Opened the issue and the PR
PR: https://github.com/vacp2p/rfc/pull/352
Issue: https://github.com/vacp2p/rfc/issues/351

[2021-04-20 21:19] staheri14 commented on #327
I believe this issue has been addressed in https://github.com/vacp2p/rfc/pull/335 and https://github.com/vacp2p/rfc/pull/344#. So, I am closing it.

[2021-04-20 21:19] #327 closed, assigned to staheri14

[2021-04-20 22:00] staheri14 commented on #301
@oskarth
Looking at eth2 specs, the type of hash function is explicitly stated, Also could not see any use of multihash format
https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/beacon-chain.md#crypto
https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/beacon-chain.md#custom-types

[2021-04-21 05:42] oskarth opened #354 "RFC: LIGHTPUSH req/resp protocol"
# Problem

1. With relay protocol and short lived connections, we notice that a node might have problems with being included in the mesh https://github.com/status-im/nim-waku/issues/487

This is likely due to factors such as not respecting backpressure and thus being PRUNEd by Gossipsub peer scoring. This can be mitigated by persisting backoff period and thus reconnecting more gracefully https://g

[2021-04-21 05:48] oskarth commented on #354
cc @dryajov  @cammellos

[2021-04-21 05:53] #341 closed, assigned to oskarth

[2021-04-21 06:35] oskarth opened #355 "RFC: Extend STORE protocol to give meta information about capabilities in-protocol"
# Problem

STORE protocol is symmetric, and just knowing a peer is using STORE doesn't tell you much about what they are storing, if anything. The node can primarily be a "server" node or a "client" node.

## Proposed solution

There are a few different dimensions of information that are desirable:

- Are they persisting messages at all? For which topics? (e.g. default pubsub topic to start with)

[2021-04-21 15:42] jm-clius commented on #354
Excellent! This makes sense and will help us further separate `WakuFilter` concepts from `WakuRelay`. For example, in relation to

Unfortunately, we do currently need to subscribe to topics as well and will relay messages as a consequence. Related issue created here: https://github.com/status-im/nim-waku/issues/498

[2021-04-21 17:59] #326 closed, assigned to staheri14

[2021-04-21 19:55] staheri14 commented on #354
Great! That is certainly necessary to allow the separation of relay and publish functionality for a node in the relay protocol.

Regarding the failed publish and sending confirmation to a light node, wondering what is the current strategy in the relay protocol for a failed publish? resending? also what does exactly failed publish mean in this context? is it like that the message is not sent to the

[2021-04-21 20:03] #351 closed, assigned to staheri14

[2021-04-22 03:53] oskarth commented on #354
Good question, currently I'm not sure there is one. In general, it is fire-and-forget. The only failures we can detect here are ones that happen very close to the sending node itself (e.g., operation not completing / error / not enough connectivity) as once it is over the network who knows what can happen. In general, we want to be careful of amplification factors so expecting acks doesn't really

[2021-04-22 16:53] dryajov commented on #354
This makes sense in general as gossip is unreliable, but I wonder if we can alleviate some of the hurdles by tweaking the gossip scoring parameters. The way they are set right now are mostly favoring long lived connections, which is fine for something like eth2, but definitely not suitable for some scenarios in waku/messaging.

I would also point out the direct peers functionality in gossipsub 1.1

[2021-04-22 17:56] #301 closed, assigned to staheri14

[2021-04-23 06:01] oskarth commented on #354
Correct. My understanding from @jm-clius is that direct peers would require both peers to know and trust each other beforehand, which isn't really feasible for most Waku message scenarios. Correct me if I'm wrong, but it seems to be more suited to a cluster kind of setup where you know all the node ids beforehand?

[2021-04-23 18:37] dryajov commented on #354
Yes, both parties should know about each other and it's mostly meant in trusted setups.

[2021-04-27 06:59] D4nte commented on #355
Alice needs to do one history request to Bob to know whether Bob stores the `pubsubTopic` she is interested in. How would this initial request look like?

As `/vac/waku/store/2.0.0-beta2` is meant to retrieve historical data, it may make more sense to have a separate protocol to exchange information about storage capabilities such as `/vac/waku/store/2.0.0-beta2/info` or `/vac/waku/store/2.0.0-bet

[2021-04-27 23:08] staheri14 commented on #355
The solution looks good to me @oskarth! such info re nodes capabilities is also necessary for the FT store protocol where nodes want to retrieve message history from a peer who has been online for a certain time window.

I have some suggestions:
The current solution assumes that two nodes are randomly connected and have no prior information about each others' resources and capabilities. This somew

[2021-04-28 04:38] oskarth commented on #355
Great comments! Thanks both. Sounds like we have to do a bit more thinking and investigation on this one to come up with a good synthesis.

[2021-04-28 06:10] oskarth commented on #354
Acceptance criteria met, next up is draft spec (draft code done too)

[2021-04-28 06:10] #354 closed, assigned to oskarth

[2021-04-28 06:11] oskarth opened #358 "LIGTHPUSH draft mode"
# Problem

LIGHTPUSH has been experimentally implemented in nim-waku. Fix up spec to put in draft mode. It might also be a good idea to address https://github.com/status-im/nim-waku/issues/516

# Acceptance criteria

- Spec improved
- Spec in draft mode

[2021-05-03 22:09] D4nte opened #364 "Define recommendation for client developers around `contentTopic` and `pubsubTopic`"
# Problem

It is unclear for a developer what topics (both content or pubsub) they should be using for their application. At the moment, only default topics are defined in Wakuv2 implementations.

Also, each topic have their own side-effects.
- The `pubsubTopic` impacts whether a message will be propagated by a node,
- The `contentTopic` allows clients to retrieve a subset of messages from a store

[2021-05-04 04:30] oskarth commented on #364
Also see https://specs.status.im/spec/3 for topic usage in app

[2021-05-04 09:57] #348 closed, assigned to nobody

[2021-05-04 12:51] jm-clius commented on #355
This may fall outside the domain that Waku should have influence over - from libp2p's perspective, if a peer has a certain protocol mounted that protocol should be advertised in the [`identify` message](https://github.com/libp2p/specs/tree/master/identify#protocols). I think, however, we can use a similar pattern to what you suggested for topics, by appending the `server`/`client`/both information

[2021-05-05 04:37] D4nte commented on #355
The specs says `This is a list of protocols supported by the peer.` Please note I got some clarification from libp2p folks: https://github.com/libp2p/specs/issues/324#issuecomment-831831003

[2021-05-12 03:02] D4nte opened #368 "Categorise "app" specs"
# Problem

Depending on a dev's usecase, they may either want to use the waku network as a communication network only for the purposes of their dapp and create their own `contentTopic`, or they may want to plug in an existing application protocol to support it and use said protocol's `contentTopic` (e.g. M2M dapp notifications in wallets).

Currently, when checking the RFCs or when trying to point

[2021-05-12 03:02] D4nte commented on #368
Cc @oskarth

[2021-05-12 06:49] oskarth commented on #368
Let's add this to Vac PM and discuss next call

[2021-05-12 06:51] oskarth commented on #368
It'd be good to look at and briefly document existing ways of solving the same problem. For example: https://rfc.zeromq.org/, libp2p, EIPs, IETF, etc.

[2021-05-14 05:28] D4nte commented on #364
Also, once done, it would be good to align the chat content topic with the guidelines (currently `dingpu`).

[2021-05-17 10:18] oskarth commented on #364
Please add issues to Vac PM board in future @D4nte

[2021-05-17 23:40] D4nte opened #373 "Define Signature and Encryption schemes"
# Problem

A number of waku applications (eth dm, gasless polling) need an encryption and/or signature scheme.

The current encryption and signature scheme defined in the specs come from Waku v1 (see https://rfc.vac.dev/spec/14/). I understand that we would like to review it and possibly define a new scheme.

# Acceptance criteria

Define a signature scheme and encryption scheme for waku messages.

[2021-05-18 02:42] oskarth commented on #373
1) Does current scheme with version 1 seem to meet criteria, and is it just a question of porting it?
2) How desirable is interop with e.g. Status app/chat protocol? (e.g. in case of using a different version here)

[2021-05-18 06:43] D4nte commented on #373
After further thought on this matter, I thought it would be helpful to first have a go at using web3 for encryption and signature and learn what can be done.

1. It may be the case, it also seems that extracting private key from a Web3Provider is not straigthforward so for a use case such as ETH-DM we may just want to encrypt/sign with the web3 provider.
2. Interop may or may not be desirable. It

[2021-05-18 08:29] oskarth commented on #373
Sounds like a plan

[2021-05-19 02:16] #355 closed, assigned to nobody

[2021-05-20 00:55] D4nte commented on #368
1. zeromq: no categorization
2. libp2p: no categorization, do note that pubsub defines an interface and gossipsub extends it so gossipsub is stored in the pubsub folder
3. EIPs: have a table at the start of the document which contains a category section. The EIPs are then split per category on the home page: https://eips.ethereum.org/
4. IETF: More recent RFCs have a category section at the beginn

[2021-05-24 03:43] D4nte commented on #368
Having a "category" metadata field sounds the easiest way to do it.
We could then have a menu or page on the website that filter by categories.

[2021-05-24 05:26] oskarth opened #378 "Testing GH integration issue"

[2021-05-24 05:26] oskarth commented on #378
Cool, seems to work

[2021-05-24 05:27] #378 closed, assigned to nobody

[2021-05-24 05:53] oskarth commented on #368
Seems reasonable to me. @jm-clius @staheri14?

[2021-05-24 08:54] #358 closed, assigned to oskarth

[2021-05-24 10:29] oskarth commented on #364
I'll have a look at this

[2021-05-24 10:31] D4nte commented on #373
Would be good to also review the `version` terminology on WakuMessage. Currently, the versions specifies whether a message is clear (`0`) or encrypted Waku v1 style (`1`).

If we were to add a new encryption scheme (or signature scheme) for web3, then we would introduce version `2` which introduce some hierarchy between the encryption schema without it being valid.

The `version` should be renamed

[2021-05-25 05:52] oskarth commented on #262
Spec now split up into soft mock hard phases, so figuring this out in more detail will come later https://github.com/vacp2p/rfc/pull/380

[2021-05-25 10:38] oskarth commented on #262
Also to look into:

[2021-05-25 12:23] jm-clius opened #381 "15/WAKU-BRIDGE: General improvements"
[`15/WAKU-BRIDGE`](https://rfc.vac.dev/spec/15/) can be significantly improved and clarified.

Some suggestions:
- [ ] Add a background that properly explains the rationale of the `bridge` and where it fits into the Waku suite.
- [ ] Add a clearer mapping of `Envelope` to `WakuMessage` fields.
- [ ] Specify how Waku v1 topics should be mapped to Waku v2 content topics (see https://github.com/vacp2

[2021-05-26 06:13] #250 closed, assigned to oskarth

[2021-05-31 09:59] oskarth commented on #364
Done in https://github.com/vacp2p/rfc/pull/383

[2021-05-31 09:59] #364 closed, assigned to oskarth

[2021-05-31 10:00] oskarth commented on #227
Done with https://github.com/vacp2p/rfc/issues/364

[2021-05-31 10:00] #227 closed, assigned to oskarth, jm-clius

[2021-05-31 15:13] jm-clius commented on #368
Sounds good.

[2021-06-07 00:19] D4nte opened #391 "[ETH-DM] Revise protocol"
# Problem

After further investigation, the ETH-DM encryption proposal is simply not suitable to use with Web3.
A PoC should be done and then review the specs to propose a workable protocol.

PoC is tracked with https://github.com/status-im/js-waku/issues/72.

# Acceptance criteria

Spec re-written as per working PoC

# Note

Tracked in js-waku board.

[2021-06-07 10:09] D4nte commented on #368
I suggest all editor update their own spec with the category field.

[2021-06-09 17:10] staheri14 commented on #368
As for MVDS, it is going to be a `core` protocol like the waku filter (as discussed in https://github.com/vacp2p/rfc/discussions/384). @D4nte

[2021-06-09 17:14] staheri14 commented on #368
Is there any plan to explain each of these categories somewhere in the specs? e.g., in here https://rfc.vac.dev/spec/1/#appendix-b-metainformation @D4nte

[2021-06-09 23:42] D4nte commented on #368
Good idea. I'll update my PR

[2021-06-14 05:17] oskarth commented on #368
I'm not sure the "core" distinction is great as it stands. For now Waku v2 is "core" but the way it is defined now is a bit arbitrary. MVDS is intuitively core (because you can build stuff on top of it) but it doesn't map to a libp2p protocol (right now). Is there some other way of looking at this that is more unambiguous?

Also not capturing difference between e.g. Waku v2 which is a general spec

[2021-06-14 08:47] jm-clius opened #398 "DNS-based Discovery: Create `raw` specification"
Subtask of https://github.com/status-im/nim-waku/issues/452
Created as partial fulfilment of https://github.com/status-im/nim-waku/issues/552

### Problem

https://github.com/vacp2p/rfc/discussions/385 proposes a method to discover a bootstrap list of Waku v2 peers via DNS. This proposal must be raised to a `raw` specification.

[2021-06-14 10:52] oskarth commented on #368
It seems like we primarily want to distinguish "waku applications" here. What about using tags instead? And adding tags:

- Waku applications
- Waku core protocols

[2021-06-15 05:34] D4nte commented on #368
How does a tag look like?
Are you saying just having:

[code]

In the metainfo?

Happy to scrap the application metainfo if you don't think it maps well.

[2021-06-15 10:41] oskarth commented on #368
Yeah basically, I think it'd work as less of a straitjacket. Basically a spec can then have 0, 1 or many tags. For now the only need we have identified is separating out waku-core from waku-application

[2021-06-16 23:58] D4nte commented on #368
description updated

[2021-06-23 01:52] #391 closed, assigned to D4nte

[2021-06-23 05:28] D4nte opened #404 "20/ETH-DM: Update spec to reflect actual behaviour"
## Problem

Eth-DM's behavior has changed:
- JSON is not used anymore (See https://github.com/vacp2p/rfc/pull/403#issuecomment-866533818, done with https://github.com/status-im/js-waku/issues/214/https://github.com/status-im/js-waku/pull/228)
- Encryption is done using Waku Message version 1 (done with https://github.com/status-im/js-waku/pull/227).

The spec is used with js-waku's eth-dm example

[2021-06-23 05:29] D4nte commented on #404
Removed from Vac PM Board as I track it in https://github.com/status-im/js-waku/projects/1

[2021-06-23 07:00] oskarth opened #405 "22/TOY-CHAT: Change to draft"
Currently https://rfc.vac.dev/spec/22/ is in raw, but it should probably be in draft (if not stable, though then we can't change it).

Maybe something else needed? Not sure.

@D4nte as editor

[2021-06-23 07:21] oskarth opened #406 "Spec freeze: Mark main Waku v2 specs as stable"
# Problem

As we are getting more and more projects using Waku v2, there's a need for specs to be stabilized so they can be relied upon to be stable by end users. Furthermore, a minimal subset of specs have been essentially the same for many months.

See https://rfc.vac.dev/spec/1/#stable-specifications:

For example, WalletConnect wants to integrate with wallets, and for this protocol identifiers

[2021-06-23 07:31] #398 closed, assigned to jm-clius

[2021-06-23 08:04] oskarth commented on #373
A lot of relevant discussion happened here: https://github.com/status-im/js-waku/issues/72

For context, the ETH-DM design is separate from current WakuMessage https://rfc.vac.dev/spec/14/ and is not meant as an evolution or replacement of version 1.

What a "proper" v2 looks like is TBD, but could involve something like MLS, or fewer round trip Noise, or similar. It'd have to have enough utility

[2021-06-23 11:39] jm-clius commented on #406
IMO those 4 specs are OK to move to stable (only those 4, for now)

[2021-06-23 12:17] pedrouid commented on #406
Looks good to me too 👍  Those are the only specs we are currently relying on for WalletConnect

[2021-06-23 22:59] staheri14 commented on #406
Regarding the store protocol, I think there is still work to be done to mark it as stable.
For example,
- [x] We have an open issue re using the sender-generated timestamp for pagination (this will affect the Index protobuf). https://github.com/vacp2p/rfc/issues/219
- [ ] ~Another possible change is the use of int64 instead of float64 for the timestamps.~ NA
- [ ] ~There is also the index field re

[2021-06-24 00:16] D4nte opened #407 "20/ETH-DM: Mark spec as TOY"
For it to become a proper end-to-end encrypted messaging solution with good security and privacy protection, a lot more work is needed. Similar work is currently being tackle by the Status core team as part of their migration from Waku v1 to Waku v2.

Eth-DM was created to show case a dApp PoC that uses js-waku, not as a full blown, prod ready, dApp.

Hence, it should be marked as "TOY" and let dA

[2021-06-24 04:17] D4nte commented on #373
Something to mention is that there is also value in having signature only. version 1 of Waku Messages specifies encryption and signature but there are scenarios where only signature is needed (e.g. polling/voting).

I understand it is not currently prioritized but from a js-waku POV, this is something that has been systematically requested by users: How do I do encryption with Waku? How do I sign

[2021-06-24 04:48] oskarth commented on #406
Re Waku Message: https://github.com/vacp2p/rfc/issues/373 not sure how we want to deal with this uncertainty here

[2021-06-25 03:45] #405 closed, assigned to D4nte

[2021-06-25 04:08] D4nte commented on #406
I think there the question is simply: are we happy to use `version: number` to define some potential format for the payload or do we want to move to a different struct such as `format: 'raw'|'status-enc'|'eth-sign'` etc... to define that the payload may have a specific format.

IMHO, answering this question should be enough to make stable, we can then at a later stage define more formats.

[2021-06-25 04:25] oskarth commented on #406
What would you specifically suggest here that would be a minimal diff? In terms of protobuf and data type change from current version field. What has worked in other tls/libp2p/noise etc specs?

[2021-06-25 06:14] #407 closed, assigned to D4nte

[2021-06-27 07:41] oskarth commented on #373
See https://github.com/status-im/js-waku/issues/179 for some more clarity on what we mean by "keys" and what capabilities exists.

It is also worth distinguishing more clearly from Waku envelope data and Waku payload encryption, both from v1, from Status protocol. They are separate.

[2021-06-28 04:13] oskarth commented on #406
Answering my own question, we could follow something like https://github.com/libp2p/specs/blob/master/peer-ids/peer-ids.md#keys

Looking at https://github.com/status-im/js-waku/issues/179#issuecomment-869117193 I think we need to clean up the encryption spec story, it is a bit diffuse right now with things in different places etc. So I think that should probably be in draft for now?

Ditto main sp

[2021-06-28 05:11] D4nte commented on #406
Note that from our discussion, my understanding on version 1 is not yet up to scratch so feel free to dismiss my comment.

[2021-06-28 06:11] D4nte commented on #373
I continued the discussion in https://forum.vac.dev/t/signature-and-encryption-in-waku-v2/85 to review 7/WAKU-DATA in the context of Waku v2.

[2021-06-28 06:55] jm-clius commented on #406
Will do!

[2021-06-29 06:41] D4nte commented on #373
Action item from 28Jun Vac PM meeting is to write a new waku envelope spec for Waku v2.

[2021-06-30 19:47] staheri14 commented on #406
@oskarth I am working on addressing all the remaining issues of the store protocol. My estimation is that they are going to be done in a week or two.

[2021-07-01 03:03] oskarth opened #412 "Spec that shows Waku v1 and v2 encryption with more clarity"
# Problem

Currently version 1 in 14/WAKU-MESSAGE https://rfc.vac.dev/spec/14/ defers to previously defined encryption in 7/WAKU-DATA https://rfc.vac.dev/spec/7/ and by extension 6/WAKU1 https://rfc.vac.dev/spec/6/. This has a few problems:

1) It is a bit hard to follow, since it isn't all in one place
2) It is written with Waku v1 in mind, not v2, which leads to some confusion
3) Some parts are

[2021-07-02 04:05] oskarth opened #414 "Improved encrypted Waku Payload"
This is a list of possible weaknesses, unknowns and enhancements of https://github.com/vacp2p/rfc/pull/413

The goal is to collect requirements and identify potential issues in the existing behavior.

## List of things to investigate

### 1. Issue with v parameter

This should be 0,1, but due to Bitcoin standard it is 27, 28. Later on, this has moved in Ethereum to:

V = CHAIN_ID * 2 + 35:

See:
-

[2021-07-02 09:29] jm-clius opened #415 "Recommendation specification for Waku v2 peer management"
# Problem

As more Waku v2 clients are being developed, it has become important to collate suggested Waku v2 peer storage and peer management features into a recommendation spec.
`nim-waku` already implements its own rudimentary [peer store](https://github.com/status-im/nim-waku/blob/master/waku/v2/node/peer_manager/waku_peer_store.nim) and [peer management](https://github.com/status-im/nim-waku/b

[2021-07-05 07:20] cammellos commented on #406
I have looked at the specs, and looks good on our side, I haven't focused on store since it seems that it won't be marked as stable for now, but the rest look ok.
thanks

[2021-07-05 09:30] jm-clius opened #418 "Admin API: query for peers with specific capabilities."
# Problem

The Admin API provides a `get_waku_v2_admin_v1_peers` method to query the peers currently registered on a Waku v2 node. [This method currently takes no parameters](https://rfc.vac.dev/spec/16/#get_waku_v2_admin_v1_peers).

It will be useful to specify some filter criteria when querying for peers, including filtering on `connectedness` state and registered `protocol`.
Example uses:
"Veri

[2021-07-05 09:42] jm-clius opened #419 "Specify recommended GossipSub parameters"
# Problem

`libp2p` PubSub, FloodSub and GossipSub define a long list of tweakable parameters that control the underlying behaviour of each protocol (for example, [here](https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.0.md#parameters) and [here](https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.1.md)).

Although most client implementations use the

[2021-07-05 17:48] John-44 opened #420 "Feasiblity discussion: The community message history problem"
**What is the problem we are trying to solve?**

Users who are used to using a centralized group chat platform like Discord have an expectations that:

1. new users joining a community will have access to all historical messages in that community (including messages that predate the user joining)
2. historical messages will remain available to users after they re-install their group chat app on a

[2021-07-06 14:20] #415 closed, assigned to jm-clius

[2021-07-07 05:41] D4nte opened #422 "16/WAKU2-RPC: Dead link to WakuRelayMessage"
There are a number of links pointing to https://rfc.vac.dev/spec/16/#WakuRelayMessage in the RFC spec, it is a dead link. Can you please correct it?

[2021-07-07 05:44] D4nte opened #423 "16/WAKU2-RPC: WakuMessage as RPC input"
# Problem

The fact that both clear and private APIs take a WakuMessage in input is a bit confusing.

I imagine if you set `version = 1` to a message submitted to `post_waku_v2_relay_v1_message` then the message is just sent as is, meaning that recipients expect it to be encrypted.

But when using `post_waku_v2_private_v1_symmetric_message`, nim-waku does the encryption for you. Should the `versio

[2021-07-07 06:01] cammellos opened #424 "13/WAKU2-STORE / 14/WAKU2-MESSAGE: Allow messages to be marked as "don't store""
Sometimes the application might produce messages that don't need to be stored, an example would be a ping to show that you are online, or for example messages that are time sensitive (say a push notification, through our current push notification system, which would be ignored if retrieved at a later date).

In those cases it would be useful to mark them as "don't store", so that they are not stor

[2021-07-07 23:41] staheri14 commented on #420
Thanks @John-44 for the detailed and clear problem statement and set of requirements!

Some of the listed problems can be addressed through the WAKU2-Store protocol which I explain below. Additionally, I have included our current limitations and ongoing research.

**WAKU2-Store protocol**
1.  It is a decentralized solution, the aim is to provide message history in a p2p manner. This complies with

[2021-07-07 23:47] staheri14 commented on #420
@John-44 Can you please elaborate on the second requirement i.e., scalability. Especially about this part :

I am not sure about the scalability that is mentioned in this part and the concern about the history size. My understanding is that the solution should give an option to the user to fetch a subset of the history but not necessarily the entire history, is this correct?

[2021-07-07 23:56] D4nte commented on #423
Actually it is fine, just need to fix the dead link that led to my confusion with #422.

[2021-07-07 23:56] #423 closed, assigned to nobody

[2021-07-07 23:56] #219 closed, assigned to staheri14

[2021-07-08 01:12] D4nte opened #425 "16/WAKU2-RPC: KeyPair type is incorrect"
https://github.com/vacp2p/rfc/blob/a20ef2d11c9b81c449d87e9f6a8d68537578a059/content/docs/rfcs/16/README.md#L348-L353

`post_waku_v2_private_v1_asymmetric_message` actually returns:

[code]

[2021-07-09 04:45] D4nte commented on #420
May I add that similarly to the discovery issue, the store node needs to be reachable.

If Alice enabled the chat history on her status desktop laptop that access to internet behind NAT then to allow Bob to connect to Alice to retrieve historical messages either:
- Alice must open and forward some ports on her router (to go through the NAT)
- Or other technology such as upnp, nat-pmp needs to be e

[2021-07-09 06:23] oskarth commented on #420
NAT is addressed here https://github.com/status-im/nim-waku/blob/master/waku/v2/node/config.nim#L44-L47 and follows same pattern as Nimbus is doing, which is working for Eth2.

[2021-07-09 19:06] John-44 commented on #420
@staheri14 thanks for your reply!  I've got some questions to help me better understand exactly what is possible if we use waku store nodes to solve this problem, and to also hopefully flesh out the requirements of the community message history problem a bit more.

From the above, is it correct to assume that waku store nodes can be configured in such a way so that an individual node only stores t

[2021-07-09 19:14] John-44 commented on #420
As the message history of a community will include every message and image posted to every channel in the community, the message history for a large and active community (and especially a community where a lot of images are posted) can and will grow to a large size (multiple GBs)!

This is why it's important that any solution to this problem should let users set a max limit (in MB or GB) of the am

[2021-07-12 04:51] oskarth opened #426 "14/WAKU2-MESSAGE: Update spec to reference new 26/WAKU-PAYLOAD"
# Problem

Currently 14 is pointing to previous spec. It should point to the new one.

See https://github.com/vacp2p/rfc/issues/412 for more details

[2021-07-12 04:51] oskarth commented on #412
Done

[2021-07-12 04:51] #412 closed, assigned to oskarth

[2021-07-12 04:52] oskarth commented on #373
Done, see https://github.com/vacp2p/rfc/issues/412

If something else is missing here please open new specific issue @D4nte

[2021-07-12 04:52] #373 closed, assigned to D4nte, oskarth

[2021-07-12 10:30] oskarth commented on #424
Good idea! Would a `ephemeral` field in Waku Message spec https://rfc.vac.dev/spec/14/ work? Then by convention store nodes wouldn't store those messages.

Similar to MVDS metadata `  bool ephemeral = 2;`

[2021-07-12 10:31] oskarth commented on #424
Also cc @staheri14 fyi

[2021-07-12 11:43] cammellos commented on #424
@oskarth yes, precisely that would work, thanks!

[2021-07-12 14:12] cammellos commented on #424
Another option, it could be a bit more generic, say to allow a StoreTTL, after which point messages are not sent to users from mailservers, so you can still pull them if you just arrived online, and cover both cases.
Say something like:

`StoreTTL=x` means that if I fetch messages those that have `SenderTime + TTL < RequestTimeFrom < RequestTimeTo`

In this case it covers the case outlined above a

[2021-07-12 21:36] staheri14 commented on #424
@oskarth
That is definitely doable and is a good idea.

[2021-07-12 21:40] staheri14 commented on #424
@cammellos
I understand the message should be persisted only for `StoreTTL` e.g., 2 minutes since its creation time. But I could not get the use of `RequestTimeFrom` and `RequestTimeTo`? can you please give an example?

[2021-07-13 06:07] cammellos commented on #424
@staheri14 sorry, my bad, I didn't apply the reasoning to the current specs.

Looking at the store docs, I noticed there's a feature that we are missing (maybe though is there and I missed it :) ) https://rfc.vac.dev/spec/13/

Basically when querying store, we want also to specify a range.

The way we currently do is using two parameters, From and To (on top of cursor, which works mostly as in the

[2021-07-13 18:26] staheri14 commented on #420
It depends on how waku v2 is utilized, but the simple answer is yes. If each community has a specific and distinct content topic or pubsub topic(that is all the messages created within that community carry that content topic or pubsub topic) then  messages within each community can be distinguished from other communities, hence store nodes would be able to decide on persisting/not persisting messa

[2021-07-13 18:34] staheri14 commented on #420
I see your point! Totally! limiting the storage of each store node would be easy from the configuration point of view, however, that would impact the full history availability. However, depending on whether an existing file-sharing tool is going to be used or just the store protocol, we can think of a solution for that as well.

[2021-07-13 19:01] #248 closed, assigned to staheri14

[2021-07-14 09:31] #137 closed, assigned to nobody

[2021-07-14 09:31] #138 closed, assigned to nobody

[2021-07-14 09:31] #139 closed, assigned to nobody

[2021-07-14 09:40] oskarth commented on #189
Is this backlog or in progress @staheri14?

[2021-07-14 09:44] #208 closed, assigned to nobody

[2021-07-14 09:46] oskarth commented on #245
@staheri14 could consider doing this as part of refactor&upstream week, taking existing analysis and opening issue/PR to libp2p specs/forum

[2021-07-14 09:48] #262 closed, assigned to nobody

[2021-07-14 09:50] oskarth commented on #288
@alfredolopez80 I think this is working now, please let us know if you are still having issues! Closing for now.

[2021-07-14 09:50] #288 closed, assigned to nobody

[2021-07-14 09:56] #332 closed, assigned to oskarth, staheri14, jm-clius

[2021-07-14 09:58] #424 closed, assigned to nobody

[2021-07-14 10:00] oskarth commented on #339
@staheri14 this might impact moving Waku Message to stable, together with field order for possible ephemeral/ttl

[2021-07-14 10:04] oskarth commented on #404
@D4nte not sure how prio it is to use compressed JSON for an example app?